[2017-11-18 09:15] kaynz commented on #784
Yea, same here. And even more: My SymbolLayer doesn't show anything. Same for you?

[2017-11-18 09:30] ghost opened #785 "Execution Failed transform classes with Dex / JarMerging"
I've just started using MapBox in react-native but I appear to be getting the following error

* What went wrong:
[code]

multiDexEnabled true
I then get the following

[code]
Here's the config

build.gradle .../android

[code]

build.gradle ../app

[code]
settings.gradle

[code]

[code]

I'm not sure if this is a matter of my current project config or what not, but i've not seen reports of this s

[2017-11-18 11:04] tobrun commented on #775
A `NoClassDefFoundError` means that the [Timber](https://github.com/JakeWharton/timber) dependency wasn't available at runtime (while it was available at compile time). This is rather strange as we haven't run into this issue upstream in [mapbox-gl-native](https://github.com/mapbox/mapbox-gl-native/).

Capturing from multiple SO posts, as [this one](https://stackoverflow.com/questions/32576482/jav

[2017-11-18 16:36] lucasgray opened #786 "MapboxGL.ShapeSource doesn't allow overlap"
So I'm upgrading from 5.0.0 to 6.0.0 and playing around with the new methods and features. I'm building an augmented reality game where resources appear on the map, which can be gathered by going to that location.

I use custom images and was able to pull them successfully using the new `MapboxGL.ShapeSource` element.  I've noticed using this strategy that the annotations now behave much different

[2017-11-18 16:52] lucasgray commented on #786
Scratch that, I found `iconAllowOverlap: true`

[2017-11-18 16:52] #786 closed, assigned to nobody

[2017-11-18 19:01] nitaliano commented on #784
Source ID's are required unless you are working with the `composite` source which is a source provided for you from mapbox when using our style urls.  Layer ID's are required and they can point to a layer on the map you want to manipulate or it can be a brand new layer you want to add to the map.

@kaynz if you post some code of what type of data you're putting into your source, and the props you'

[2017-11-18 19:01] #784 closed, assigned to nobody

[2017-11-19 03:08] butchmarshall commented on #550
This is still an issue in [v6]

[2017-11-19 03:10] butchmarshall opened #787 "[v6] onRegionDidChange fires with animated=false on every call to render()"
It looks like v6 did not fix the animated property issue with onRegionDidChange.

onRegionDidChange seems to fire after every call to the render() view.

I have a RE-CENTER button on the screen which works just like google maps which shows when the user drags the map, and hides and sets userTrackingMode=true when clicked.

1. Drag the screen while in userTrackingMode=true, i use handleRegionDidCha

[2017-11-19 04:45] butchmarshall commented on #787
I attempted to use PanResponder to try and implement my own drag-detection on the parent view, but `<MapboxGL.MapView>` seems to somehow override it?

[2017-11-19 09:53] ghost commented on #767
Hello, I'm having a similar issue and was wondering if you could help, please, https://github.com/mapbox/react-native-mapbox-gl/issues/785

Thanks very much!

[2017-11-19 10:58] kaynz commented on #787
That's the issue I wanted to describe in #782.

[2017-11-19 17:43] kaynz commented on #779
Thanks. Is it possible to register onPress events for the symbols in the spacesource?

[2017-11-20 00:49] butchmarshall opened #788 "[v6] production crash - com.mapbox.mapboxsdk.exceptions.InvalidLatLngBoundsException"
I get this in my beta production build occasionally when existing the app.

com.mapbox.mapboxsdk.exceptions.InvalidLatLngBoundsException:
  at com.mapbox.mapboxsdk.geometry.LatLngBounds$Builder.build (LatLngBounds.java:288)
  at com.mapbox.reactnativemapboxgl.ReactNativeMapboxGLView.getBounds (ReactNativeMapboxGLView.java:685)
  at com.mapbox.reactnativemapboxgl.ReactNativeMapboxGLManager.getBound

[2017-11-20 01:32] tsemerad commented on #772
I would definitely prefer this to be an array as well. I maintain a few projects that store the full style JSON in the redux store, and intend to share logic between my web and React Native builds of the app, so having fewer API differences would be better. Thanks for considering this!

[2017-11-20 06:55] smoll commented on #502
Hey @RobertSasak I noticed you mentioned you're using your own server to host mbtiles/rasters for download/accessing offline and was just wondering: have you had any luck pointing `react-native-mapbox-gl` at a local file instead of having it manage the download from a remote server for you? My use case is I'm already downloading a big zip file containing a bunch of things like images and other met

[2017-11-20 07:10] henrikra commented on #777
@nitaliano I am now ready to use your extra logging build if you want :)

Tried again this morning with my repro repo and got the error state in 5th try :(

[2017-11-20 07:43] a-morenovalls commented on #788
How it's possible to debug or show the log in production?

EDIT: Ok, I see you are running on Android, in our case the problem is also on iOS, there's a problem with Mapbox on release build (using 6.0.0-beta2).

[2017-11-20 08:46] lucasbento commented on #769
@nitaliano: thanks for answering, how do I specify that I need it to return only on `LineLayer`?

Specifying `['LineString']`/`['LineLayer']`/`['MultiLineString']`, all together and `['==', 'type', 'LineString']`, none of them seem to work, it keeps returning all the map rendered features.

[2017-11-20 09:00] henrikra commented on #777
Update:
I tried your proposal @nitaliano and I tried hard coding screen dimension in three ways:
1. hard coding screen dimensions just to mapview **I still got the bug** 🔴
2. hard coding screen dimension just to parenting View **I didn't get the bug** ✅  when rebooting for 15 min
3. hard coding screen dimensions to mapview and it's containing view **I didn't get the bug** ✅  when rebooting for 15

[2017-11-20 09:37] kristfal commented on #787
Hey,

I think the biggest issue here is that you guys are are trying to work around a lack APIs in the SDK. There are two underlying issues that I think needs to be resolved:

1) We need to be able to track the state of trackingMode, and the behavior of these need to be normalized across iOS and Android (#699)
2) We need to be able to track the state of the map through regionDidChanage or a simila

[2017-11-20 10:36] RobertSasak commented on #502
I'm sorry I have not tried it myself. Perhaps you can use *file://* or *assets://*. I would start reading here
https://github.com/mapbox/mapbox-gl-native/issues/579

[2017-11-20 10:41] RNMBuser opened #789 "How do I add/remove and show/hide a layer at runtime?"
Can this layer reference a source layer in the styleURL?
I tried to use the RasterLayer visibility, with no success.
I will appreciate an example!

[2017-11-20 10:52] RNMBuser opened #790 "tiles property missing from RasterSource"
The [example](https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/WatercolorRasterTiles.js) uses the url property instead.

[2017-11-20 14:29] glarivie commented on #747
@sroze thanks

[2017-11-20 17:05] nitaliano commented on #788
@butchmarshall do you still have `v5` in your project? `com.mapbox.reactnativemapboxgl` is from v5.

[2017-11-20 17:06] nitaliano commented on #789
@RNMBuser you can add/remove layers and sources by just removing them as children of your MapView. I'll look into RasterLayer visibility

[2017-11-20 17:08] nitaliano commented on #700
The iOS SDK just dropped with support for snapshotting, so next week I'll start working on adding support for it in the RN SDK

[2017-11-20 17:10] nitaliano commented on #790
Are you referring to wanting the ability to point to a JSON file that conforms to the [tilejson-spec](https://github.com/mapbox/tilejson-spec/) so you can load data locally?

[2017-11-20 17:14] nitaliano commented on #785
@michaelstokes would you be able to post both your android and app build.gradle files? At a glance I would try adding this to your app/build.gradle deps

[code]

assuming you have this set in your app/build.gradle

[code]

[2017-11-20 17:25] butchmarshall commented on #788
Apologies - I pulled the wrong crash report from google play.

It looks like the crash report i keep submitting isn't coming through...

[2017-11-20 17:25] #788 closed, assigned to nobody

[2017-11-20 18:09] nitaliano commented on #779
Follow this example - https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/QueryAtPoint.js#L44

You can query the features rendered on the map with a point or bbox. I'll be releasing a PR this week that adds support for an onPress on a ShapeSource, so I'll query under the hood for the user

[2017-11-20 18:09] #779 closed, assigned to nobody

[2017-11-20 18:28] scottsampson opened #791 "App crashes when adding layerIndex={2}"
The app is crashing when I try to zIndex a couple of layers using layerIndex.  My code is as follows:

[code]

[2017-11-20 19:20] nitaliano commented on #772
It's going to change to an array and from now on I'll work at making sure the styles are sharable across web and mobile.

I'm even thinking of taking this a step further and creating an example that has both GL JS and RN in it that are both sharing the same constants/reducers/actions to show just how possible it is to share between web and mobile.

Thanks for the input!

[2017-11-20 19:46] nitaliano commented on #791
@scottsampson your sourceLayerID should be on your layers, I would try this out.

[code]

[2017-11-20 21:34] scottsampson commented on #791
@nitaliano Thanks!  That worked.  If anyone is wondering, It also works with a 2nd shapesource with a differing dataset as well.

[2017-11-20 21:50] scottsampson opened #792 "Remote url images in a symbol layer"
I am having trouble adding a remote absolute url image to symbol layers.  I have icons working just fine from a local source but remote sources just aren't working.  I was able to get remote urls to work from annotations but I feel this isn't proper and from what I can see I can't add an annotations to a layer to zIndex above/below other layers.

Here are the important parts of my code:

[code]

I

[2017-11-20 21:52] nitaliano commented on #791
Great glad it's working closing this out

[2017-11-20 21:52] #791 closed, assigned to nobody

[2017-11-20 21:58] nitaliano commented on #792
@scottsampson is this happening on both iOS and Android?

[2017-11-20 21:58] ghost commented on #785
@nitaliano thanks for your response, appreciate it!

I tried adding in the compile along with the current `multiDexEnabled true` and it didn't seem to have an impact still having the error of

[code]

Please see android and app gradle

[code]

[code]

**settings.gradle**

[code]

Here's the stacktrace additionally with running `cd android/ && ./gradlew assembleDebug --stacktrace`

[code]

Thanks v

[2017-11-20 22:03] nitaliano commented on #785
@michaelstokes I found this issue, it seems to be the same https://github.com/facebook/react-native/issues/12646 based off this line.
[code]
Seems like two version of okhttp are conflicting with each other. I'm pretty sure the Android Mapbox SDK uses okhttp internally.

[2017-11-20 22:09] esamelson commented on #772
Sounds awesome 🎉 thanks for all your work!

[2017-11-20 23:05] ghost commented on #785
@nitaliano Thanks for finding the issue, seems the last suggested workaround enables `react-native run-android` to complete successfully but then an app error appears quite suddenly on launch and then exits.

![screenshot_20171120-225938](https://user-images.githubusercontent.com/7087915/33046046-326dde00-ce47-11e7-9265-0e585dc1ce07.png)

[2017-11-20 23:22] nitaliano commented on #785
That's because RN has issues on Android with event names so this repo and react-native-maps are going to collide they both register onPress events. Ideally we should namespace the events in both repos.

I can submit a PR to namespace them in this repo to avoid the conflicts.

[2017-11-20 23:41] ghost commented on #785
Thanks @nitaliano Removing `react-native-maps` as no longer needed as attempting to use mapbox completly then leads onto an error I believe is related to `tipsi-stripe`

![screenshot_20171120-233332](https://user-images.githubusercontent.com/7087915/33047174-52c97632-ce4c-11e7-9e0c-caeabb6a37d2.png)

https://github.com/tipsi/tipsi-stripe/pull/136

[2017-11-21 08:00] lucasbento commented on #769
@nitaliano: can you give some light on this?

[2017-11-21 11:36] henrikra opened #794 "[Android] onRegionDidChange fires when screen is unmounted"
I noticed that on Android when the current screen (that is containing the map component) is unmounted the map will still emit `onRegionDidChange` event for no reason. This is not happening on iOS. So iOS is fine.

[2017-11-21 13:24] hannta commented on #697
Any news on this @nitaliano, I think this would be very useful feature for many use cases.

[2017-11-21 17:56] scottsampson commented on #792
@nitaliano Just iOS for me.  I have not created an Android version of the app yet.

[2017-11-21 18:43] nitaliano commented on #769
@lucasbento here are some [docs](https://www.mapbox.com/mapbox-gl-js/style-spec/#other-filter)(scroll to bottom anchor link is broken) from the style spec that might help shed more light on filtering.

When you are preforming a filter it is only checking the properties of the feature, so using the feature below I would only be able to filter on it's `name` property.
[code]

To get around this we h

[2017-11-22 10:01] GuillotJessica commented on #768
Hello,
Yet to 6.0.1 released, but I got the same issue, actually it doesn't request any permission whatsoever, but the release apk crashes anyway with the same error, do I have to request somewhere else than the installation setting ?

AndroidManifest.xml :
`    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS

[2017-11-22 12:00] ghost commented on #785
Hello,

Thankfully I was finally able to get mapbox in on my android version in react-native after resolving issues that popped up along the way: First of all my first attempt was on an older version of react-native 0.44.0, I later upgraded to the latest version of react native
[code]
and using react
[code]

[code]

This was the first, the app exceeds the maximum number of methods so we go ahead a

[2017-11-22 13:10] hernanmateo commented on #742
Hello @RNMBuser @nitaliano ,
I also have the same problem and in the meantime I have created a fork that implements this functionality only for iOS (as I only use this repository to this platform). Be carefull because it does not work exactly in the same way as in v5 since in this case it triggers ALL the changes that occur and in the previous version (v5) only returns those produced by the 'syste

[2017-11-22 13:15] hernanmateo commented on #743
Hi @RNMBuser @nitaliano,
I have also added this functionality to my [fork](https://github.com/hernanmateo/react-native-mapbox-gl) (from release/6.0.1), you can choose between three vertical positions (iOS only):

[code]
It is documented on the MapView docs.

ex.

[code]
I hope that Mapbox adds this functionality soon to the official repository

[2017-11-22 14:19] ghost commented on #785
@nitaliano I assume the current

`    pod 'react-native-mapbox-gl', path: '../node_modules/react-native-mapbox-gl'
`

Can't yet be used in podfile to install?

Would the current manual approach work, I've attempted doing so but seems to result in some now iOS build issues perhaps related to tipsi-stripe again ... I get one step closer with the android and now for the iOS :D

[2017-11-22 15:09] harshq opened #795 "[ANDROID] Execution failed for task ':app:transformClassesWithJarMergingForDebug'."
Awesome library. Thank you for all the work you have done. Followed the installation steps. Works fine on iOS but throws this build error on android.

`Execution failed for task ':app:transformClassesWithJarMergingForDebug'.

Did anyone face something similar ?

[2017-11-22 15:26] ghost commented on #795
Hi @harshq Please see https://github.com/mapbox/react-native-mapbox-gl/issues/785 I don't know if it will be of any use, but that's my journey to get mapbox working.

Can I ask how you managed to get it working on iOS please @harshq  ?

I'm currently getting spec not found when adding

[code]

to pod file

https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/install.md

[2017-11-22 15:31] Jose4gg commented on #795
Hi, I resolved that on my current project by doing the following in the `app/build.grandle`

              exclude group: 'android.arch.core'
  }

[2017-11-22 15:37] Jose4gg opened #796 "[ANDROID] User location rendering behind Shapes"
On IOS the user location is always on Top, but on Android is different. I think should be equal on both and should be always on top.

![](https://dl2.pushbulletusercontent.com/4R6xzl5mPTcpYSbkMyKiznIVfFz5dWOr/Screenshot_20171122-113341.png)

[2017-11-22 15:49] nitaliano commented on #795
@michaelstokes pods won't work until this PR https://github.com/mapbox/react-native-mapbox-gl/pull/741 gets merged in that adds support

[2017-11-22 15:50] ghost commented on #795
Thanks @nitaliano Appreciate, MapBox is looking great on Android anyway - really keen to start using it more, Thanks very much - great stuff!

[2017-11-22 16:01] nitaliano commented on #796
Agreed. The Android and iOS SDK are both rendering the user location different.

The Android SDK is loading the user location as a layer, and on iOS it's loaded as an AnnotationView. What we could probably do for Android is just default the user location layer to always be the top layer(0 index).

One thing to note about this is since Android is using a layer to render this all AnnotationView's wi

[2017-11-22 16:31] Jose4gg commented on #796
Perfect, thank you as always!

[2017-11-22 18:26] #785 closed, assigned to nobody

[2017-11-22 19:23] smoll commented on #766
So I finally figured out the root cause of all these seg faults. Basically, if you make a call to any of `MapboxGL.offlineManager`'s methods BEFORE the [`onDidFinishLoadingMap` event fires and the map's style is loaded](https://github.com/mapbox/react-native-mapbox-gl/blob/18144b4a81f911a04c8f593c0abf5b0c6d760f06/example/src/components/CreateOfflineRegion.js#L121), you will get seg faults.

In my

[2017-11-22 19:57] GuillotJessica opened #798 "[ANDROID] tile is stuck but annotations moves"
I've got this trouble here [stackoverflow](https://stackoverflow.com/questions/47440185/react-native-mapbox-v6-0-0-map-is-stuck-for-android)
my map is displayed in a screen with annotations and callout, every thing is working fine except the map who is stuck, the compass moves, everything works but the tile
Callout respond to a stackNavigation which seems to be the problem

[2017-11-23 15:27] nitaliano commented on #798
@GuillotJessica can you post a video? I'm not sure I follow

[2017-11-23 16:44] hernanmateo commented on #744
Have you tried with async await funcs?

[2017-11-23 19:55] GuillotJessica commented on #798
Thanks for the help[
[gif](https://i.imgur.com/eBmyxQi.mp4)
Actually I've been looking deeply into the problem and as you can see, it'a mix of mapbox and stacknavigation problem, it seams that everything reload but the map tile but I may be wrong.
Also I can't find much documentation regarding MapBox RaactNative. I push the annotations into an array maybe not the best idea but the one used in the

[2017-11-23 20:02] josenaves opened #799 "[offline] getPack does not show download status"
I'm working on an offline mode for my app. It downloads several map packs (vector and raster).

For some unknown reason, the download of some packs are not finished (with no error callbacks).

So, I'd like to get some information about a specific map pack. For that, I tried to use
[code]

It returned something like that:
[code]

Is it possible to have download status on getPack result ?

[2017-11-23 20:21] henrikra commented on #795
We started to get same error
[code]
after we added https://github.com/tinycreative/react-native-intercom to our project. And by hours of debugging we also found that excluding `exclude group: 'android.arch.lifecycle', module: 'extensions'` on mapbox helped! Also the same exclude as @Jose4gg had!

So the problem must be that mapbox and react-native-intercom (and some other libraries) have colliding

[2017-11-23 21:10] greatwillow opened #800 "Can't get ShapeSource to Render a Line"
I am currently implementing a geo-tracking functionality which would display a line indicating where the user has been.  Having been through some trial and error, I haven't yet been able to get anything showing on the map using ShapeSource.  I am just wondering if I am missing something.  I haven't been able to get the examples working (another potential issue/ deprecated dependencies with Turf et

[2017-11-23 22:05] nitaliano commented on #800
Are your coordinates in [longitude, latitude] order? You should also use master or the latest npm version 6.0.0

[2017-11-23 23:17] ghost commented on #795
Hi @henrikra Have you come across this issue specifically and how to resolve it?

[code]

Many thanks!

[2017-11-24 03:02] khomyakov42 opened #801 "Error React 16.0.0 removed React.PropTypes."
Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

[2017-11-24 03:25] khomyakov42 opened #802 "Error MapboxAccountManager was not started correctly"
![screenshot_20171124-132304](https://user-images.githubusercontent.com/866005/33194302-c5058e86-d11a-11e7-826e-f4eac4f5eeb5.png)
[code]

[2017-11-24 03:49] greatwillow commented on #800
Thank-you @nitaliano !  Yes, that was it!  Got the coordinates reversed.  I'm new to GeoJSON and so must have skipped past this thinking that it was a norm to use latitude first.  Thanks for your help and your great work on the project!

[2017-11-24 12:51] kristfal commented on #798
@GuillotJessica Do you happen to have multiple navigatorScreens with mapbox maps nested within the same stack?

If so, I think its an issue I encountered that I can't fully reproduce. There seems to be an issue where if you run two maps at the same time nested in a StackNavigator, the bottom most map will render at the top of the one in the current stack (while the top map receives touch input), g

[2017-11-24 14:13] stabenfeldt opened #803 "undefined is not an object (evaluation 'MapboxGL.UserTrackingModes')"
*src/components/map/index.tsx*
[code]
*package.json*
`  "@mapbox/react-native-mapbox-gl": "^6.0.0",`

I've been trying to debug where the bug is. When I remove line 5 in `map/index.tsx`, everything works. Well, it does not crash at least.

**stack trace from React Native**
[code]

[2017-11-24 14:16] GuillotJessica commented on #798
Here's my entire navigation
The map displays only in one place
The map is on CommercesScreen

[code]

[2017-11-24 17:36] nitaliano commented on #803
Have you linked react-native-mapbox-gl in your android and ios app https://github.com/mapbox/react-native-mapbox-gl#installation-guides?

[2017-11-24 17:36] nitaliano commented on #802
Are you setting your access token?

[2017-11-24 17:36] #800 closed, assigned to nobody

[2017-11-25 01:31] khomyakov42 commented on #802
No, how do I do this?

[2017-11-25 17:40] nitaliano commented on #802
you need to create an access token https://github.com/mapbox/react-native-mapbox-gl#sign-up-for-mapbox

then you should add this to your apps `componentWillMount`

[code]

[2017-11-25 17:40] #802 closed, assigned to nobody

[2017-11-26 20:29] henrikra commented on #775
Here are OS versions our users are getting the crash:
![image](https://user-images.githubusercontent.com/12229968/33244052-3c276090-d2f9-11e7-987f-41dcc0061ea8.png)

So this has something to do with their old Android version?

[2017-11-26 20:33] henrikra opened #804 "com.facebook.react.bridge.JSApplicationIllegalArgumentException"
New crash that our users are getting. Using `react-native-mapbox-gl` 6.0.0

[code]

[2017-11-27 08:32] henrikra opened #805 "[iOS] Map does not zoom to user location when userTrackingMode changed after permissions granted"
To reproduce make MapView which has `showUserLocation` as `false` and `userTrackingMode` as `Mapbox.UserTrackingModes.None` as default. Then add button which makes `showUserLocation` as `true` and `userTrackingMode` as `Mapbox.UserTrackingModes.Follow`. After this map is not zoomed to my location :/

Tell me if you guys need more info :)

[2017-11-27 08:56] GuillotJessica commented on #798
Hello, @nitaliano
So what do i do, is there any way I can refresh the map?
Did I miss something?
Is there any more verbose documentation regarding Mapbox the the github  one?
Tx, Jessica

[2017-11-27 09:54] stabenfeldt commented on #803
Embarrassing to admit, but I missed that part of the installation guide.

As a non Android developer, it was a bit hard to see that you were referring to files in the guide. I've made an attempt of making that clearer.  Please see PR #806

[2017-11-27 09:54] #803 closed, assigned to nobody

[2017-11-27 12:26] stephenheron opened #807 "iOS Memory Leak"
Hi,

I am having a memory leak issue that I am having trouble tracking down.

I am using the MapBox map a fair amount and when you navigate deeply down through the app and then back up the memory usage continues to rise.

I have a video showing the issue here: https://youtu.be/uy1kGgzM50Q

As you can see when you drill down into the app the memory rises. This is to be expected but when you go back

[2017-11-27 14:57] nitaliano commented on #807
Is componentWillUnmount called at all when using react navigation? I've known from past use using react navigation it might not be unmounting the components correctly. I've profiled the example application before with the modal and it unmounts the Map and memory goes down

[2017-11-27 15:39] GuillotJessica opened #808 "example not accurate"
react-native-mapbox-gl/example/src/components/YoYo.js
this.state.zoomLevel is not called,
but is changed in different functions.
if I do
eg this.state.zoom:13
zoomLevel={this.state.zoom}
it returns undefined is not an object
it returns
same for coordinates, I give it an array but says I give it a type string...
also, react-native-mapbox-gl/blob/master/docs/MapView.md
in /Utils l80
[code]

userTrac

[2017-11-27 16:33] GuillotJessica commented on #662
@nitaliano the link  [ https://github.com/mapbox/react-native-mapbox-gl/tree/bugfix/662](https://github.com/mapbox/react-native-mapbox-gl/tree/bugfix/662) return 404

[2017-11-27 16:55] kaynz opened #809 "onRegionIsChaning vs onRegionDidChange"
Hey,

what is the difference between onRegionIsChanging and onRegionDidChange?

I would expect onRegionDidChange to fire when the User stops dragging (=release finger) the map. Actually both listeners seem to behave same, fire while dragging.

[2017-11-27 17:30] stephenheron commented on #807
Hi,

componentWillUnmount does seem to be called correctly.

However I might have got to the bottom of the issue. I took the simplest map example and dropped it in place of my map and the memory leak went away. I then added functionality back in bit by bit until the memory leak appeared and it seems to be something todo with the geoJSON.

Sometimes my map has geoJSON and other times it does not so

[2017-11-27 17:42] nitaliano commented on #798
I believe I know what's happening it could be due to the [GLSurfaceView](https://developer.android.com/reference/android/opengl/GLSurfaceView.html). React Native runs in one [Activity](https://developer.android.com/reference/android/app/Activity.html) on Android, and multiple GLSurfaceViews cannot be placed on top of each other on Android in the same Activity. Something like react-native-navigatio

[2017-11-27 17:47] nitaliano commented on #808
What version of RN are you using? Those issues should not appearing on the newer versions of RN for prop-type warnings

[2017-11-27 17:48] nitaliano commented on #801
We are using the prop-types package and it's a peer dependency of the repo. Would you be able to post the warnings you are seeing?

[2017-11-27 18:27] GuillotJessica commented on #808
react": "16.0.0-alpha.12",
    "react-native": "0.47.2",
    "@mapbox/react-native-mapbox-gl": "^6.0.0",

[2017-11-27 18:47] GuillotJessica commented on #798
give me a snippet, I'd love to give it a go
KR
Jessica

[2017-11-27 18:47] GuillotJessica commented on #798
Except that the annotations inside theMapboxGL.MapView are still moving

[2017-11-27 19:02] nitaliano commented on #798
@GuillotJessica `<MapboxGL.MapView key='test' ...` this might reuse the same mapview avoiding having multiple

[2017-11-27 19:02] kristfal commented on #798
Just to chime in, my workaround was to set the underlying map (at the bottom of the stack) to position absolute when an additional map at the top of the navigation stack is shown.

[2017-11-27 19:18] GuillotJessica commented on #798
I only have one map @kristfal and compass, annotation are still working fine

[2017-11-27 20:42] scottsampson commented on #792
@nitaliano, figured it out.  The iconImages object should have the uri key for any remote url.  Here is an example:

[code]

[2017-11-27 22:46] #755 closed, assigned to nobody

[2017-11-27 22:46] nitaliano commented on #775
@henrikra how are you enabling multidex in your app?

[2017-11-27 22:48] nitaliano commented on #799
I believe we have access to this information on the native side. We can for sure add this to the pack object

[2017-11-27 22:58] nitaliano commented on #809
`onRegionIsChanging` should fire while dragging the map and `onRegionDidChange` should fire once the region is done changing.  The problem is on Android `onRegionDidChange` gets fired even while dragging the map, but on iOS `onRegiondDidChange` only gets called once the camera is done moving. We have a bug open in gl-native for it https://github.com/mapbox/mapbox-gl-native/issues/10337

[2017-11-27 22:58] #809 closed, assigned to nobody

[2017-11-27 23:04] nitaliano commented on #808
I would try updating to a newer version of RN, it's helped others something above 0.48.

[2017-11-27 23:07] cglacet opened #810 "Fitbounds animation looks odd when zooming out"
When the current area is smaller than the final one, the animation looks like its sliding then zooming out whereas in the JS version its nice ans smooth (both happens simultaneously and not linearly). Am I missing something or is it intended?

[2017-11-27 23:14] josenaves commented on #799
It would be great to have it on JS side. I can help doing a PR to Android.

[2017-11-27 23:22] nitaliano commented on #810
It's using a parametrized camera check this issue for reference https://github.com/mapbox/react-native-mapbox-gl/issues/758#issuecomment-344585646 there is a workaround in the ticket that will eventually be added added as the real config. Closing this out as a duplicate and we can track this in the ticket I posted above.

[2017-11-27 23:22] #810 closed, assigned to nobody

[2017-11-27 23:29] vzlprojects opened #811 "[ANDROID] Mapbox map freeze when back the map after receive call, replay a messenge or standby phone."
Hello! I have a app with mapbox.
when i receive a call or messenge and back the map, the gps dont work and the map freeze...
I have to restart the map to go back to normal. Please help!

Thanks!

The app...
![c](https://user-images.githubusercontent.com/34045136/33294820-4495954a-d3ca-11e7-9531-8538bb2cc8c2.png)

[2017-11-28 00:26] tsemerad opened #812 "Support for raw style JSON"
I'm curious if there are plans or considerations to allow passing a full style JSON into the component, where the component intelligently diffs the previous and next style to transition the map to the new style.

Such functionality is in common use in Mapbox GL JS when used with React (such as in Uber's [react-map-gl](https://uber.github.io/react-map-gl), or as described in this [Mapbox blog post]

[2017-11-28 01:18] nitaliano commented on #812
To me this does seem like it would be possible to do now with a component that wraps MapboxGL.MapView. It would be able to keep track of it's current raw style, so it would be able to diff it's next style and know how to convert that code into something that the MapboxGL.StyleSheet can understand. It would know about all of it's children, and would be able to update the render method intelligently

[2017-11-28 01:24] butchmarshall opened #813 "[v6] setCamera zoomLevel doesn't set zoom level"
The zoom level remains fixed when calling setCamera (pitch, centerCoordinate, and duration all work fine).

[code]

[2017-11-28 01:27] nitaliano commented on #813
@butchmarshall the camera config calls it `zoom` instead of `zoomLevel`

[2017-11-28 01:29] nitaliano commented on #811
I can look into it, what version of Android are you running?

[2017-11-28 01:36] butchmarshall commented on #813
Ah! Thanks!  Works like a charm!

Note: [docs](https://github.com/mapbox/react-native-mapbox-gl/blob/master/docs/MapView.md) should be updated.

[2017-11-28 01:36] #813 closed, assigned to nobody

[2017-11-28 01:46] vzlprojects commented on #811
Thanks for the answer! 7.0 (nougat). Samsung S8. there will be some way for the map and gps to continue tracking while I read a message, for example...

[2017-11-28 01:53] vzlprojects commented on #811
please, see the vídeo: https://www.youtube.com/watch?v=OZAI5U3W7OQ

I minimized the app and wrote a message. when I return to the app / mapbox, the map zoom does not work and gps is inactive. I have to restart the map to return to normal.

[2017-11-28 03:22] nitaliano commented on #811
This looks exactly like this issue checkout the gif https://github.com/mapbox/react-native-mapbox-gl/issues/798#issuecomment-346689956 are you using react-navigation by any chance?

[2017-11-28 03:26] khomyakov42 commented on #801
in new release the problem fixed

[2017-11-28 03:26] #801 closed, assigned to nobody

[2017-11-28 06:23] henrikra commented on #775
You mean this `multiDexEnabled true` in `app/build.gradle`? Yes

[2017-11-28 09:42] cglacet commented on #810
I'm not quite sure to understand what you suggested, I tried this:

[code]

But it gives the apparent same result. I managed to achieve something that looks a bit closer to what mapbox JS does by doing this ugly thing:

[code]

Of course it's not smooth at all since the camera pan happens after zooming out. Is there a way to mix two camera moves together? (Allowing to move and zoom out simultaneou

[2017-11-28 10:07] GuillotJessica commented on #808
here's my new versions
    "react": "16.0.0",
    "react-native": "0.50.4",
warn are gone

[2017-11-28 10:09] GuillotJessica commented on #798
here's my new versions
    "react": "16.0.0",
    "react-native": "0.50.4",
same issue
in my case everything zoom, compass, annotations work except the map tile is freeze

[2017-11-28 12:00] tobrun commented on #775
And do you have 'MultiDex.install(this);' in your application object?

[2017-11-28 12:10] henrikra commented on #775
@tobrun Haven't ever heard of this :O

[2017-11-28 13:16] Jose4gg opened #814 "[ANDROID] Mapbox crashing the APP"
After Mapbox ask for permissions on Android the app starts crashing itself continuously.

`11-28 13:11:28.309  5043  5043 E UncaughtException: java.lang.AbstractMethodError: abstract method "boolean com.google.android.gms.common.api.Api$zze.zzaax()"
11-28 13:11:28.309  5043  5043 E UncaughtException: 	at com.google.android.gms.common.api.GoogleApiClient$Builder.build(Unknown Source)
11-28 13:11:28

[2017-11-28 13:26] Jose4gg commented on #814
If I select `DENY` the app starts perfectly

[2017-11-28 14:41] hernanmateo commented on #814
I don't know your exact situation, but I pass through a similar issue by importing some google play services packages in the build.gradle file:

[code]

[2017-11-28 15:27] GuillotJessica commented on #808
There is some other miswriting
[MapView.md](https://github.com/mapbox/react-native-mapbox-gl/blob/bf1ce26495dff3234c9266fb8964b4ad2d9f1543/docs/MapView.md#flytocoordinates-duration)
says :
flyTo(coordinates[, duration])
but expect :
this.map.flyTo([lng, lat])
so should be  :
flyTo([coordinates], duration)
am I right?
Jessica

[2017-11-28 15:46] GuillotJessica commented on #814
@hernanmateo
I copy the following line into Android/App/build.gradle and get the following error during build to the simulator :
`com.android.build.api.transform.TransformException: com.android.ide.common.process.ProcessException: java.util.concurrent.ExecutionException: com.android.dex.DexIndexOverflowException: Cannot merge new index 66297 into a non-jumbo instruction!`
Did you do anything else

[2017-11-28 16:23] hernanmateo commented on #814
Try to enable dexOptions/jumboMode in your app/build.grade file

[code]

[2017-11-28 16:35] GuillotJessica commented on #814
@hernanmateo it works fine thx 🥇

[2017-11-28 16:59] nitaliano commented on #808
@GuillotJessica normally with docs the brackets mean the parameter is optional, so
`flyTo(coordinates[, duration])` means duration is optional not that it is an array

[2017-11-28 17:26] #808 closed, assigned to nobody

[2017-11-28 17:28] nitaliano commented on #810
ah sorry misunderstood, you can try
[code]

[2017-11-28 17:29] nitaliano commented on #799
@josenaves if you do want to give it a go I would be happy to do the iOS portion on a branch with you

[2017-11-28 17:31] nitaliano commented on #804
What this error looks like it's saying is the View itself is null when it's trying to get the views width.  Do you happen to have more info like is the app in the background are the annotation views offscreen?

[2017-11-28 17:33] nitaliano commented on #775
@henrikra you also might want to add the support library as well https://developer.android.com/studio/build/multidex.html

[2017-11-28 17:34] nitaliano commented on #795
@harshq have you fixed your issue?

[2017-11-28 17:35] nitaliano commented on #792
Great glad it's working, I'm going to close this out

[2017-11-28 17:35] #792 closed, assigned to nobody

[2017-11-28 17:36] nitaliano commented on #751
I'm going to close this out, I'll PR an update to the readme with the expo feature request link

[2017-11-28 17:36] #751 closed, assigned to nobody

[2017-11-28 17:39] nitaliano commented on #814
@Jose4gg It does sound like certain deps are colliding I would recommending doing what @hernanmateo mentioned above

[2017-11-28 17:39] #814 closed, assigned to nobody

[2017-11-28 17:40] nitaliano commented on #807
The code you posted above actually removes the source and all of it's layers from the RN view tree. What I'm wondering is why it's not removing when the MapView is being removed with react-navigation

[2017-11-28 17:41] nitaliano commented on #798
@GuillotJessica have you tried adding a key to the MapView?

[2017-11-28 18:27] josenaves commented on #799
:+1:  Sure thing @nitaliano ! You can count on me for Android implementation.

[2017-11-28 18:51] StevanCakic opened #815 "[Question] Drawing geometry on map"
Hi,

I have a question. What is the simplest and most efficient way to draw different geometry shapes on the map, like points, polygons, lines, etc. ? I know for https://github.com/mapbox/mapbox-gl-draw but is there anything like this but for drawing on mobile? Thanks

[2017-11-28 18:54] nitaliano commented on #815
There is no draw package out yet, but there are plans to have one. Do you need to be able to edit the vertices for your use case?

[2017-11-28 19:03] StevanCakic commented on #815
I need 3 types of shapes: points, lines/ multi lines, and polygons. What I want to do with this:

-allow a user to draw (insert) those shapes and when the user hits some submit button this shapes will be inserted in some .json or database
- allow the user to update those shapes from that data source (move vertices for multiple lines and polygons, moving points, etc.)
- allow the user to delete  th

[2017-11-28 20:15] vzlprojects commented on #811
Sorry for the delay answering your question. I'm using an Activity and a layout with a MapView and some other elements...
For the location I'm using "com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.3.0-SNAPSHOT"

[2017-11-28 22:18] nitaliano commented on #711
I published 6.0.1 are you still seeing this issue?

[2017-11-28 22:23] nitaliano opened #817 "Add ImageSource Support"
Now that ImageSources have now been added to both native SDK's it's time to get it added to RN

The iOS docs give a great explanation if anyone would like to learn more about this type of source https://www.mapbox.com/ios-sdk/api/3.7.0/Classes/MGLImageSource.html

[2017-11-28 22:24] nitaliano opened #818 "Add Snapshot Support"
Snapshot support was recently added to our native iOS SDK 3.7.0, and has existed in the Android SDK. Now it's time to get this in the RN SDK.

[2017-11-28 22:44] nitaliano opened #819 "Generate new style props for iOS(3.7.0) and Android(5.2.0)"
More style props have been added in the recent agua release so we need to pull in the updated style-spec.json and run our generate script

New style props
* iconAnchor
* iconPitchAlignment
* circlePitchAlignment

[2017-11-28 23:23] nitaliano commented on #700
I'll be updating this ticket with progress https://github.com/mapbox/react-native-mapbox-gl/issues/818 expect it to hit in our next release `6.0.2`

[2017-11-29 03:39] butchmarshall opened #820 "[v6] MapboxGL.offlineManager information about pack size"
v5 had

[code]

Does v6 have this information to expose?  It would be useful to show the users the amount of data being downloaded.

[2017-11-29 10:01] StasDoskalenko commented on #819
hey @nitaliano ! Thanks for a great job! Will you add ImageSource for georeferenced overlays support?

[2017-11-29 13:06] sironjuh opened #821 "Android crashes when trying to use SymbolLayer"
I have an issue on Android with the SymbolLayer. Trying to use images I get a crash:

[code]
I'm passing the select icon like this:

[code]
And the layer is initialized:

[code]
This works fine on an iOS.

React Native v0.50.4
react-native-mapbox-gl v6.0.0

Any pointers where to look at?

[2017-11-29 14:03] butchmarshall opened #822 "[v6] Crash on exit"
Editing the app caused a crash.  This was collected by google play.

java.lang.RuntimeException: Unable to destroy activity {com.snow_trails/com.snow_trails.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.maps.NativeMapView.terminateContext()' on a null object reference
	at android.app.ActivityThread.performDestroyActivity(ActivityThread.j

[2017-11-29 14:28] ndballantyne commented on #804
The following occurs with app in foreground, off-screen annotations loaded, while moving map around. Our component updates (and reloads annotations) after map bounds change. If we disable the component update the error goes away (though we then have separate issues with map freezing).

`11-29 14:20:26.939  3118  3118 E AndroidRuntime: FATAL EXCEPTION: main
11-29 14:20:26.939  3118  3118 E AndroidR

[2017-11-29 16:55] hernanmateo commented on #798
@GuillotJessica  @nitaliano  I have tried and nothing changes. I'm experiencing a similar issue, in my case I have two distinct maps in a different tabs and the maps are overlapped when I switch between them. This issue is only happening on android and I'm using pure javascript navigator.

[2017-11-29 17:14] nitaliano commented on #819
Yes you can follow this ticket https://github.com/mapbox/react-native-mapbox-gl/issues/817

[2017-11-29 17:17] josenaves opened #823 "[Android] App crashes when annotation is selected"
I'm using the latest version (master).
Android emulator 7.1.1.

11-29 15:11:45.621  4732  4732 E AndroidRuntime: FATAL EXCEPTION: main
11-29 15:11:45.621  4732  4732 E AndroidRuntime: Process: com.dispatchr, PID: 4732
11-29 15:11:45.621  4732  4732 E AndroidRuntime: java.lang.IllegalStateException: A catalyst view must have an explicit width and height given to it. This should normally happen as p

[2017-11-29 17:34] GuillotJessica commented on #798
@nitaliano there is no key props possible [MapViewDoc](https://github.com/mapbox/react-native-mapbox-gl/blob/0e17f89c69d7688381705072d3660bbdc48e80d4/docs/MapView.md) send me a snippet and i'll reproduce

[2017-11-29 17:36] nitaliano commented on #823
does your custom view have a width and height on it?

[2017-11-29 17:39] nitaliano commented on #798
@GuillotJessica key is a React property https://reactjs.org/docs/lists-and-keys.html

@hernanmateo I would try with what @kristfal suggested, the JS navigator is making the GLSurfaceView's overlap which is not possible on Android

[2017-11-29 17:45] GuillotJessica opened #825 "annotation vs SymbolLayer"
Hello,
According to the doc
javascript/components/SymbolLayer.js
SymbolLayer is a style layer that renders icon and text labels at points or along lines on the map.
javascript/components/PointAnnotation.js
PointAnnotation represents a one-dimensional shape located at a single geographical coordinate.
I want to have the most bestpractice as possible to show multiple custom markers with callout
in t

[2017-11-29 17:45] nitaliano commented on #822
This is also posted here https://github.com/mapbox/react-native-mapbox-gl/issues/749 I'm going to close this out as a dup and we can track progress in 749. Thanks for posting!

[2017-11-29 17:45] #822 closed, assigned to nobody

[2017-11-29 17:49] nitaliano commented on #821
@sironjuh I'm assuming your features in your ShapeSource have a `marker` property? You can just do

[code]

I would recommend using token strings for iconImages

[2017-11-29 17:50] GuillotJessica commented on #798
thx @nitaliano
Here's my code
[code]
the problem remain

[2017-11-29 18:01] #819 closed, assigned to nitaliano

[2017-11-29 18:56] josenaves commented on #823
Do you mean, my annotations ?
Yes, they have width and height set.
For the map, I'm setting only the width (percentage).

[2017-11-29 20:24] sironjuh commented on #821
@nitaliano Excellent, switching from identity to plain '{marker}' fixed the Android crash. Since it was working on iOS I was a bit baffled what was causing it, as all the other values got through just fine.

Thanks!

[2017-11-29 20:24] #821 closed, assigned to nobody

[2017-11-29 21:28] nitaliano commented on #817
First PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/826

[2017-11-30 00:19] nitaliano commented on #758
PR is out that updates this https://github.com/mapbox/react-native-mapbox-gl/pull/828

[2017-11-30 00:20] nitaliano commented on #775
@henrikra are you still having this issue?

[2017-11-30 02:50] vzlprojects commented on #811
Same....
https://github.com/mapbox/mapbox-gl-native/issues/9254

[2017-11-30 06:55] henrikra commented on #775
@nitaliano Yeah. Last time was yesterday

[2017-11-30 08:07] henrikra commented on #805
Ahaa looks like the problem was that I was not rendering map at this point at all :P

[2017-11-30 08:07] #805 closed, assigned to nobody

[2017-11-30 08:17] henrikra commented on #794
@nitaliano Do you need more info for this? :D

[2017-11-30 08:37] GuillotJessica commented on #823
send your code to have a look

[2017-11-30 09:58] cglacet commented on #825
**Edit**: I tried it, and I think I know the difference.

I think that nothing shows because you don't define a [style](https://github.com/mapbox/react-native-mapbox-gl/blob/master/docs/SymbolLayer.md#styles) to your `SymbolLayer`.
You need to modify your symbolLayer like this:

[code]

Your `style.symbol` can contain anything from [here](https://github.com/mapbox/react-native-mapbox-gl/blob/maste

[2017-11-30 14:03] devstepbcn commented on #798
Hello @nitaliano, I just tested this issue using [wix/react-native-navigation](https://github.com/wix/react-native-navigation) and the overlapping problem persists.

[2017-11-30 14:42] GuillotJessica commented on #825
from my understanding, annotations are allowed to a maximum of 60 of height, so limited amount of information

[2017-11-30 15:02] cglacet commented on #825
It doesn't seem like there is such a limitation, I can display huge annotation with my version.

[2017-11-30 15:37] GuillotJessica commented on #825
@cglacet I'd love to have a look to one of your annotation as I spend my day failed to do so

[2017-11-30 15:38] cglacet commented on #825
I was actually wrong on something: Layers are not real layers (not like they are when you declare new layers in your mapbox style), and therefore they also suffer from lags when moving the map. Therefore I have no idea why you should chose layers instead of symbols 😞.

The best way to do things would be do declare a new layer in your mapbox style file (statically). And then dynamically modify its

[2017-11-30 15:40] cglacet commented on #825
You can found one example of annotation [here](https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/ShowPointAnnotation.js#L90) 😄

[2017-11-30 15:45] nitaliano commented on #820
Yes we can expose that info we have access to it on the native side

[2017-11-30 15:59] josenaves commented on #823
I think it's an issue here on my side. I'll try to get more details before close this one.

[2017-11-30 16:07] GuillotJessica commented on #825
thx @cglacet i knew this one but these dimensions are below mine

[2017-11-30 16:25] cglacet commented on #825
I'm not sure to understand what you mean, but you can change the annotation size by modifying `ANNOTATION_SIZE` which is used in the stylesheet to adjust the annotation's inner view.

[2017-11-30 16:34] GuillotJessica commented on #825
ANNotationSize height is below 60 which I think is the average maximum I can get, but I'm working on it...

[2017-11-30 16:38] GuillotJessica commented on #825
excuse me it is the size of the callout I'm talking about

[2017-11-30 17:09] cglacet commented on #825
This should work: `<MapboxGL.Callout title={title} style={{height:500, width:500}}/>`. You also can define the style outside if you want it to be clean.

[2017-11-30 17:31] GuillotJessica commented on #825
I started my callOut from scratch and it work out, my bad, thank you very much

[2017-11-30 17:41] GuillotJessica commented on #825
but i still wander the differences between annotation vs SymbolLayer

[2017-11-30 17:45] nitaliano commented on #825
PointAnnotation(Annotation Views) are a legacy concept. It comes from the web where you can add say a View(div) on the screen and be able to add touch events, animate elements, and styling them using your frameworks styling API. The problem is these type of annotations do not scale, they need to be synchronized with the map every time you move the map causing a shake, if you try to animate one of

[2017-11-30 17:58] nitaliano commented on #817
Closing this out it's been merged into master

[2017-11-30 17:58] #817 closed, assigned to nitaliano

[2017-11-30 18:08] nitaliano commented on #697
I'm going to start looking into this next week. This is a very important feature IMO, I've wanted this feature in every app that I've built with this SDK so far. Once we finish adding support for being able to snapshot the map this is next the feature in line

[2017-11-30 18:14] nitaliano opened #829 "Add more information to offline packs"
We have more information on the native side, so we should add it to our JSON that we send up to the JS.

From the tickets I've been reading it looks like we should add
* status(download status)
* countOfResourcesExpected
* maximumResourcesExpected
* countOfResourcesCompleted
* countOfBytesCompleted

[2017-11-30 18:15] nitaliano commented on #820
@butchmarshall closing this out in favor of https://github.com/mapbox/react-native-mapbox-gl/issues/829 there are some other tickets requesting more information being added to offline packs so we can move the discussions over there.

[2017-11-30 18:15] #820 closed, assigned to nobody

[2017-11-30 18:16] nitaliano commented on #799
@josenaves closing this out in favor of https://github.com/mapbox/react-native-mapbox-gl/issues/829 since there a few tickets with offline packs requests we can have the discussion in one place

[2017-11-30 18:16] #799 closed, assigned to nobody

[2017-11-30 18:18] nitaliano commented on #775
Did you add this to your application

[code]

and this to your mainfest
[code]

and give the support library for multidex a try?

[2017-11-30 18:51] GuillotJessica commented on #825
Thank you very much @nitaliano for these thorough explanation.

[2017-11-30 19:05] josenaves commented on #799
:+1:

[2017-11-30 20:21] josenaves commented on #829
Hey @nitaliano, for getPack, we have something like this:

[code]

What about this:

[code]

[2017-11-30 21:41] nitaliano commented on #829
@josenaves looks great!

[2017-11-30 23:05] 1ec5 commented on #812
mapbox/mapbox-gl-native#9256 implemented smooth transitions between partially differing styles. mapbox/mapbox-gl-native#6386 would indeed block the most straightforward implementation of what you’re requesting, but in the meantime, it might be possible for RNMBGL to circumvent the runtime styling API and set the style to a temporary JSON file generated on the JavaScript side using diffStyles.

[2017-12-01 08:42] hannta commented on #711
Thanks @nitaliano unfortunately I haven't had time to test this very comprehensively but at least it is working better now 👍

[2017-12-01 10:11] henrikra commented on #775
Problem found! According to the docs https://developer.android.com/studio/build/multidex.html you have to add `compile 'com.android.support:multidex:1.0.1'` to the dependencies and add
[code]
to your `MainApplication.java`

But ONLY IF your minSdkVersion is set to 20 or lower and you want multidex enabled. Our is 16 :P Thanks for the debugging help guys!

[2017-12-01 10:11] #775 closed, assigned to nobody

[2017-12-01 13:29] olofd opened #830 "v6 Custom callouts not opening after zoom [iOS]"
I use MapboxGL.PointAnnotation with MapboxGL.Callout to render custom callouts.
They render fine in the simulator and do always open there (Even though the simulator is slow)
On device they work and open as they should before I zoom.
After zoom the more and more start to not open at all.

After a couple of minutes the nearly never open at all.

Video to demonstrate issue:
https://www.youtube.com/w

[2017-12-01 15:54] tsemerad commented on #812
Thanks for the responses.

What you describe here sounds like we'd create a MapboxGL.StyleSheet in response to passed in style JSON. If there isn't a problem with constructing new MapboxGL.StyleSheets over and over again throughout the component's lifecycle, this could work, but it would still require the end-developers like myself to maintain a "conversion" function that converts any possible sty

[2017-12-01 16:08] tsemerad commented on #812
@1ec5 You mentioned passing a "temporary JSON file" to the native SDK - are you saying that RNMBGL could pass a full style JSON and the iOS SDK could then transition the map to that style? The first link you posted, mapbox/mapbox-gl-native#9256, implies that that might be possible. If so, that would save me a lot of effort, as I'd no longer need a conversion function to convert the full mapbox gl

[2017-12-01 21:04] luskin commented on #767
I am also having the same issue, @Jose4gg would you please post your solution to this?

[2017-12-01 21:35] luskin opened #831 "[Android] Duplicate Entry: SafeIterableMap$Entry.class"
Hello. As soon as I add the react-native-mapbox-gl package to android I begin to get the following error:

My project build.gradle is as follows:
[code]

and my app dependencies are:

[code]

I have multiDexEnabled true and I'm using 26 for sdk and build tools

The logcat is showing the following:

[code]

I've searched through similar issues posted but none of these have been able to solve my pro

[2017-12-01 21:38] nitaliano commented on #831
@luskin what that error is saying is `android/arch/core` is being brought in twice, so two of your deps are requiring this. You need to exclude it from one of your deps

Try
[code]

[2017-12-01 21:42] luskin commented on #831
Hi @nitaliano - you are a life saver thank you for the quick response. This solved my problem immediately.

[2017-12-01 21:42] #831 closed, assigned to nobody

[2017-12-01 21:44] 1ec5 commented on #812
You’re right, and it wouldn’t be necessary anyways because, in your use case above, the application code would come up with the final state of the style.

Yes, I haven’t tried this in RNMBGL to know how well it performs, but with the native SDK, you could write out a temporary file containing the entire style JSON, then call `-[MGLMapView setStyleURL:]` to switch to it. It’s a bit of a weird API,

[2017-12-01 22:41] nitaliano commented on #812
@tsemerad you can update the StyleSheet object as many times as you want, it's just creating a JSON payload so the native code can understand what it's trying to render. Then once it hits the native code I just loop thru the styles and update what needs to be changed.

As, for the component on top of `MapboxGL.MapView` this would be something that Mapbox would provide as a react component with act

[2017-12-02 01:53] ghost opened #832 "React Native: `undefined is not an object (evaluating '_react2.PropTypes.string')`"
Hi there,

I've recently upgraded react-native

`"react-native": "^0.50.4",`

and react

`"react": "^16.2.0",`

I'm using mapbox additionally along with FBSDK, React-Native-Router-Flux, etc and I'm getting the following error

`undefined is not an object (evaluating '_react2.PropTypes.string')`

My `package.json` is as follows:

    {
      "name": "clustr",
      "version": "0.9.0",
      "privat

[2017-12-02 02:01] ghost commented on #832
Seems that running

`jscodeshift -t react-codemod/transforms/React-PropTypes-to-prop-types.js <path>` on my project resolved the issue for the time being.

[2017-12-02 23:06] vicapow commented on #215
Can I ask why this issue was closed? Also, I'm still seeing this behavior on the latest version.

[2017-12-03 02:38] nitaliano commented on #215
All old issues from the unsupported codebase were closed out to focus on 6.0.0 since it is a complete rewrite. We can reopen if you're still seeing this issue I haven't personally tried this repo with SegmentedControlIOS or NavigatorIOS. Only react-native-navigation, react-navigation, and the Modal component

[2017-12-03 02:41] vicapow commented on #215
That makes sense. Looking at this again, I’m not even 100% my issue is the same as I’m using android. I’ll see if I can put together a separate demonstration of the issue. If I can, I’ll create a new ticket

[2017-12-03 03:09] kylesziv opened #833 "Choropleth with MapboxGL"
I'm using `MapboxGL.ShapeSource` and `MapboxGL.FillLayer` and I'm trying figure out how to create a choropleth map. I'm successfully loading a GeoJSON file and I can paint a single color just fine. With the web version of Mapbox GL, I was able to set a property which Mapbox would use as the color property for each geometric shape. Is there something similar that I can do with this package?

[2017-12-03 16:43] kristfal commented on #833
Hey, you can use data driven styling here as well to solve that problem.

However, there is currently a bug that prevents style interpolation with non-integer keys, so you’ll need to define your colors as integer numbers in your data, and then map those integers back to the colors you want in your style. I think there is an example of this in the examples app, if not, lemme know and I’ll show you.

[2017-12-03 17:53] kylesziv commented on #833
Ahh! I found the example and got this working in my project. Thank you for your help!

[2017-12-03 17:53] #833 closed, assigned to nobody

[2017-12-03 19:30] lucasgray opened #834 "Feature to allow map bearing to follow user"
I'd like to display a map where the rotation of the map is locked to the compass activity from the user's device, so as the user changes their location and rotation, the map is updated to account for this automatically.

I've looked around a bit and this seems to be available with native android but I've tried all the available User Tracking Modes in this library and it doesn't seem to allow what

[2017-12-04 13:54] JakielaAdam opened #835 "Android crash when rendering annotation: A catalyst view must have an explicit width and height given to it."
I have existing code which works fine on iOS however, when I try and run it on Android, the app crashes. Specifically, I am having problems rendering annotations: Here is my code:

[code]

Normally I will render an image for the marker, but for testing, just a simple view. When I run this, I get a native crash:

[code]

If I understand this properly, there is an error because the view I am trying

[2017-12-04 14:47] bcalik commented on #400
@Lichwa Did you find the answer? Does it count towards limits using custom tiles?

[2017-12-04 16:49] nitaliano commented on #832
@michaelstokes is the warning coming from this repo? We are using `prop-types`

[2017-12-04 16:55] ghost commented on #832
@nitaliano It appears to be that the issue was coming from `react-native-router-flux` on version `0.38.0`, it wasn't obvious at all, but after looking at the logs from Android Device Monitor when running the release build, I could see some related logs ... so I'd figure I'd upgrade `react-native-router-flux` to the latest build `4.0.0-beta.24` and the issue was resolved. Please see https://stackov

[2017-12-04 17:11] nitaliano commented on #832
Cool, I'm going to close this out

[2017-12-04 17:11] #832 closed, assigned to nobody

[2017-12-04 17:33] GuillotJessica commented on #825
till, the new feature comes up what's best to do? @nitaliano

[2017-12-04 18:42] nitaliano commented on #825
@GuillotJessica I would highly recommend using Sources and Layers. You'll be able to recreate callouts using a Symbol layer and offsets

[2017-12-04 18:46] nitaliano commented on #758
Closing this out since it's in master now

[2017-12-04 18:46] #758 closed, assigned to nobody

[2017-12-04 19:11] josenaves commented on #829
@nitaliano it turns out that we have a non exposed native method called getStatus.
So, I'm exposing it as getPackStatus method on JS side.

I had a hard time testing it. But, it's working

I'm opening a PR right now. I know that documentation and tests are missing for it.

Could you please take a look at my PR ?
https://github.com/mapbox/react-native-mapbox-gl/pull/836

[2017-12-04 20:46] nitaliano commented on #835
Try adding a style with a width and height to your `PointAnnotation` component. Also have you looked into using a `ShapeSource` with a `SymbolLayer` like this [example](https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/CustomIcon.js)

[2017-12-04 21:18] 1ec5 commented on #812
Interesting, so you’re working around mapbox/mapbox-gl-native#6180, mimicking what the annotation API does. Unfortunately, I think removing and readding the layers and sources would defeat the smooth transitions between styles, because Mapbox GL doesn’t support transitioning the addition or removal of a layer or source (or style image).

[2017-12-04 23:16] nitaliano commented on #815
@StevanCakic I think we'll be in a better place once we open up a repo drawing repo to start with contributions. One thing that this repo needs to do before we can create a drawing library is being able to drag layers on the map, which is slightly more complicated than being able to drag regular Views.

[2017-12-05 05:59] SandeshBG opened #837 "[Android] First region change fire location [0, 0]"
I am trying to implement map view with custom annotation to point current location in Android. I want a feature like when region changes, annotation also changes along with that. But I have problem with onRegionIsChanging. onRegionIsChanging is invoked with some delay and its not providing any coordinates or any other data. It is just giving me empty object. onRegionWillChange is not at all invoke

[2017-12-05 09:52] lucasbento opened #838 "`onSetCameraComplete` not being called"
I'm using `setCamera` as soon as `onDidFinishLoadingMap`  fires to center the map on specific coordinates:

[code]

After finishing it doesn't call `onSetCameraComplete` callback specified in `MapView`.

[2017-12-05 09:54] lucasbento commented on #838
@nitaliano: ~~still on that, can't the `setCamera` and other [MapView methods](https://github.com/mapbox/react-native-mapbox-gl/blob/master/docs/MapView.md#methods) return promises?~~

~~A simple callback on the last argument of the function would be good if this can't be done now.~~

**Edit:** [nevermind, it already does 🎉](https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/RCTMGL/R

[2017-12-05 10:06] lucasbento opened #839 "Accept array of coordinates in `fitBounds`/`setCamera`"
I have to center a polyline of a route, the route can have multiple coordinate points and look like this:

![image](https://user-images.githubusercontent.com/6207220/33601336-3578c6e4-d9ac-11e7-86ee-f74a2660e14a.png)

It sort of starts and finishes in the same point so I have to find the farthest coordinate (loop through the coordinates and calculate their distances) and do `fitBounds(firstPoint,

[2017-12-05 10:07] lucasbento commented on #838
`await`ing `setCamera` works, `onSetCameraComplete` doesn't.

[2017-12-05 10:37] lucasbento commented on #839
My solution didn't work for some cases with strange routes, ended up using [bound-points](https://github.com/mikolalysenko/bound-points) which works nice!

[2017-12-05 11:46] hannta opened #840 "Crashes on android"
From my app crash logs on Google Play I can see quite many following crash logs:

[code]

Any idea what is causing this?

Im using:
react-native: 0.49.0
react-native-mapbox-gl: 6.0.0

[2017-12-05 12:23] kristfal commented on #839
For general geo processing, I'd recommend [Turf JS](turfjs.org). In this particular case, bbox or bbox-polygon would also have solved your issue.

[2017-12-05 13:15] GuillotJessica commented on #825
thx @nitaliano is there one symbol layers per annotation or one for all?

[2017-12-05 15:22] GuillotJessica commented on #798
@nitaliano any improvements on the way?

[2017-12-05 15:27] lucasgray commented on #798
Just to add some troubleshooting help, I've experienced this issue with `react-native-router-flux` and was able to remedy by issuing a `{type: 'reset'}` when transitioning to the map the second time.  Not ideal but I was able to make it work with my use case.  It's got to be something with the interaction between stack navigation and the MapViews...

[2017-12-05 15:28] GuillotJessica commented on #798
thx @lucasgray just have to find a way to make this work

[2017-12-05 17:02] nitaliano commented on #838
@lucasbento `onSetCameraComplete` was the initially way this was designed since on Android you can't pass blocks around the way you can on iOS. Since then I've monkey patched Android to emit a callback and the js converts that to a promise, so all methods can be awaited on if they goto the native side.

I'll make sure to remove this from the examples and docs find and replace all

[2017-12-05 17:02] #838 closed, assigned to nobody

[2017-12-05 17:05] nitaliano commented on #839
@lucasbento you should use turfjs for this you can think of it as underscore for anything geo related. It's highly optimized and using turf means you can share code between mobile and web.

These are quick links to the two functions that @kristfal described above that will be able to solve this issue for you.

http://turfjs.org/docs#bbox
http://turfjs.org/docs#bboxPolygon

[2017-12-05 17:06] #839 closed, assigned to nobody

[2017-12-05 17:08] nitaliano commented on #840
@hannta that's a crash from the C++ codebase that both the Android and iOS SDK consume. Would you be able to post the stacktrace from a line looking like this down?

[code]

[2017-12-05 19:50] hannta commented on #840
@nitaliano that is all I can get from Google Play crash reports 😒

[code]

[2017-12-05 20:59] jstopchick opened #841 "OnSelected and OnDeselected PointAnnotation behavior issues"
This issue was encountered on Android 6.0.1.

I am using the Mapbox example code for "ShowPointAnnotation" and I see that it includes using onSelected and onDeselected callbacks.  In the example if I omit these and the callout, and only include the PointAnnotations when clicking on the map, callbacks still appear to be bound to the PointAnnotations.

This can be duplicated by taking the MapboxGL e

[2017-12-05 23:55] JakielaAdam commented on #835
Thank you for the suggestion. I have tried setting the dimentions of the PointAnnotation via props and styles with no luck.

Ex.
`style={{height: 50, width: 50}}
`
and

[code]

[2017-12-06 00:52] ghost commented on #795
Regards what @harshq originally posted, I had to update my android compile sdk versions to 26, and that seemed to resolve that one, but later had to then include `exclude group: 'android.arch.lifecycle', module: 'extensions'` although this is new as of today, yesterday it wasn't required so perhaps there was an update.

[2017-12-06 09:14] KevinHu2014 opened #843 "undefined is not an object (evaluating 'MapboxGL.UserTrackingModes')"
Getting the error on iOS by following the sample from the official website.

![simulator screen shot - iphone 8 - 2017-12-06 at 17 17 12](https://user-images.githubusercontent.com/7204070/33653985-b03e8d0c-daa9-11e7-9db8-c2612b243da4.png)

## Environment
React Native 0.47.2
@mapbox/react-native-mapbox-gl   6.0.1

[](https://www.mapbox.com/help/first-steps-react-native-sdk/)

## Sample Code
[code]

[2017-12-06 13:08] carljoachim commented on #749
My app also crashes on Android with this error message "java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.maps.NativeMapView.terminateContext()' on a null object reference" after closing and opening the app around three times..

[2017-12-06 14:13] bcalik opened #844 "Example app does not work on Android because of a syntax error in MainActivity.java"
When I try to run the example directory in Android. It gives an error says;
[code]

When I look at these files, you can see that the package name contains dash so it gives a syntax error.

<img width="773" alt="screen shot 2017-12-06 at 17 12 05" src="https://user-images.githubusercontent.com/9222368/33665640-b02bcfc4-daa8-11e7-9793-4de928db9b7f.png">

[2017-12-06 14:29] bcalik opened #845 "Clustering does not work in Android"
I tried to run the exact code in [EarthQuakes](https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/EarthQuakes.js) example.

As you can see from the screenshot below, it is working in iOS but not on Android.
Clusters are not visible.

You can see the code from the link.

<img width="839" alt="screen shot 2017-12-06 at 17 24 18" src="https://user-images.githubusercon

[2017-12-06 15:01] JakielaAdam commented on #835
Ended up getting it working with the styles. Thank you for your help.

[2017-12-06 15:01] #835 closed, assigned to nobody

[2017-12-06 15:07] nitaliano commented on #845
It's an issue on 6.0.1 master is fixed already

[2017-12-06 15:12] nitaliano commented on #844
This is the package name that is in the example application https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/android/app/src/main/java/com/rnmapboxglexample/MainActivity.java#L1. what you posted above is different is this your own example app?

[2017-12-06 15:14] nitaliano commented on #843
You need to link the native code to your projects follow these guides https://github.com/mapbox/react-native-mapbox-gl/blob/master/README.md#installation-guides

[2017-12-06 15:14] #843 closed, assigned to nobody

[2017-12-06 15:52] KevinHu2014 commented on #843
@nitaliano I have been using V5 in my project.
Does upgrading to V6 requires relinking the native code?

[2017-12-06 16:43] nitaliano commented on #843
Yes, v6 is a complete rewrite

[2017-12-06 17:07] butchmarshall commented on #840
Yep - 5 of these reports on my app.

[2017-12-06 17:09] bcalik commented on #844
Ok this is weird.

The file on the screenshot is this file: https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/android/app/src/main/java/com/rnmapboxglexample/MainApplication.java

But somehow, the package name did not match for me.
I may have done something wrong from Android Studio.

[2017-12-06 17:09] #844 closed, assigned to nobody

[2017-12-06 17:09] KevinHu2014 commented on #843
@nitaliano
While relinking the Library , I ran into another error.
Any Ideas on this one?

Thanks!
<img width="546" alt="2017-12-07 1 08 08" src="https://user-images.githubusercontent.com/7204070/33674697-2f91a35a-daeb-11e7-9a63-c2c625e5cc8a.png">

[2017-12-06 17:22] nitaliano commented on #843
Did you also re embed Mapbox.framework?

[2017-12-06 17:27] nitaliano commented on #835
@JakielaAdam would you mind posting what you ended up doing just incase anyone else is running into this issue?

[2017-12-06 17:27] KevinHu2014 commented on #843
Yes

[2017-12-06 17:30] nitaliano commented on #843
Update your header search paths to point to Mapbox.framework https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/install.md#add-framework-header-search-paths.

I just ran through the steps on a clean project and got it up and running so it must be something between the old and new config

[2017-12-06 17:35] nitaliano commented on #844
did you run any commands with the react native cli?

[2017-12-06 17:49] KevinHu2014 commented on #843
@nitaliano Thanks for the help.
It's something between the old and new config.
And by Update your header search paths would do the trick.

Thanks again.

[2017-12-06 21:21] #845 closed, assigned to nobody

[2017-12-06 23:24] bcalik commented on #845
@nitaliano Master branch currently does not work on Android. So I can't test it to confirm. I only see an empty space instead of map.

[2017-12-06 23:31] bcalik commented on #845
I guess the fix is this commit: https://github.com/mapbox/react-native-mapbox-gl/commit/5f252c7657c8df5a07d94acff4e666d3285d3435
I cherry-picked it, and I can confirm its working well now.

But the latest master branch doesn't work, fyi. @nitaliano

[2017-12-07 00:10] nitaliano commented on #703
Just wanted to update this ticket, I have this working expect a PR soon.

The only change in the API is the source style function it will look like.
[code]

All other style functions(`camera`, `composite`) are being converted to arrays under the hood, since the keys are expected to be camera zoom levels. The new array based API is going to come in handy once we move over to expressions

There's al

[2017-12-07 01:08] nitaliano commented on #703
PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/846

[2017-12-07 07:07] carljoachim commented on #840
Our app also crashes on Android after approx. three times of minimizing and maximizing the app. It happens consistently. This is what I get from logcat when I run the dev-app connected to my computer.

![screen shot 2017-12-07 at 08 06 48](https://user-images.githubusercontent.com/1122305/33702848-afd8dae4-db25-11e7-94c2-f114f60e3398.png)

[2017-12-07 09:06] kristfal opened #847 "[Android] HSLA color declaration doesn't take into account alpha value"
Declaring a color such as`'hsla(0,0%,0%,0.3)'` renders similar to `'hsla(0,0%,0%,1)'` on Android devices.

iOS supports the alpha value just fine.

[2017-12-07 09:29] kristfal commented on #703
Works like a charm! Super and thanks for fixing it so quickly.

[2017-12-07 09:29] #703 closed, assigned to nobody

[2017-12-07 11:43] kristfal opened #848 "[Android] prop showUserLocation={true} overrides map centerCoordinate"
Using the following props on initialization:

[code]

The map will init at the centerCoordinate, but instantly move to the user's location, effectively overriding the center coordinate prop. The camera should only move when `userTrackingMode` is set to a non-default option.

In addition, the map should update its camera when `userTrackingMode` is toggled to one of the active options on Android. It

[2017-12-07 11:58] kristfal opened #849 "[Android] MapView ContentInset not working"
The following props works as expected on iOS, where the compass is moved 64 px down from its initial position. However, it doesn't affect the compass on Android:

[code]

[2017-12-07 15:20] nitaliano commented on #849
Is this with the latest master? The new asynchronous rendering from the c++ thread might have messed up the timing here

[2017-12-07 15:22] nitaliano commented on #848
I would do everything location based with this https://facebook.github.io/react-native/docs/geolocation.html and a custom layer for the time being until I jump into to making these perform the same cross platform.

You might be able to reuse this layer https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/common/PulseCircleLayer.js

[2017-12-07 15:22] kristfal commented on #849
Hey, this is on the `typed-style-items` branch.

[2017-12-07 15:27] nitaliano commented on #849
Cool, that was branched off lastest master

[2017-12-07 16:02] kristfal commented on #848
Tops,

I totally get that, I'd consider this low pri as well. Once #697 lands, we should be able to do a proper geolocation implementation on the JS side.

[2017-12-07 16:02] kaynz commented on #848
That's a really bad idea (at least for android). The google location sdk is working much better than the geolocation api. That's the reason why airbnb does not use geolocation api in their library: https://github.com/react-community/react-native-maps

[2017-12-07 16:31] nitaliano commented on #848
For the long term we are going to use the native SDKs to handle the geolocation stuff for us except they both behave differently right now so what I'm recommend is if something needs to work cross platform at the moment use the geolocation from RN instead

[2017-12-07 16:42] nitaliano commented on #825
There's one layer that renders whatever is in it's source, so if you have 1 million points in a feature collection only 1 layer instance is created and that renders all of those points into the vector tile.

Checkout this PR to see some screens of new examples to see what layers can do https://github.com/mapbox/react-native-mapbox-gl/pull/846

[2017-12-07 17:58] nitaliano commented on #697
Does anyone have any opinions on what this will look like. I was thinking we just follow what GL JS has done and add an `originalEvent` property. Curious what others thought could go into the object at a minimum I was thinking

[code]

[2017-12-07 18:11] alfonsodev commented on #773
I'm having this issue too, will be master be published in `npm` soon?

[2017-12-07 18:22] nitaliano commented on #773
Yea, I'll make a rc publish tomorrow

[2017-12-07 19:33] nitaliano commented on #772
Added support for array based translate properties in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/846 and fixed crashes on native side

[2017-12-07 19:34] hernanmateo commented on #798
Hello @nitaliano,  any news on this issue? I think it's one of the main problems of this library since it is usual to use multiple maps in an application. Thx

[2017-12-07 22:55] nitaliano commented on #789
@RNMBuser Fix is out in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/846 and it matches the style spec so in your styles you can do

[code]

or

[code]

[2017-12-08 00:03] nitaliano commented on #772
Closing this out since it's merged into master.

[2017-12-08 00:03] #772 closed, assigned to nobody

[2017-12-08 00:04] nitaliano commented on #789
Closing this out since the fix has been merged into master

[2017-12-08 00:04] #789 closed, assigned to nobody

[2017-12-08 00:26] Emilios1995 opened #851 "MapView's onPress event not firing after removing Annotation"
I have a component that, when the uses taps on a location on the map, an annotation in that location gets created. Then, in the callout for each annotation, there's a button that removes it by deleting it from the annotations array. The problem is that after deleting an annotation, the onPress event no longer works.
(I only tested this in Android)
I'll paste the full component for reproduction:
[c

[2017-12-08 00:52] nitaliano commented on #851
@Emilios1995 Thanks for reporting this and providing a code sample. This is working on iOS and Android I was able to reproduce the issue, here is a PR that fixes it https://github.com/mapbox/react-native-mapbox-gl/pull/852 let me know if that works for you and we can add it to `6.0.2` which will be published tomorrow

[2017-12-08 00:57] nitaliano commented on #841
@jstopchick this PR https://github.com/mapbox/react-native-mapbox-gl/pull/852 fixes the onPress issue. Also to answer your question this is not expected behavior I will add the other fixes to the PR I posted

[2017-12-08 05:10] dancomanlive commented on #540
I solved this by rendering the map based on the specific the route of React Navigation.

[2017-12-08 08:26] Emilios1995 commented on #851
@nitaliano Thank you for your quick reply and fix!
It works now, but I'm sometimes getting an error after deleting a point. It might be related to #773, since I also render a line along the points and the error is the same.

[2017-12-08 10:26] HikingDev commented on #769
Hi,

i've set a filter to LineLayer id and query RenderedFeaturesAtPoint.
The returned Features differ slightly from the actual GeoJson Source.
Furthermore i'd like to understand how exactly the returned items are chosen or how many.

Below are the actual GeoJson coordinates.
The Screenshot shows the logged returned coordinates.
I dont exactly see a correlation between returned values and actual S

[2017-12-08 14:06] Jose4gg commented on #773
Is still happens on master for me...

[2017-12-08 15:37] Jose4gg commented on #773
If I add a ShapeSource to the Map and I try to delete it without moving the map, it gives me the same error on master @nitaliano

[2017-12-08 17:20] nitaliano commented on #773
Reopened I'll try to reproduce this today

[2017-12-08 17:22] nitaliano commented on #851
I reopened that ticket I'll try to reproduce it today

[2017-12-08 17:23] nitaliano commented on #851
Closing this one out

[2017-12-08 17:23] #851 closed, assigned to nobody

[2017-12-08 17:34] nitaliano commented on #841
@jstopchick I've added the other changes to the PR so it should work as expected now. I'll close this out once we merge it into master

[2017-12-08 17:38] nitaliano commented on #823
@josenaves This PR might fix this issue as I've not seen it since 🤞. https://github.com/mapbox/react-native-mapbox-gl/pull/852

I noticed, this happens when we are recycling the views(pan the annotations off screen, pan back in select) on the native side and React Native has no idea this is happening, causing the crash. What I do now is override the onMeasure since we know our width and height and

[2017-12-08 17:43] nitaliano commented on #798
@hernanmateo  The problem is it needs to be a new activity since two GLSurfaceViews cannot be overlapped on Android. React Native runs in a single activity so when using JS based navigators you're trying to overlay two GLSurfaceViews on top of each other and they battle for z-index and all of the views on top of them just get thrown to the top.

What I would recommend doing especially with the JS

[2017-12-08 17:55] nitaliano commented on #769
@roesneb `queryRenderedFeaturesAtPoint` returns a FeatureCollection of Features based on zIndex order, so if you click on a line without any filtering it will returns all Features at that point in zIndex order.

The native SDK is returning it as a `MultiLineString` due to how it's being rendered most likely. If you add properties to your feature they would also be returned up to you. Further more

[2017-12-08 17:58] Emilios1995 commented on #773
This also happens for me when I render a line that follows the coordinates of some Annotations and start deleting them.
I wasn't able to notice when and why it happens. I just randomly create and delete annotations and eventually it crashes.
Here's the code I use for the line
[code]

[2017-12-08 18:23] nitaliano commented on #773
@Jose4gg and @Emilios1995 I haven't been able to reproduce the crash at all. Here is the gist that I'm using it's `CustomIcon.js` from the example app. I'm on this PR https://github.com/mapbox/react-native-mapbox-gl/pull/852 which is just a few commits ahead of master

https://gist.github.com/nitaliano/4e46d130b7163b2d1778067746f76dbf

I also tried rendering a source with some layers on the map an

[2017-12-08 18:30] nitaliano commented on #837
I would ignore coordinates that return at [0, 0](chances of getting a coordinate at [0, 0] without any decimal places is near impossible). Android and iOS native SDK's behave differently right now with these events, this repo will eventually have this type of stuff sorted out in the future

[2017-12-08 18:40] josenaves commented on #823
I think the issue was on my side. A workmate has fixed the issue.

<MapboxGL.PointAnnotation
  key={ id }
  id={ id }
  title={ title }
  coordinate={ coordinate }
  selected={ i === this.state.currentAnnotationIndex }
  onSelected={ feature => this.onAnnotationSelected(i, feature) }
  onDeselected={ () => this.onAnnotationDeselected(i) }

The issue went away removing this line:
  selected={ i ===

[2017-12-08 18:47] nitaliano commented on #823
Cool, closing this out

[2017-12-08 18:47] #823 closed, assigned to nobody

[2017-12-08 18:48] Emilios1995 commented on #773
@nitaliano Sorry, I know this is hard to reproduce. I recorded my screen while it happened. Here's the [video](https://drive.google.com/file/d/0B-veAm3gOE-WektPV3I5UkdaWEFkQk0wbWk4WWNNRG1jbVBV/view?usp=sharing)
Let's see if you manage to notice the cause.
Here's the full code: https://gist.github.com/Emilios1995/99c35c38eda3aec87913b18b65fef769

Also, as you may notice, sometimes the callout doesn

[2017-12-08 18:50] josenaves commented on #823
:+1:

[2017-12-08 21:29] nitaliano commented on #773
It appears to be related to the legacy annotation views and not sources/layers. I was able to reproduce it switching my example to using annotation views instead of a symbol layer. Will look into fixes for them

@alfonsodev just published `6.0.2-rc1`

[2017-12-08 23:19] hernanmateo commented on #798
Thank you @nitaliano, in my case I'm not using a JS based navigator but I'm using a [native navigator solution](https://github.com/wix/react-native-navigation) and I'm having this issue by switching between two screens with the bottom tab bar. So, we have to assume, in the medium term, that this behavior is going to stay that way?

[2017-12-08 23:31] nitaliano commented on #798
@hernanmateo When you switch between screens is there a way for your screen on the bottom of the stack to null out the map view? Also I just looked at react native navigations code and it is not pushing on an Activity or Fragment in the tab case at least. The bottom GLSurfaceView needs to be removed from the view tree or position absolute off the screen @kristfal  mentioned this above https://gith

[2017-12-08 23:51] pkshefi commented on #483
react-native link react-native-simple-toast
react-native link

tried , seems not working,

[2017-12-08 23:51] nitaliano commented on #773
@Emilios1995 I figured it out I'll have a PR for you soon that fixes this issue and the Callouts not removing. Your code samples are really helpful!

[2017-12-09 00:53] hecontreraso opened #853 "Is it mandatory to use android SDK 26 or higher?"
Android SDK 26 is pretty recent, and according to the [install guide](https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/install.md) we need to put this SDK version. I tried to use mapbox with SDK 23, but it didn't work.

Is there any way to use mapbox with a previous version?

[2017-12-09 19:14] ghost commented on #843
Similiar issue over at https://github.com/mapbox/react-native-mapbox-gl/pull/741#issuecomment-347038647 but more related to build and error with `framework not found mapbox` via CocoaPods install, Manual install has issues additionally more me.

Update https://github.com/mapbox/react-native-mapbox-gl/issues/860 seems related to `libc++abi.dylib: terminating with uncaught exception of type NSExcept

[2017-12-09 21:53] nitaliano commented on #853
@hecontreraso for `compileSdkVersion` you should put `26` but you can change the `targetSdkVersion` to be `23`

[2017-12-09 21:53] #853 closed, assigned to nobody

[2017-12-10 06:36] vincenthub opened #854 "How to get Userlocation coordinates?"
Hi, is there any method that we can get the user location coordinates if the mapview will showuserlocation?

[2017-12-10 10:21] bcalik commented on #773
I have the same issue. My render methods are below.
`master` and `6.0.2-rc1` doesn't work at all for me, so I try on `6.0.1`.
I also applied this (https://github.com/mapbox/react-native-mapbox-gl/commit/5f252c7657c8df5a07d94acff4e666d3285d3435) commit on `6.0.1`

Basicly what I do is, I manually generate clusters using Supercluster.
Then render markers as `PointAnnotation`, and clusters as `ShapeS

[2017-12-10 15:41] YKK101 opened #855 "How can I add callout to symbol layer"
I add my data to mapview using source and symbol layer
and I need each point to show callout onclick
but after I query the selected feature from map
I don't know how can I add Callout to it

[2017-12-11 00:29] woodpav commented on #807
I have this problem. My ShapeSource is as dead simple as it can be. Every time I CMD+R (refresh) the app, memory leaks.

    <MapboxGL.ShapeSource shape={this.props.geography} />

It seems like the native `ShapeSource` sticking around even though the RN one is removed.

[2017-12-11 02:48] Tennen commented on #854
maybe this? https://facebook.github.io/react-native/docs/geolocation.html

[2017-12-11 04:15] nitaliano commented on #773
I just added more commits to https://github.com/mapbox/react-native-mapbox-gl/pull/852 that should fix the Callout not being deleted and `Trying to remove a view index above child count n view tag`. The callout issue was a side effect of the same issue as the remove a view bug.

[2017-12-11 04:47] Tennen commented on #798
+1. now I render the map in a way like `{Platform.OS !== 'android' || isCurrentScreen && (<MapboxGL.MapView />)}`.

[2017-12-11 06:54] Tennen commented on #787
not the same issue, but I also want to use PanResponder
MapView in a scrollview on android behave strange when scrolling the map..event stops propagation when the way you scroll is not enough horizontal..
does anyone facing a similar problem?

[2017-12-11 07:38] Tennen opened #856 "scroll event propagation"
I have a MapView in a vertical ScrollView, when I scroll the map, and the scroll action has a vertical speed, the ScrollView will start to scroll. It seems to be a problem of scroll event propagation on android.
the version I use now is 6.0.1, but I didn't face this problem in v5.2.1.
I tried using PanResponder but it doesn't work.
does any one know how to solve it?
[code]

I override the onTouchE

[2017-12-11 10:58] hernanmateo commented on #798
Hi @nitaliano I have test a couple of workarounds with success but the results don't convince me. How about to enable the TextureMode option and the zOrder setting as @tobrun suggest in [this issue](https://github.com/mapbox/mapbox-gl-native/issues/9358)?

[2017-12-11 14:38] frankrowe commented on #807
+1 same issue with ShapeSource on iOS

[2017-12-11 16:30] ghost commented on #297
Any update on this, I seem to be getting the same error `framework not found Mapbox`

Most recent post https://github.com/mapbox/react-native-mapbox-gl/pull/741

Seem to have tried many approaches, both via CocoaPods and Manual installation ... neither is currently working for me.

When doing CocoaPods, I get `framework not found Mapbox`, when doing manual install I get issues such as `framework n

[2017-12-11 16:33] ghost commented on #645
Adding the above suggested `$(PROJECT_DIR)/../node_modules/@mapbox/react-native-mapbox-gl/ios` to framework search paths seems to then give me an error `framework not found XCTest`

Any suggestions please?

Thanks very much!

[2017-12-11 16:53] nitaliano commented on #645
@michaelstokes would you be able to post an example repo with your issues so i can pull it down and see what needs to be updated?

[2017-12-11 16:58] nitaliano commented on #854
Yup, best to use the navigator for now

[2017-12-11 16:58] #854 closed, assigned to nobody

[2017-12-11 17:19] briancalvium opened #857 "Android crash when using SymbolLayer release build only"
[code]

This works on iOS (always) and Android dev in the simulator

Here is the setup:
[code]

It seems suspicious that it is trying to download the image? Or is that "downloading" from the RN bundle?

[2017-12-11 17:37] nitaliano commented on #857
It's just the name of the class of the AsyncTask pulling in the image, it's given a url to the file so (https://, http://, file://, ...)  it jumps to a background thread to open up a stream and put the image into a bitmap, then back to the main thread where we register that bitmap with GL Native.

I'll run something in release mode today and see what happens. The size of the Bitmap could also be a

[2017-12-11 17:53] hernanmateo commented on #798
Hello again,
I have just tested with TextureMode with successful results, I assume that this can penalize performance but let's try...
I have pushed a PR #858, the MapOptions is configured in the RNMGLMapViewManager.java file because we have to set this options before the RNMGLMapView constructor.

Example usage:

[code]

[2017-12-11 18:04] ghost commented on #645
Thanks for the response @nitaliano Sure, its just the project has gotten considerably large and might be difficult to replicate to such extent.

Just a bit confused by the issue after trying both CocoaPods and manual approaches.

What might cause a thing to result in not finding a framework?

I've attached some more images relating to my linked libraries, framework and header search paths

![scree

[2017-12-11 18:27] nitaliano commented on #798
@hernanmateo PR will address this issue and we will work on getting it merged in to fix this problem. Multiple TextureViews can be stacked on top of each other, at the cost of performance but I don't expect this to be an issue for majority of the use cases we'll run into on RN. I just checked to make sure we'll keep support for this in future versions of the RN SDK there are plans on it being supp

[2017-12-11 18:52] jsaguiar opened #859 "textFont"
I have a `SymbolLayer` and I want to put the font bold. Since you don't provide a `fontWeight` prop I was thinking in achieving the same result using your `textFont` prop:
According to this:
[fonts]( https://github.com/react-native-training/react-native-fonts
)
I should be able to  use `textFont: ["HelveticaNeue-Bold"]` or even `textFont: ['Arial']` but both fails

[2017-12-11 19:39] ghost opened #860 "libc++abi.dylib: terminating with uncaught exception of type NSException (lldb)"
I've been getting this error for a number of days whilst attempting to install and use [mapbox][1] Whilst Mapbox works on Android, it does not work on iOS for me consistently resulting in an error on build which is `framework not found Mapbox`

When installing via CocoaPods I'm getting an error from xcode

    framework not found Mapbox

    Ld /Users/michaelstokes/Library/Developer/Xcode/DerivedD

[2017-12-11 20:38] nitaliano commented on #697
I have a path forward on this I prototyped an idea to get this information into the region change events, expect a PR to land for this in the next few days.

[2017-12-11 20:42] henrikra commented on #697
Wow nice!

[2017-12-11 22:54] nitaliano commented on #841
Closing this out fix has been merged into master

[2017-12-11 22:54] #841 closed, assigned to nobody

[2017-12-11 22:55] nitaliano commented on #773
Closing this out fix has been merged into master

[2017-12-11 22:55] #773 closed, assigned to nobody

[2017-12-11 23:29] Emilios1995 commented on #773
@nitaliano Thank you! I can confirm it works perfectly now.

[2017-12-12 08:47] AndreaZanuccoli opened #862 "Can't run example in branch v6 and can't run Mapbox SDK in a new project"
I follow the instructions in the git to run the example in v6 branch of the git, when i run 'npm i' it's result the following error:
`> react-native-mapbox-gl-demo@0.0.1 preinstall C:\Users\zanu9\WebstormProjects\react-native-mapbox-gl-6\example

"." non è riconosciuto come comando interno o esterno,
 un programma eseguibile o un file batch.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! react

[2017-12-12 10:36] kristfal commented on #859
Map fonts behave differently than RN fonts. You'll need to add your intended [FontStack](https://www.mapbox.com/mapbox-gl-js/style-spec/) to the map source style before you can use them in `SymbolLayers`. To do so:

1) Create your custom map style on mapbox.com and add any font you'd like to use in the map
2) Use your custom map style in RN
3) Use `textFont` as you describe in new layers

[2017-12-12 12:02] briancalvium commented on #857
As a workaround, I've put the image in drawable and access it using `{assets: ['pin']}` on Android, but it would be great to be able to just do the same thing on both. Thanks for the help!

[2017-12-12 13:45] henrikra opened #863 "onDidFinishRenderingMap is not called"
`onDidFinishRenderingMap` is not called on Android at all. On otherhand `onDidFinishRenderingMapFully` is firing 🤔

[2017-12-12 14:02] henrikra opened #864 "[Android] onRegionDidChange is called 7 times on initial map render"
To reproduce make default MapView and add `onRegionDidChange` with console.log and look that on logs the event is called 7 times 😭 . Do you have @nitaliano any idea?

[2017-12-12 14:51] nitaliano commented on #863
The Android SDK doesn't seem to fire all the events that we get in the iOS SDK

[2017-12-12 15:09] henrikra commented on #863
Which are those?

[2017-12-12 15:39] jsaguiar opened #865 "attributionEnabled break app"
if `attributionEnabled={false}` at `MapboxGL.MapView` will break the app

[2017-12-12 15:43] jsaguiar commented on #865
Forgot to  MGLMapboxMetricsEnabledSettingShownInApp=YES at Info.plist

[2017-12-12 15:43] #865 closed, assigned to nobody

[2017-12-12 16:36] nitaliano commented on #864
Yup, it just fires on every region change. I'm throttling it in my PR that will add if a user made the region change or not

[2017-12-12 16:58] nitaliano commented on #863
I'll post a list here, recently I've been logging all the statements trying to figuring out why we don't get the events bubbling up to us, I've debugged all the way to the C++ and we just never see certain events. Even the case with the region did change that's also suppose to fire once, but on Android it fires anytime the camera moves.

The end goal here will be using the iOS SDK as the source of

[2017-12-12 17:59] nitaliano commented on #857
If you put your image in `Images.xcassets` you'll be able to also reference that with assets on iOS. The plus side of this is you can put in images based on pixel ratios on each platform so the icons will look good on every screen

[2017-12-12 18:12] nitaliano commented on #862
@andreamazz use `master` instead of `v6` the README was outdated I just opened a PR to remove switch to the `v6` branch

[2017-12-12 18:12] #862 closed, assigned to nobody

[2017-12-12 19:09] nitaliano commented on #697
WIP PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/867 feedback would be greatly appreciated let's get this right. I'm eager to get this in so we can start focusing on location support

[2017-12-12 19:20] nitaliano commented on #863
@henrikra what version are you on? I'm actually seeing the events work way better in SDK 5.2.0. It seems like every event is firing now but the one that you mentioned, full log dump https://gist.github.com/nitaliano/f3d03bd846d176abadfaef3e15a1ffef

[2017-12-12 20:22] henrikra commented on #863
We are using 6.0.1

[2017-12-12 20:30] hernanmateo commented on #863
As far as I know I'm receiving this events on Android and mapbox 6.0.2:
[code]
And not receiving (just the ones I need to load content quickly):
[code]

**Finally I have observed that events with value 15 are received but they are not handled**

[2017-12-12 23:44] ekimlinger commented on #398
Also seeing this issue. The "Run Scripts" section that contains:
` "${BUILT_PRODUCTS_DIR}/${FRAMEWORKS_FOLDER_PATH}/Mapbox.framework/strip-frameworks.sh"`
is currently under "Embed Frameworks". Were you able to solve this @alexanderniebuhr ?

[2017-12-12 23:45] ekimlinger commented on #398
Received the following error:
[code]

[2017-12-13 00:47] nitaliano commented on #398
Have you followed the install instructions https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/install.md? `react-native-mapbox-gl` is not a library that can be linked I'm assuming you ran `react-native link`

[2017-12-13 01:51] EricPKerr commented on #834
I don't believe this is in the library automatically right now.  You could achieve this by monitoring the user's last few GPS readings and calculating the corresponding headings from those readings (weighted average most likely) and then passing that into `<MapboxGL.MapView heading={...} />`.

This library can help with the bearing/heading calculation: https://github.com/Turfjs/turf/tree/master/pa

[2017-12-13 11:31] henrikra opened #868 "Update to Mapbox Maps Android SDK 5.2.1"
Can you please update Android SDK to 5.2.1? It fixes lots of bugs https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v5.2.1
For example many of our users are getting this crash https://github.com/mapbox/mapbox-gl-native/issues/10303 which has been fixed in Android SDK 5.2.1 so this React Native wrapper should use it too :) @nitaliano

[2017-12-13 15:40] lucasbento opened #869 "Crashing on Android 7.0"
I'm trying to run the library on an Android device, it crashes as soon as I reach a view using `<MapView />` and after that the app doesn't open and crashes as soon as I try to open it.

Initial crash:

[code]

All the other crashes:
[code]

#### Versions

`react-native`: `0.49.3`
`react-native-mapbox-gl`: `6.0.1`
`Android`: `7.0`
`Device`: `Moto X`

[2017-12-13 16:06] nitaliano commented on #869
Is this happening on master?

[2017-12-13 16:07] nitaliano commented on #868
Yup we can get this into master today

[2017-12-13 16:13] henrikra commented on #868
Super 💥

[2017-12-13 16:13] nitaliano commented on #798
TextureView support has been merged in I'll publish another RC today so I recommend everyone having this issue to try it out it should be fixed

[2017-12-13 16:14] #798 closed, assigned to nobody

[2017-12-13 16:47] josenaves opened #870 "[Android] Map details are taking too long to display"
I could note that map details (street style) are taking too much to display when I'm downloading map packs for offline mode.

When the map packs are already downloaded, I cannot see that behaviour.

**When the map shows up**
![image](https://user-images.githubusercontent.com/137637/33950605-fe3b558e-e013-11e7-8df2-9a0aae22f1de.png)

**After some seconds**
![image](https://user-images.githubusercon

[2017-12-13 17:13] ekimlinger commented on #739
Is there any alternative to this besides upgrading react-native?

[2017-12-13 17:33] nitaliano commented on #868
PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/871 closing this out

[2017-12-13 17:33] #868 closed, assigned to nobody

[2017-12-13 17:44] lucasbento commented on #869
@nitaliano: not sure if the commits are the same but I am using the same version as stated on [current `package.json`](https://github.com/mapbox/react-native-mapbox-gl/blob/master/package.json#L4).

[2017-12-13 18:19] nitaliano commented on #869
Master contains the newest Mapbox iOS and Android SDK, which could have potentially fixed this issue

[2017-12-13 18:41] nitaliano commented on #870
This was also reported by another developer, will take a look into it.

[2017-12-13 21:19] tholhubner commented on #124
I am having this issue now and I do not know how to update my extras support in the current version of Android Studio. I have 26.0.1 installed and all that goes with it, but I am still getting the error above.

[2017-12-13 21:29] nitaliano commented on #124
@tholhubner Can you post your gradle files

[2017-12-13 23:33] nitaliano commented on #855
View callouts are currently not supported with Symbol Layers yet

[2017-12-13 23:33] #855 closed, assigned to nobody

[2017-12-13 23:35] nitaliano commented on #804
@henrikra are you still seeing this issue with master? This PR made a ton of improvements to annotation views on Android https://github.com/mapbox/react-native-mapbox-gl/pull/852

[2017-12-13 23:36] #795 closed, assigned to nobody

[2017-12-13 23:36] #815 closed, assigned to nobody

[2017-12-13 23:36] #859 closed, assigned to nobody

[2017-12-14 06:44] henrikra commented on #804
When you make new release of mapbox I can test it out and observe if these are gone :)

[2017-12-14 07:44] kimhafr commented on #749
This is the full stacktrace we get:

`Fatal Exception: java.lang.RuntimeException: Unable to destroy activity {no.ourapp.staging/no.ourapp.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.maps.NativeMapView.terminateContext()' on a null object reference
       at android.app.ActivityThread.performDestroyActivity(ActivityThread.java:4586)

[2017-12-14 09:04] lucasbento commented on #869
@nitaliano: installed from master from commit f3b8c8f, still the same thing:

[code]

[2017-12-14 12:01] FrikanRw opened #874 "textfield from Geojson"
I want to label a layer from a ShapeSource. I have the following code but not sure about the textField; the label should be the value of the feature.properties other_tags. I have tried looking for a solution in the documents but did not find a definite answer.

[code]
sample of Geojson:

{"type":"FeatureCollection","totalFeatures":249,"features":[{"type":"Feature","id":"resort_buildings.1","geomet

[2017-12-14 13:59] CYB3RL1F3 opened #875 "flyTo doesn't exists?"
Hello,

I have a real problem with your API.

I try to use the methods flyTo and zoomTo but it seems not to exists.

I setup the view like this :
[code]
and try to access that way :

`this.mapView.flyTo(newCoordinates);`

But I get "flyTo is not a function".

In your demos you have this.map.flyTo, but never explained if "this.map" is a ref of the mapView (like I did) or something else ? Documentat

[2017-12-14 15:41] kristfal commented on #697
@nitaliano Had a look, and this is perf! With this, it's now possible to work around the location differences between Android and iOS as well.

I do have one thought about `regionDidChange` and redux integration: Right now, using fitBounds with padding results in a regionDidChange that represents the derived viewport bounds and center, not the set bounds. This makes things tricky to track, say if

[2017-12-14 16:05] kristfal opened #876 "[Android] fitBounds/setCamera with padding not applied correctly"
It seems like Android `fitBounds` and `setCamera` doesn't apply padding as expected.

Using the following params for `setCamera`:

[code]

and

[code]

returns almost similar camera positions for Android, while iOS returns the expected camera difference.

[2017-12-14 16:09] jessisena opened #877 "Offline region limitations"
Hi,

I'm trying to use the offline functionality. For that, I've created a style in Mapbox Studio, that is consuming my own tileset source (this tileset is big, about 340MB, and the style has around 657 layers.).

When I’m using  this style online, I can visualize it from my app without any problem, but when I try to create an offline region with it, it is not working, even though if the bounds of

[2017-12-14 17:31] hernanmateo opened #878 "[v6] Telemetry service timeout error (Android)"
**RN**: 0.50.3
**Android**: 7.0
**MapboxGL**: 6.0.2

Hi,
I'm not sure if I'm doing something bad or it's an error in mabox component. The fact is that when I force to close the application and then open it quickly I'm receiving this message and then the app closes (I'm receiving this timeout even if I don't reopen the app):

It seems that the telemetry service remains open after closing the applic

[2017-12-14 18:44] nitaliano commented on #875
@CYB3RL1F3 Refs are built into React https://reactjs.org/docs/glossary.html#refs so it's just referring to the React component which has those methods on it `MapboxGL.MapView` what version of the repo are you using? The props that you posted being added to the Map are different than our v6 API

[2017-12-14 18:47] nitaliano commented on #877
I will try it and let you know what happens.

@jessisena I just tried your style url and I can't get anything to render, did you happen to make it public? When I try one of my custom style urls I am seeing it and I see the offline region being created. The 404 is coming from our backend saying that it can't find the resource, so I would be interested in getting your style url to work locally so I

[2017-12-14 19:32] tholhubner opened #879 "[Android] Getting errors for setter classes"
After following the instructions for installing on Android, I launch the app and simply get a black screen with the Mapbox icon and "i" info icon. I ran logcat and found that I am getting several errors regarding setter classes for many of the Mapbox libraries. Here is the log:

`12-14 12:49:21.007  3228  3347 W art     : Before Android 4.1, method com.mapbox.mapboxsdk.maps.MapboxMap com.mapbox.rc

[2017-12-14 19:51] nitaliano commented on #879
Those are warnings are they causing any issues for you? I've seen those before too and haven't noticed any problems check https://github.com/facebook/react-native/issues/6692 not sure what is causing it though

[2017-12-14 20:17] tholhubner commented on #879
Well, I thought they were causing my issue, but maybe not. I am just getting a blank, black screen when I launch my app. I only have a mapview being drawn on the screen. It works as expected on iOS, but not on Android. So that's why I am so confused by this.

[2017-12-14 20:36] tholhubner commented on #879
Okay I figured it out. I was confused by the fact that I was getting no errors for loading the tiles, but I figured out that was my problem. Sorry about that everyone.

[2017-12-14 20:36] #879 closed, assigned to nobody

[2017-12-14 21:40] nitaliano commented on #698
Closing this out we just merged a PR in to throttle the change event and fire on camera idle instead of when we receive the map change event like the iOS SDK does

[2017-12-14 21:40] #698 closed, assigned to nobody

[2017-12-14 21:43] nitaliano commented on #697
Closing this out since we just merged the PR into master.

@kristfal would adding a field called `contentInsets: [top, right, bottom, left]` to the region change be helpful?

[2017-12-14 21:43] #697 closed, assigned to nobody

[2017-12-14 22:38] nitaliano commented on #749
This was fixed by this PR in GL Native(Android SDK 5.2.1) https://github.com/mapbox/mapbox-gl-native/pull/10589 which is now in master. Going to close this out.

[2017-12-14 22:38] #749 closed, assigned to nobody

[2017-12-14 22:41] nitaliano commented on #787
Closing this out region change is now throttled to 500 ms and is not fired until the camera is idle, it's currently in master will be in `6.0.2`

[2017-12-14 22:41] #787 closed, assigned to nobody

[2017-12-14 22:43] nitaliano opened #881 "Cross Platform Location Support"
* Add userLocationVerticalAlignment property
* Add onUserTrackingModeChanged
* Normalize user tracking across platforms(Android will be getting polyfilled to match what iOS does)

[2017-12-14 22:44] nitaliano commented on #742
Closing this out. I created a new issue that has combined a few tickets follow along there, but this is in active development https://github.com/mapbox/react-native-mapbox-gl/issues/881

[2017-12-14 22:44] #742 closed, assigned to nobody

[2017-12-14 22:44] nitaliano commented on #743
Closing this out in favor of https://github.com/mapbox/react-native-mapbox-gl/issues/881

[2017-12-14 22:44] #743 closed, assigned to nobody

[2017-12-14 22:45] nitaliano commented on #699
Closing this out in favor of https://github.com/mapbox/react-native-mapbox-gl/issues/881

[2017-12-14 22:45] #699 closed, assigned to nobody

[2017-12-14 22:47] nitaliano commented on #875
Closing this out, just post back in here and I'll keep responding

[2017-12-14 22:47] #875 closed, assigned to nobody

[2017-12-14 22:49] nitaliano commented on #874
It needs to be a "token string" so instead of `other_tags` try `{other_tags}`

[2017-12-14 22:49] #874 closed, assigned to nobody

[2017-12-14 22:51] nitaliano commented on #840
@cjrorvik that is fixed on master now. @hannta I'm going to close this out there's nothing we can do to diagnose the problem with the current stracktrace. If anyone knows what steps are needed to reproduce this, we can reopen

[2017-12-14 22:51] #840 closed, assigned to nobody

[2017-12-14 22:53] nitaliano commented on #863
@henrikra I'm going to close this out. I would file this bug with gl-native there doesn't seem like there is anything we can do to get the event to fire in this repo

[2017-12-14 22:53] #863 closed, assigned to nobody

[2017-12-14 22:56] nitaliano commented on #711
Closing this out. Reopen if you're still seeing this, master has a ton of improvements for annotations

[2017-12-14 22:56] #711 closed, assigned to nobody

[2017-12-14 22:57] nitaliano commented on #729
@mlandauer I'm going to close this out I haven't been able to reproduce this. `master` has tons of annotation improvements and the latest native SDKs, so maybe that will resolve the issue

[2017-12-14 22:57] #729 closed, assigned to nobody

[2017-12-14 22:59] nitaliano commented on #648
You could try to intercept those events and call `this.map.zoomTo` but there's really not much that can be done to achieve this without a hack

[2017-12-14 22:59] #648 closed, assigned to nobody

[2017-12-14 23:03] nitaliano commented on #777
@henrikra commented on the ticket, if they're willing to merge in a PR and not have it sit there I'll pick it up

[2017-12-14 23:05] nitaliano commented on #807
The remove flow is not being called when we hot reload so it's never being removed. I'm not sure if there is a special lifecycle event that we can hook into for hot reloading with RN on iOS. Anyone have any idea?

[2017-12-14 23:06] nitaliano commented on #869
@lucasbento does your app also bring in google play services?

[2017-12-14 23:07] nitaliano commented on #834
@lucasgray closing this out in favor of https://github.com/mapbox/react-native-mapbox-gl/issues/881. It's going to be supported, iOS already has support for this and Android just needs to polyfill it

[2017-12-14 23:07] #834 closed, assigned to nobody

[2017-12-15 06:25] henrikra commented on #777
Great!

[2017-12-15 07:48] kaynz commented on #837
@nitaliano The main problem @SandeshBG describes is that the very first callback of onRegionDidChange returns coordinates at [0,0], no matter where your map actually is. It could be at [50,7] and onRegionDidChange would return [0,0].

[2017-12-15 07:52] henrikra opened #882 "Remove old package from npm?"
I mean could this be removed? https://www.npmjs.com/package/react-native-mapbox-gl

[2017-12-15 08:52] kristfal commented on #697
@nitaliano Yeh, perf, that would make things a lot easier to track. I'll open a new issue. Thanks for looking at it.

[2017-12-15 08:57] kristfal opened #883 "fitBounds and setCamera with padding should return regionDidChange with padding"
Ref discussion in #697, keeping camera state in redux when using padding in setCamera or fitBounds is harder than it needs to be as `regionDidChange` returns the derived camera state, not the set camera state and padding separatley.

To make redux integration cleaner, `regionDidChange` should return the set camera state and padding as a separate key. The derived camera state should still be availa

[2017-12-15 09:49] ferdicus opened #884 "Flickering street names and disappearing FollowWithCourse marker"
OS: `OSX 10.12.6`
Platform: `Android 7`
RN: `0.50.3`
mapbox-gl: `6.0.2-rc1`

---------------------------

Hey there,
I've noticed, that there is a flickering of the street names and an concessional disappearance of the `FollowWithCourse` marker.

Please see attached gif:
![map](https://user-images.githubusercontent.com/26439946/34036018-326a2f12-e184-11e7-9026-f6d2c701a4c8.gif)

Explanation of wha

[2017-12-15 10:20] jessisena commented on #877
Hi,

Thanks for trying it! I've just checked it again, and it's public. Actually, it seems that the "share url", is working too:

`https://api.mapbox.com/styles/v1/geostarters/cjb6oaftb2rsb2rnujha17o30.html?fresh=true&title=true&access_token=pk.eyJ1IjoiZ2Vvc3RhcnRlcnMiLCJhIjoiMGNxekwxayJ9.sE1YC8Zxwzjh4CQeZiZN_g#10.3/42.166617/1.883839/167`

And this is my code in the app, to see my style online:

[2017-12-15 15:25] nitaliano commented on #882
Eventually it could be I wouldn't want to remove it just yet in case people are still using that in their projects.

[2017-12-15 15:37] henrikra commented on #882
What about at least adding info that it is deprecated use xxx instead?

[2017-12-15 15:50] burk opened #885 "[Question] Clustering and point annotation in the same map"
I would like to render thousands of points in a map using the clustering of the ShapeSource. When sufficiently zoomed in I would like to show something like PointAnnotations with clickable Callouts (or something that behaves similarly). Very much like the earthquakes example, just with clickable earthquakes. What is the best way to achieve this?

I've seen that the ShapeSource recently got an onPr

[2017-12-16 00:46] ghost commented on #860
Update:

So after getting the following issue after running `pod install`

[code]

Following an answer over at https://stackoverflow.com/questions/26445784/target-overrides-the-framework-search-paths-build-settings about adding `$(inherited)` to framework search paths seems to have resolved the issue and now the app builds successfully but if inserting the MapBox mapview

[code]

An error seems to

[2017-12-16 12:05] ghost commented on #645
Update #860 seems related to libc++abi.dylib: terminating with uncaught exception of type NSException (lldb)

[2017-12-16 17:39] digitaldavenyc opened #886 "react-native link support"
The installation for this library has always been quite error prone, it's the most problematic library we deal with by far. Simplifying the build and supporting `react-native link` would really improve the overall developer happiness using RNMBGL. Is this planned in any future releases?

[2017-12-17 02:12] butchmarshall opened #887 "queryRenderedFeaturesAtPoint for MapboxGL.LineLayer?"
Is it expected that queryRenderedFeaturesAtPoint does not work when querying for a MapboxGL.LineLayer?  It works fine for me when querying for MapboxGL.CircleLayer.

queryRenderedFeaturesInRect does find a MapboxGL.LineLayer, but how are we supposed to know how big to make our hitbox without knowing the size of the line?

[2017-12-18 01:53] butchmarshall commented on #834
Yep, this was previously working in v5 with the property Mapbox.userTrackingMode.followWithCourse, glad to hear it's going to make it into v6.

[2017-12-18 02:26] butchmarshall commented on #840
I just got another crash report in - this one contains a lot more crash information?
[code]

and another one:

[code]

and another:
[code]

[code]

[2017-12-18 02:30] butchmarshall commented on #840
Oh - this one is an "ANR"  that seems to have tons of info?

`executing service com.snow_trails/com.mapbox.services.android.telemetry.service.TelemetryService`

[code]

and a bunch more traces i can pull out if you need them:

![image](https://user-images.githubusercontent.com/339763/34087534-a3058476-e371-11e7-9f23-ce8ac68f254c.png)

[2017-12-18 08:33] lucasbento commented on #869
@nitaliano: I'm not sure, this is my entire `./android/app/build.gradle`:

[code]

[2017-12-18 10:36] FrikanRw commented on #874
I did try the token string. But seems the fill layer render and killed the symbol layer. Had to create new source layer and add symbol layer to that. It works in the following:
[code]

[2017-12-18 11:16] edwardgalligan opened #888 "[feature request] SymbolLayer fallback icons"
Hi,

I've been trying to figure out how to do this, and I'm reaching the conclusion that this isn't possible with the current API. If it can be done, apologies, please correct me.

I have a set of different icons that I want to apply points in a GeoJSON layer based on properties in those Features. You can do this easily with `{token}` notation in the `<SymbolLayer />` but I'm trying to find a way

[2017-12-18 13:27] lucasgray commented on #834
@nitaliano so does that mean @butchmarshall's `followWithCourse` will be the accepted solution to this once the work is complete?

@EricPKerr thanks for the suggestion, it works okay, is a little jittery, I think an out of the box solution would be wonderful.  Thanks all.

[2017-12-18 15:36] edwardgalligan commented on #888
Quick follow-up - my eventual solution is to do something like this whenever the GeoJSON is retrieved:

[code]
But it would still be nice to have a configurable fallback mechanism for missing icons in the API.

[2017-12-18 16:15] nitaliano commented on #834
@lucasgray yes, we are going to be porting over what the iOS SDK does for location to Android, these will be the possible values, it says what each one does https://www.mapbox.com/ios-sdk/api/3.7.1/Enums/MGLUserTrackingMode.html. `followWithHeading` will be the accepted solution for this.

[2017-12-18 16:18] nitaliano commented on #887
The default hitbox on the onPress for the ShapeSource is `44x44` pixels, which Apple recommends as a hitarea(just needs to be large enough for a finger). Anytime you're interacting with the layers on the Map I would recommend using queryRenderedFeaturesInRect an queryRenderedFeaturesAtPoint really only works well with a mouse.

[2017-12-18 16:18] #887 closed, assigned to nobody

[2017-12-18 16:45] nitaliano commented on #837
@kaynz I see thanks for commenting back. Reopened

[2017-12-18 22:33] nitaliano commented on #886
rnpm does not work out of the box unfortunately we would need some post scripts to run after `react-native link` to allow us to do some custom steps which rnpm just does not support. That said once have more time we will look into making the install steps as easy as possible.

[2017-12-18 22:33] #886 closed, assigned to nobody

[2017-12-18 22:45] nitaliano commented on #882
Just got access to the old npm repo it shall be updated

[2017-12-19 02:39] iamjaredwalters commented on #825
Does onPress give me context to which specific feature was pressed or just what Shape source received the press? In other words, if a feature from a feature collection was pressed will I know which one, or will I only know what Shape source was pressed?

[2017-12-19 07:55] lucasbento commented on #869
@nitaliano: do you have any hint of what is going on?

[2017-12-19 11:29] iorena commented on #641
Encountering this problem in 6.0.1

[2017-12-19 14:49] nlindroos opened #890 "Callback onFlyToComplete never triggered"
`flyTo` seems to execute perfectly, the completion callback never gets called however. Tested on both iOS and Android, the callback gets triggered on neither. Let me know if you need further info.

[code]
[code]

[code]

[2017-12-19 15:42] nitaliano commented on #890
We've moved away from callbacks and all map methods return a promise now you can just use async await on the method calls.

https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/FlyTo.js#L53

[2017-12-19 15:42] #890 closed, assigned to nobody

[2017-12-19 15:45] GuillotJessica opened #891 "[ANDROID] v6.0.1 and v6.0 map is black"
Hello,
my map turned black for no reason
I checked the MapboxGL.setAccessToken [there](https://api.mapbox.com/v4/mapbox.emerald/page.html?access_token=<accessToken>) and it work fine
I haven't edit the map for a while
I turned it to v6.0.1 afterward to implement the
` textureMode={true}`
but doesn't change a bit to this black map
here is my package.json regarding the issue

I have no idea what to

[2017-12-19 17:35] nitaliano commented on #891
texture mode support is only in master not 6.0.1

[2017-12-19 17:40] nitaliano commented on #869
The Android SDK also uses google play services what happens if you add
[code]
to your gradle file?

[2017-12-19 17:58] nitaliano commented on #888
This is a fair request and one we can timebox to see what's possible to do in such cases

[2017-12-19 18:23] ncuillery opened #892 "[Android only] userLocation not visible after upgrading to RN 0.46"
After upgrading from 0.45.1 to 0.46.0, I encounter a weird issue with the Mapbox component.

Here is my component declaration:

[code]

Everything works well with 0.45.1: the map is centered on my position and the user location (blue spot) shows up.

Then, I've upgraded my app to RN 0.46.0 and here is what happened: now the map briefly displays the userLocation... then it seems to be refresh (turn

[2017-12-19 18:38] edwardgalligan commented on #888
Just to follow up with a consideration that may be relevant - one of the main problems with my current solution is that the array `['one', 'two']` must be known. In the contrived example above, this should be trivial as this equals the keys of the object passed as the `images` prop, but this exclusion method then precludes referencing maki icons (or any arbitrary SVG icon that may have been upload

[2017-12-19 21:53] ghost commented on #860
Okay, here goes ...

I hadn't read the docs clearly for `MapView` attribute usage so I was defining `attributionEnabled={false}` but I hadn't followed these simple instructions, and so that was the whole reason why I was getting `libc++abi.dylib: terminating with uncaught exception of type NSException
(lldb)`

[code]

Over at https://github.com/mapbox/react-native-mapbox-gl/blob/master/docs/MapVie

[2017-12-19 22:43] grantyi opened #893 "[iOS]Annotation points are being rendered below the Raster Layer"
In the latest version of the master branch, annotation points on iOS are being rendered below the raster layer despite being rendered after the layer. This does not occur on Android.
![img_0030](https://user-images.githubusercontent.com/6563972/34182397-11f6a374-e4e4-11e7-96cf-b61309a9885c.jpg)

[2017-12-20 07:38] jessisena commented on #877
Hi Nick,

have you been able to try it? I've just received an email from the support department with a more detailed explanation about the use limitations, and definitely that is not the problem.

I'd really appreciatte any idea about how to solve this problem, in order to be able to use this SDK in my project.

Thanks!

[2017-12-20 07:43] nlindroos commented on #890
OK, cool. Thanks for your response!

[2017-12-20 08:33] GuillotJessica commented on #891
you mean 6.0.2-rc1 ?

[2017-12-20 08:53] lucasbento commented on #869
@nitaliano: thanks for replying.

This is what I get by adding that line:

<img width="1360" alt="image" src="https://user-images.githubusercontent.com/6207220/34198636-6afa4e62-e56b-11e7-9336-a89fd0767a91.png">

[2017-12-20 10:47] JedrzejMajko opened #894 "Please do not use this package!"
This package is broken.

It is very slow, breaks react constantly (multiple renders are done at the same time), do not allow more than one map at the same time, can hang <<on idle>> if too many points were displayed before (memory issues), same events on ios and android behaves differently... everything is in CLOSED issues.

We tested it on database with over 5000 points that were rendered 30 at a

[2017-12-20 16:15] nitaliano commented on #894
Please in the future post constructive issues to not only help track down bugs but it will benefit other members in the community that might be running into a similar issue.

We have two examples of rendering well over 5000 datapoints
* First example is done with clustering - https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/EarthQuakes.js
* Second example is done

[2017-12-20 16:15] #894 closed, assigned to nobody

[2017-12-20 16:23] nitaliano commented on #891
@GuillotJessica texture mode support was just merged in recently and has not gotten an npm publish yet. We will be publish a new version to npm by the EOD today `6.0.2`. For the black screen I have seen that calling the offlineManager and something in the SDK get's stuck, and you'll see a black screen afterwards. That has since been resolved in gl-native and should be resolved on current master

[2017-12-20 17:04] josenaves commented on #830
I can note the same behavior on Android (version 6.0.2-rc1)

[2017-12-20 17:11] GuillotJessica commented on #891
thanks a lot for helping resolving my issues anyway, hope for the the soonest,
got it back on track by downgrading to 6.0.0

[2017-12-20 18:41] nitaliano commented on #877
@jessisena I haven't been able to look into it again yet. I've set some time aside to look into it tomorrow I will let you know what I find.

[2017-12-20 18:42] nitaliano commented on #830
Going to look into this for the `6.0.3` release

[2017-12-20 20:12] RWOverdijk commented on #627
@nitaliano Is there any eta on navigation? I'd love to use this in my next app.

[2017-12-20 20:54] nitaliano commented on #882
Added a message to the top of the old package https://www.npmjs.com/package/react-native-mapbox-gl

[2017-12-20 20:54] #882 closed, assigned to nobody

[2017-12-20 21:07] nitaliano commented on #893
thanks for reporting, one question are those points from the `RCTMGLPointAnnotation` or `SymbolLayer` component?

[2017-12-20 22:35] nitaliano commented on #891
@GuillotJessica `6.0.2` is published now. Also I ran into a black screen on the older version and noticed the logs were saying I wasn't connected to the internet. I restarted `adb kill-server` and closed out the sim, went into Android Studio cleaned the project and built it again and the problem went away.

[2017-12-20 23:58] nitaliano commented on #869
@lucasbento I've run the codebase with Android 7 on hardware and haven't seen a crash. Which leads me to believe that multiple deps are bringing in google play services and the versions are messing with each other. I found this issue in react-native-maps https://github.com/react-community/react-native-maps/issues/1408 it looks similar. Also found this issue in this repo https://github.com/mapbox/r

[2017-12-21 00:01] nitaliano commented on #888
@lucideer yup, agree. I'm wondering if there is something in the native runtime styling API that we can expose to the JS to be able to set a default value, so when the c++ is rendering the code it will have all the information it needs to display the GL layer

Update:
Just noticed this in the iOS SDK https://github.com/mapbox/mapbox-gl-native/blob/ios-v3.7.1/platform/darwin/src/MGLStyleValue.h#L49

[2017-12-21 00:08] nitaliano commented on #627
@RWOverdijk there is nothing officially planned yet. I'll bring it up internally again and see where we land on it and let you know.

[2017-12-21 00:24] nitaliano commented on #881
WIP PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/897

[2017-12-21 00:24] nitaliano commented on #742
Support has been added in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/897

[2017-12-21 00:25] nitaliano commented on #699
WIP PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/897 that fixes these issues

[2017-12-21 00:26] nitaliano commented on #834
Support for this is going to be added to this PR https://github.com/mapbox/react-native-mapbox-gl/pull/897 so it will land in time for our next npm release `6.0.3`

[2017-12-21 00:29] nitaliano commented on #778
@Jose4gg the user tracking is going to be fixed with this PR https://github.com/mapbox/react-native-mapbox-gl/issues/814, it won't remove the navigation icon anymore.

[2017-12-21 00:31] nitaliano commented on #829
Closing this out it's in `6.0.2`

[2017-12-21 00:31] #829 closed, assigned to nobody

[2017-12-21 00:32] nitaliano commented on #860
@michaelstokes glad you got it working, sorry that there's not a better error message being displayed.

[2017-12-21 00:32] #860 closed, assigned to nobody

[2017-12-21 00:38] nitaliano commented on #864
I just added a console.log to the `ShowRegionDidChange` example and it's no longer being called 7 times and it's throttled in `6.0.2` mind seeing if you see the same results?

[2017-12-21 00:40] nitaliano commented on #794
I tested this in the example application using `6.0.2` and I'm not seeing a region change being fired anymore while the component is unmounting. Mind taking a look?

[2017-12-21 00:41] nitaliano commented on #804
`6.0.2` is released

[2017-12-21 00:42] nitaliano commented on #735
I haven't been able to reproduce this one yet. This snippet `[__NSDictionaryI dataUsingEncoding:]:` makes me think we got bad data into the database and we're failing to parse it correctly.

[2017-12-21 00:44] nitaliano commented on #825
@iamjaredwalters yes you get the actual feature.

[code]

[2017-12-21 00:44] #825 closed, assigned to nobody

[2017-12-21 00:46] nitaliano commented on #798
`6.0.2` is out add `textureMode={true}` to your MapView and your issues will be fixed

[2017-12-21 00:50] nitaliano commented on #796
The fix for this will be added to this PR https://github.com/mapbox/react-native-mapbox-gl/pull/897 it's still a TODO just wanted to update the ticket

[2017-12-21 00:54] nitaliano commented on #837
This is fixed in `6.0.2`

[2017-12-21 00:58] nitaliano commented on #498
This is possible to do using https://github.com/mapbox/geo-viewport#viewportbounds-dimensions-minzoom-maxzoom-tilesize if you have the bounds you want to set and the width and height of the map that function will return a center point and zoom level. You can then set that zoom level as the minZoomLevel on the map

[2017-12-21 01:00] nitaliano commented on #724
@jliebrand this is fixed in `6.0.2`

[2017-12-21 01:01] nitaliano commented on #744
You'll want to use `this.map.setCamera` for this, you can set multiple properties at once, and add stops

[2017-12-21 01:01] #744 closed, assigned to nobody

[2017-12-21 01:04] nitaliano commented on #723
@jliebrand this is fixed in `6.0.2`

[code]

should work now, stops as well if you want to do them one at a time.

[2017-12-21 02:47] friedbunny opened #898 "attributionEnabled docs are inadequate"
The docs for the `attributionEnabled` prop say how to circumvent the iOS SDK’s attribution-disabled exception without actually telling the developer why it exists. The docs here should tell developers _why_ they need to add the plist flag, not just that they should.

More background here: https://github.com/mapbox/react-native-mapbox-gl/issues/291#issuecomment-189669989

https://github.com/mapbox/

[2017-12-21 02:49] friedbunny commented on #291
This is still tripping up users — https://github.com/mapbox/react-native-mapbox-gl/issues/860.

[2017-12-21 08:50] jliebrand commented on #723
Awesome! I'll give it a go (although likely after xmas now ;-))

[2017-12-21 08:50] jliebrand commented on #724
Nice one, thanks!

[2017-12-21 08:55] kaynz commented on #837
Hi @nitaliano, thank you.

Well, yeah, there's no more [0,0] because there is no onRegionDidChange() when map is finished loading. I would expect an initial onRegionDidChange after map is finished loading, so is the current behaviour correct?

[2017-12-21 09:55] RNMBuser opened #899 "RasterLayers are rendered at wrong zoom level on iOS"
1. It seams that MapboxGL.RasterLayer uses the wrong (to low!) zoom level.

2.  RasterLayer  must be nested inside a RasterSource tag. If they are side by side, nothing is rendered (try to move MapboxGL.RasterLayer outside the source!).

3. sourceID has no effect. It doesn't matter what you set it: if the layer is inside the source tag, it'll be rendered. If not, it will not. Also, it cannot refer

[2017-12-21 10:26] lucasbento commented on #869
@nitaliano: already tried the first one, will try #814 and it again, will let you know whether it works or not, thanks!

[2017-12-21 10:33] Tennen commented on #856
fixed by this [pr](https://github.com/mapbox/react-native-mapbox-gl/pull/861), close.

[2017-12-21 10:33] #856 closed, assigned to nobody

[2017-12-21 13:15] hannta commented on #794
Looks like this is now fixed 👍

[2017-12-21 13:33] RWOverdijk commented on #627
@nitaliano Awesome! A guide as to how to use the directions api would do as well. I can implement instructions myself (and perhaps even make it a component for react native).

[2017-12-21 13:40] grantyi commented on #893
They are RCTMGLPointAnnotations. I ended up switching to using SymbolLayers and they work perfectly

[2017-12-21 13:53] hannta opened #901 "onRegionDidChange isUserInteraction: false on first map move"
When I first time move the map, event `onRegionDidChange` is fired but the property `isUserInteraction` is `false`. Even I swipe the screen to move the map myself.

If I make some map "manipulation", like calling `setCamera` before the first map move, this issue is not reproducing. So it looks like always first `onRegionDidChange` event is triggered with `isUserInteraction: false`, no matter what

[2017-12-21 15:08] SandeshBG commented on #837
Are those onRegionIsChanging and onRegionWillChange working now?

[2017-12-21 15:11] SandeshBG opened #902 "MapBox missing streets and blocks in map"
I want to use a mapbox for a map based application. But mapbox is missing few small streets in certain areas. It is not showing blocks and building correctly as in google map. What is the solution to this?

[2017-12-21 16:23] nitaliano commented on #902
You would be able to add those street names to OpenStreetMaps and they would be able to flow into our system. Have you ever used it before?

[2017-12-21 16:24] nitaliano commented on #901
I'm assuming this is happening due to android not sending the very first region event

[2017-12-21 16:24] #794 closed, assigned to nobody

[2017-12-21 16:31] SandeshBG commented on #902
No, I have never used OpenStreetMaps before. Thanks for the help..

[2017-12-21 16:31] #902 closed, assigned to nobody

[2017-12-21 16:42] nitaliano commented on #902
I'll look for some tutorials this could actually be good to have in the README

[2017-12-21 18:06] nitaliano commented on #291
Updated the title for anyone wondering this was called `attributionButtonIsHidden` in the unsupported version(v5) and in the supported version(v6) this property is called `attributionEnabled`

[2017-12-21 18:08] nitaliano commented on #898
@friedbunny thanks for opening

If you ever had time to review more of the iOS parts of the repo it would be much appreciated!

[2017-12-21 18:11] nitaliano commented on #837
@kaynz I see what you're saying I will do another npm publish today that fixes this atleast. iOS does fire this once the map is loaded. I had to move this out of the natural flow because the Android SDK will report this at earlier times and far more often than the iOS SDK, so I'll manually fire this in `onMapReady` in the native code

@SandeshBG are you trying to implement drag support with the ma

[2017-12-21 18:45] nitaliano commented on #627
@RWOverdijk we just did a blog post recently https://blog.mapbox.com/adding-directions-to-the-react-native-store-locator-kit-ade759bd824e and the store locator kit makes use of the directions API https://github.com/mapbox/store-locator-react-native.

Here is a link to our main API documentation - https://www.mapbox.com/api-documentation/#directions

We have a prebuilt JS SDK that also works on RN

[2017-12-21 19:15] nitaliano commented on #899
Layers need to be inside of sources by default and the sourceID is passed down from the Source parent to the layer so it's not something you would need to set.

Sorry, I'm not sure I'm following would you mean by using the wrong zoom level and it cannot reference a source on the stylesheet Would you mind going into more detail?

[2017-12-21 19:16] nitaliano commented on #893
@grantyi SymbolLayers are the way to go, Annotation Views are more of a legacy API but we want them to work as expected thanks again for reporting!

[2017-12-21 19:21] nitaliano commented on #902
@SandeshBG give this a try https://www.mapbox.com/feedback/

[2017-12-22 04:58] RNMBuser commented on #899
1. Suppose I have a stylesheet that contains a few Raster sources. I wish to alternate between the raster layers, and select the layer I want.

Do we have any access to the visibility of the layers? What I tried to do is have a layer in RN that references the sources on the stylesheet. This seams impossible. Do you have a suggestion?

2. The MB style sheet separates between sources and layers, but

[2017-12-22 14:24] henrikra commented on #804
I will reopen if I see this again :)

[2017-12-22 14:24] #804 closed, assigned to nobody

[2017-12-22 14:40] henrikra opened #903 "[Android crash] com.mapbox.mapboxsdk.maps.NativeMapView.createSurface"
We have been getting this crash lately. 9 times totally.

[code]

[2017-12-22 19:12] josenaves opened #904 "[Offline] getPackStatus() function visibility"
The current implementation of getPackStatus() is only accessible through OfflineManager (using createPack progressListener callback - solved in issue [829](https://github.com/mapbox/react-native-mapbox-gl/issues/829))

It would be very good if we could access the status directly. For instance, I need to check if all map packs were successfully downloaded. I cannot depend on that callback.

What do

[2017-12-22 19:16] josenaves opened #905 "[Offline] Current documentation does not reflect the latest changes (6.0.2)"
For instance, we don't have any mentions about offlineRegion.status()

https://github.com/mapbox/react-native-mapbox-gl/blob/master/docs/OfflineManager.md

[2017-12-22 21:28] Jose4gg opened #906 "[ANDROID] App crashes when kill the app using task manager and try to open it again"
I have a very weird behavior right now. I'm using react-native-navigation and this package, right now when I close the app using the task manager and try to open it again it crashes. The weird thing is that it only happen if I render the Map just one time, if I don't render the map I can kill the app, open it again and everything works fine, but if I render the map, kill the app, try to open it ag

[2017-12-22 21:43] Jose4gg commented on #878
+1 Same here!

[2017-12-22 21:44] Jose4gg commented on #906
Similar Issue: #878

[2017-12-23 03:43] aaronblondeau opened #907 "offlineManager.getPacks() crashes app"
This occurs on both iOS and Android with version 6.0.2.

Steps to reproduce:
1) Create a brand new react native project with "react-native init"
2) Install the mapbox gl package (I use the manual install steps for both iOS and Android)
3) Use the following App.js

[code]

Android will always crash.  iOS may crash immediately, or you may have to stop and re-run the app and it will crash every time

[2017-12-23 20:26] phenbach commented on #857
@briancalvium @nitaliano I am experiencing this same issue. Can you please give more details of the work around?

[2017-12-25 09:59] AndroidDeveloperMCT commented on #878
Same issue with me

[2017-12-26 04:38] butchmarshall opened #908 "showUserLocation={true} - GPS always active, even with app in background"
This behaviour causes the app to be pretty battery intensive unless you kill it.

When using `AppState` to listen for background events to manually set to false it still does not turn off the GPS?  I can confirm the `false` prop is being passed and the render function is being called.

Setting to always false sets the GPS to off as expected.

This is on commit #6f5add776450a188e17a686555e102c949dc

[2017-12-26 04:45] butchmarshall commented on #692
I am still seeing this behaviour.  I opened a new bug [here](https://github.com/mapbox/react-native-mapbox-gl/issues/908).

[2017-12-26 05:10] butchmarshall commented on #908
I attempted to bypass this by using a `MapboxGL.CircleLayer` and the `navigator.geolocation.watchPosition` to manually draw my location.

It works, no more constant GPS active, however, when entering navigation mode in my app I set `userTrackingMode={MapboxGL.UserTrackingModes.FollowWithHeading}`.

After ending navigation I set `userTrackingMode={MapboxGL.UserTrackingModes.None}`, but the GPS neve

[2017-12-26 08:11] MrHazimAli opened #909 "Installation V6.0.2 takes too long"
Hye, I create a project and try to install via npm but it takes too long and just stuck there.. any suggestion how to tackle this issue ?

![screen shot 2017-12-26 at 4 07 32 pm](https://user-images.githubusercontent.com/6757574/34351387-5a819c2a-ea57-11e7-843c-3074f3571f30.png)

[2017-12-26 09:12] MrHazimAli commented on #909
I remove the node_module and run npm install back and it's working even take some times but not stuck anymore..

[2017-12-26 09:12] #909 closed, assigned to nobody

[2017-12-26 11:01] MrHazimAli commented on #843
does version 6.0.2 require manual installation ? after updating I got linker error even after following update header search path and added the script.

[2017-12-27 11:45] hannta commented on #908
Im seeing this same issue again on my app. This was already fixed in #705 but is again broken.

[2017-12-27 11:57] lucasbento opened #910 "PointAnnotation flickery when re-rendering the map"
I'm re-rendering the component that is using the map on the callback of `onRegionDidChange`, the `<Image />` passed as `children` of `<PointAnnotation />` keeps showing on and off on every singl re-render:

![map marker bug](https://user-images.githubusercontent.com/6207220/34380889-1d975c1a-eb05-11e7-9865-0a0223fa6c9e.gif)

I also have another `<PointAnnotation />` in another screen that is not r

[2017-12-27 12:46] josenaves commented on #855
@nitaliano  how do I create something like a callout using symbol layer? Do we have an example for that ?
I'm refactoring my app to use ShapeSource and SymbolLayer instead of PointAnnotation (+ Callout).

[2017-12-27 20:29] max-prokopenko opened #911 "Any way to use maxBounds?"
Is there any way to use maxBounds to limit the map? It's available in mapbox-gl-js, but I couldn't find any information about it for react-native-mapbox-gl

Or is there any other way to limit map to a certain area?

[2017-12-27 21:13] naveed89 commented on #109
dear im getting sam eerror while reloading the emulator,

Running application "main" with appParams: {"initialProps":{"exp":{"initialUri":"exp://192.168.1.33:19000","manifest":{"isVerified":true,"version":"1.0.0","loading":{"iconUrl":"http://192.168.1.33:19001/assets/./assets/icons/loading-icon.png","icon":"./assets/icons/loading-icon.png"},"slug":"my-new-project","name":"my-new-project","iconUrl"

[2017-12-27 21:16] naveed89 opened #912 "Running application "main" with appParams"
unning application "main" with appParams: {"initialProps":{"exp":{"initialUri":"exp://192.168.1.33:19000","manifest":{"isVerified":true,"version":"1.0.0","loading":{"iconUrl":"http://192.168.1.33:19001/assets/./assets/icons/loading-icon.png","icon":"./assets/icons/loading-icon.png"},"slug":"my-new-project","name":"my-new-project","iconUrl":"http://192.168.1.33:19001/assets/./assets/icons/app-icon.

[2017-12-28 10:44] RobertSasak commented on #735
I am receiving the same error when I am trying to upgrade from version 5 to 6. I am working on iPhone where packs were created on version 5 and I am trying to read them on version 6.
I can only assume that the way how packs are internally stored has changed.
Is there a way of upgrading without loosing all the previously downloaded packs?

[2017-12-28 11:35] jsaguiar commented on #864
@nitaliano "I'm throttling it in my PR that will add if a user made the region change or not" I would to love this! Is this available in current version?

[2017-12-28 12:13] kaynz commented on #864
@jsaguiar Yes.

[2017-12-28 12:14] kaynz commented on #911
Please check #498

[2017-12-28 13:38] max-prokopenko commented on #911
@kaynz Thanks for the reply!

The solution provided in #498 doesn't really solve the issue, as a user is able to scroll as far as they want even with the minZoomLevel set.

Here is an example of what I'm trying to achieve https://www.mapbox.com/mapbox-gl-js/example/restrict-bounds/

Any ideas?

[2017-12-28 13:46] GuillotJessica opened #913 "requestAndroidLocationPermissions"
I call this method in my map component to check and eventually grant permission from my user tu use is geolocation.
Here is my AndroidManiefest.xml
[code]
I may be wrong but when I check for
`console.warn("granted" + PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION === PermissionsAndroid.RESULTS.GRANTED);`
It returns false likewise your method seams to :
in javascript/index.js
[code]

My emulat

[2017-12-28 21:58] butchmarshall opened #914 "java.lang.NullPointerException com.mapbox.rctmgl.components.mapview.RCTMGLMapView.getVisibleBounds"

[2017-12-28 21:58] #914 closed, assigned to nobody

[2017-12-28 22:01] butchmarshall opened #915 "java.lang.NullPointerException com.mapbox.rctmgl.components.mapview.RCTMGLMapView.getVisibleBounds"
This is a fairly uncommon issue that's being reported.

![image](https://user-images.githubusercontent.com/339763/34424325-ae44b91a-ebf0-11e7-8542-dcfad8a3b9ae.png)

[code]

[2017-12-29 10:39] mtt87 opened #916 "Re-download of iOS sdk everytime with yarn"
When you install a new npm module with `yarn` every time it's triggered `postinstall`
https://github.com/mapbox/react-native-mapbox-gl/blob/master/package.json#L29

<img width="577" alt="screen shot 2017-12-29 at 11 34 04" src="https://user-images.githubusercontent.com/2150927/34435321-f195584a-ec8c-11e7-919f-695f881109c3.png">

The download coming from `https://mapbox.s3.amazonaws.com/...` is ext

[2017-12-29 16:08] butchmarshall commented on #891
Yep, I had a initial app load which was calling `MapboxGL.offlineManager.getPacks();`

Every map load was getting a black screen.  Everything works when this method is not called.

[2017-12-29 16:13] nitaliano commented on #916
We create a `.framework_version` file once we download the SDK, and inside our script we check to see if you already have that SDK downloaded locally https://github.com/mapbox/react-native-mapbox-gl/blob/master/scripts/download-mapbox-gl-native-ios.sh#L8 that is the expected behavior, will need to test it out with yarn to see what going on

[2017-12-29 19:03] outdoorra opened #917 "loading style failed: HTTP status code 401"
Hi,

whenever I start the app for the first time the map view stays blank
and the error "[ERROR] {}[Setup]: loading style failed: HTTP status code 401" is showing up
in the logging window. After a "cmd+d  Reload" the map shows up fine.

Is this related to the issue of missing network connection?
The Error is not really verbose. I also got another error in advance
"HTTP load failed (error code: -99

[2017-12-30 08:49] RobertSasak commented on #735
I deleted completely app from my iPhone and install it again. *getPacks()* does not crash any more. This is a serious issue for all users that already have an app with version 5 and update app to version 6. Is there a way of updating storage of tiles from v5 to v6?

[2017-12-30 15:38] nitaliano commented on #907
Try calling the breakStuff in componentWillMount instead of outside of the React component. setAccessToken is asynchronous by nature because the call goes over the bridge, so there may be a timing issue

[2017-12-31 02:05] aaronblondeau commented on #907
I moved the getPacks call inside MapView's onDidFinishLoadingMap and everything is working on iOS.  Android no longer crashes, but shows a black map after that first load. Still searching for a workaround there...

[2017-12-31 18:56] aaronblondeau commented on #907
I've been digging around in the Java code to try and find a way to fix this.  Once OfflineManager's listOfflineRegions method is called, no more map data gets loaded until the app is restarted.  I've added logging to the module's Java code to ensure that Mapbox.getAccessToken() returns the right token before the call is made, and it is.  I also tried reproducing this with a plain Android project a

[2017-12-31 19:21] nitaliano commented on #907
I wonder if calling `mReactContext.getApplicationContext() ` or ` mReactContext.getBaseContext()` [here](https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/rctmgl/src/main/java/com/mapbox/rctmgl/modules/RCTMGLOfflineModule.java#L107) would change anything

[2018-01-01 17:12] mtt87 opened #918 "Custom icon markers sometimes are not loaded"
It's a bit random but happens a lot, I'd say at least ~50% of the times when you reload `CMD+R` on iOS simulator and also on a real iOS device.

An example of code:
[code]

Not loaded correctly:
![simulator screen shot - iphone 6 - 2018-01-01 at 17 32 41](https://user-images.githubusercontent.com/2150927/34469304-5934e4c0-ef1c-11e7-95b7-928a8bf22ea7.png)

Loaded correctly:
![simulator screen shot

[2018-01-01 20:52] PManager1 opened #919 "error while installing yarn add @mapbox/react-native-mapbox-gl"
![image](https://user-images.githubusercontent.com/1026325/34471026-9694b914-eef2-11e7-9d6e-2759739cd97d.png)

ya is my shortcut for comand yarn add
![image](https://user-images.githubusercontent.com/1026325/34471027-9c30040a-eef2-11e7-9b5b-f112572161c5.png)

![image](https://user-images.githubusercontent.com/1026325/34471038-bf3cc47e-eef2-11e7-9c42-4408b75c0aee.png)

[2018-01-01 21:30] mtt87 commented on #919
What version of `node` are you running?
If you install it with `npm` does it work?

I use `yarn 1.3.2` as well and didn't have this issue 🌱

[2018-01-01 22:25] mtt87 opened #920 "Random crashes with custom png SymbolLayer marker"
Currently testing only on iOS I see many random crashes in the app when there is a Map component using `ShapeSource` and `SymbolLayer` with a custom `.png`
[code]
It's definitely in the native code because the app is totally crashing (no RN red screen with the stack trace, no chrome debug stack trace), I'm not very proficient with native code and Xcode, this is what I can see
`Mapbox`___lldb_unnam

[2018-01-02 06:57] nagad814 commented on #916
Facing with the same issue.

[2018-01-02 15:25] Jose4gg commented on #878
@nitaliano Hey man, any updates on this?

[2018-01-02 16:12] nitaliano commented on #878
We should not be crashing the application here that is not the expected behavior and that will be looked in to.

As for the telemetry service staying open that is the intended behavior and this [comment](https://github.com/mapbox/mapbox-gl-native/issues/10503#issuecomment-346202145) sums it up very nicely.

Let me know if there are any questions regarding the crash or the comment that I linked abo

[2018-01-02 16:16] nitaliano commented on #919
I just tried as well and I'm not seeing the issue. I'm running

[code]

I would try to remove your `node_modules`, `package-lock.json`, and `yarn.lock` and try to install again

[2018-01-02 16:19] nitaliano commented on #918
@mtt87 @jsaguiar are you guys running into this on Android as well? I'll start digging into this today

[2018-01-02 16:22] mtt87 commented on #918
Haven't tested yet on Android but I can do a quick test tonight and let you know!

Do you think using the `assets` in Xcode could make this easier?

In that case how would you reference them in the code?

Thank you 😄

[2018-01-02 16:22] jsaguiar commented on #918
I am running only in iOS for now. I am also using ShapeSource and I have the same problem

[2018-01-02 19:00] nitaliano commented on #918
I believe this issue https://github.com/mapbox/react-native-mapbox-gl/issues/920 is also related to the same problem as this.

What I've discovered so far is when we fetch the image to be put onto the map style there is no guarantee that our callback block will be executed on the main thread, and my code is under the assumption that we are on the main thread.

Once I updated the code to do this
[c

[2018-01-02 19:04] mtt87 commented on #918
Awesome @nitaliano , 🤞 it might be that!

Also 2 birds with 1 stone 😄

I wish I could help more but unfortunately my reign is JS and I'm not good with swift/obj-c 😢

Gonna test soon with Android, if that doesn't happen then we might be quite sure it's related to this.

[2018-01-02 19:04] mtt87 commented on #918
PS: where did you update that code? @nitaliano

[2018-01-02 19:23] nitaliano commented on #918
I updated it [here](https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/RCTMGL/RCTMGLStyle.m#L192)

[2018-01-02 19:24] mtt87 commented on #918
Can I try the latest version on `master` and play around with it to check if everything is okay?

[2018-01-02 19:30] nitaliano commented on #918
yea, you can update the code manually on the latest master if you want to mess around with it. I'm also going to keep playing around with it to see if it really did fix this problem, and PR it later today

[2018-01-02 21:58] mtt87 commented on #918
Testing with Android (both simulator and real device) there are no crashes at all but again sometimes the custom png markers are not loaded correctly or something strange happens, the first load is correct then they become black.

First load correct
![screenshot_1514929974](https://user-images.githubusercontent.com/2150927/34501660-3f88729a-f010-11e7-9df5-6c579c9f1da8.png)

Tap something they beco

[2018-01-02 22:04] mtt87 commented on #918
Also @nitaliano I just added your code for iOS and I get this warning on Xcode
<img width="796" alt="screen shot 2018-01-02 at 23 03 29" src="https://user-images.githubusercontent.com/2150927/34501890-3cee32f8-f011-11e7-827f-4cbe66a048f9.png">

[2018-01-02 22:06] nitaliano commented on #918
There are a few places where we use that code make sure you are in method

[code]
the warning above is saying you're in
[code]

[2018-01-02 22:34] mtt87 commented on #918
I was following your link in the original post was on line 60 😄 I saw your edit now 😄

That said it seems to be working fine on the simulator, no crashes at all.

Still on the real device the markers are not loaded correctly.

I'll try to resave those png to check if it's not something wrong with it.

[2018-01-02 22:35] mtt87 commented on #920
With https://github.com/mapbox/react-native-mapbox-gl/issues/918#issuecomment-354847711

Seems like it's not crashing anymore 👍

I'll do a bit more testing tomorrow and if there are no more crashes I'll close this issue 😄  thanks!

[2018-01-02 22:37] nitaliano commented on #920
@mtt87 just made a PR for it https://github.com/mapbox/react-native-mapbox-gl/pull/922

[2018-01-02 22:56] mtt87 commented on #918
I just did a test and if I load the custom marker with `Images.xcassets` they work correctly in both the simulator and the real device

Using this code:
[code]

[2018-01-02 23:03] nitaliano commented on #918
I just figured out what's going on the JS is sending an invalid uri down to the native code, when the application is put into release mode.

The above approach works, because we're just pulling them out of their native directories when we want to set the image on the map style. This is also my preferred way of doing it because it also handles different dpis correctly

[2018-01-02 23:05] mtt87 commented on #918
I moved all my pinpoint assets to `Images.xcassets` I don't mind leaving them there to be honest, looks like also they load faster or maybe it's just an impression.

[2018-01-02 23:08] nitaliano commented on #918
@mtt87 it's definitely going to be faster(probably not by much) pulling the images out of `Images.xcassets` as we are removing all bridge passes for getting the image

[2018-01-03 11:52] jsaguiar commented on #920
It seams to be fixed! thanks @mtt87

[2018-01-03 11:57] jsaguiar commented on #918
@mtt87 For me in iOS seams to be working with images loaded from RN! But that behaviour was really rare! If it happens again I will let you know!

[2018-01-03 14:13] Jose4gg commented on #878
@nitaliano I tested something and it's a 50% work, on the `RCTMGLMapViewManager.java` on the `onDropViewInstance` method I added a `mapView.onDestroy();` so right now if before closing the app I unmount the component the issue is gone, but the problem persists if I close the app using the MapView. Do you have any thought on it?

[2018-01-03 16:16] nitaliano commented on #878
Interesting that to me says, that we're most likely not hitting this line https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/mapview/RCTMGLMapView.java#L895 which is what should be calling `onDestroy` in this case

[2018-01-03 21:56] nitaliano commented on #857
I'm in the process of fixing this, I have it working on Android now and I'm hoping a PR will drop for it at the end of the week.

@phenbach it's not really a work around it's a preferences that just happens to solve this issue and if you're used to native development you might be more comfortable having your native projects control your assets....so on your `ShapeSource` you can register what imag

[2018-01-03 22:19] stephenheron commented on #807
I just came back to the project I was working on and I am still having this issue. I updated to the latest version in the hopes that it would fix things but still no luck.

The leak seems to be definitely in the ShapeSource. If I remove it then everything behaves as expected and memory drops once navigating away put it back in place and memory does not drop when navigating away.

I tried to delve

[2018-01-03 22:38] nitaliano commented on #807
@stephenheron yup, I'll take a look at it, would be very helpful!

[2018-01-03 22:41] nitaliano commented on #917
I haven't been able to reproduce this locally, but a 401 means unauthorized maybe it has something to do with your access token? Mind posting where you are setting your access token and rendering the map, they could be caught in a race condition

[2018-01-03 22:44] nitaliano commented on #915
What version are you using? I think I see where I can add a null check to prevent the crash

[2018-01-03 22:45] #919 closed, assigned to nobody

[2018-01-03 22:47] nitaliano commented on #913
I haven't been able to reproduce the crash would you be able to post some more code of where you're calling that method and rendering the map?

[2018-01-03 22:49] nitaliano commented on #912
I'm going to close this, as this is more of an RN setup and not a bug in the repo.

Have you solved your issue? Will be happy to help you debug it.

[2018-01-03 22:49] #912 closed, assigned to nobody

[2018-01-03 22:53] nitaliano commented on #904
You should be able to achieve this by doing

[code]

[2018-01-03 22:58] nitaliano commented on #907
@aaronblondeau did you happen to use the previous version of this repo in your application before we supported it? I'm asking because I'm wondering if it could be a weird db migration issue

[2018-01-03 23:13] phenbach commented on #857
@nitaliano Thanks for responding. We worked it out by adding the images to the android assets and referencing the drawables

[2018-01-03 23:15] outdoorra commented on #917
I got a rootContainer right after Entry Point.
In the ComponentDidMount i am setting the token:

[code]

[2018-01-03 23:18] nitaliano commented on #917
@outdoorra mind trying to set `MapboxGL.setAccessToken(Secrets.MAPBOX_API_KEY);` outside of your react component?

[2018-01-03 23:38] outdoorra commented on #917
I can't reproduce the error anymore.
Sitting currently at the Starbucks and wonder if it might be related to
bad network at the last workplace. Surprising though, considering that
this was an issue every single time for a week. I'll see if it happens again
and if so try to set the AccessToken outside of the component.

[2018-01-03 23:49] nitaliano commented on #917
cool, I'm going to close this out feel free to reopen if it happens again

[2018-01-03 23:49] #917 closed, assigned to nobody

[2018-01-04 00:43] butchmarshall commented on #915
Hey @nitaliano - I'm currently running commit #e5d6e375686588009ff57b322e9fc168129a1bab

Thanks again for all your hard work!

[2018-01-04 00:46] nitaliano commented on #756
This is something we will spend time on after we release `6.0.3` and overhaul how the docs are generated.

[2018-01-04 00:52] butchmarshall opened #924 "java.lang.IndexOutOfBoundsException - com.mapbox.rctmgl.components.styles.sources.RCTSource.getLayerAt"
Just reported today.  Only one so far.

[code]

[2018-01-04 00:52] nitaliano commented on #905
The way our docs are being generated makes having one of classes harder to generate docs for after `6.0.3` we plan on creating very verbose documentation and making the generated docs more flexible to work with.

You can follow along in this issue https://github.com/mapbox/react-native-mapbox-gl/issues/756

[2018-01-04 08:54] GuillotJessica commented on #913
here's my code
[code]

and then
[code]
My emulator is Nexus_5X_API_25, but problem also exist in Nexus_5X_API_23, and in release different versions

[2018-01-04 11:48] stephenheron commented on #807
@nitaliano Thanks, I managed to get a good simple example of the issue just using React Native and Mapbox.

I wrote a simple component which uses a modal to show/hide the map every 2.5 seconds.

Below are two screenshots showing the memory usage from a iPhone 6 with the app running in release mode.

**No GeoJSON ShapeSource:**
<img width="1023" alt="memory-no-geo-json" src="https://user-images.git

[2018-01-04 18:06] nitaliano commented on #807
@stephenheron thanks for the example, really appreciate the help! I'll let you know what I discover.

[2018-01-04 21:25] nitaliano commented on #857
PR is out that fixes this issue https://github.com/mapbox/react-native-mapbox-gl/pull/922 sorry for the inconvenience

[2018-01-04 21:25] nitaliano commented on #918
PR is out that fixes icons not appearing in release mode https://github.com/mapbox/react-native-mapbox-gl/pull/922

[2018-01-04 21:26] nitaliano commented on #864
Closing this out as it is fixed in master

[2018-01-04 21:26] #864 closed, assigned to nobody

[2018-01-04 21:38] nitaliano commented on #735
I normally would be against supporting something from v5(unofficial codebase) to v6(official codebase) but this issue I can understand can be a huge pain and bad user experience for your application so we can look into making the changes needed to be able to upgrade from v5 to v6 without losing the tiles.

Would you be able to provide a code sample for how you're using the offline tiles with v5 so

[2018-01-04 23:49] nitaliano commented on #901
This is fixed in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/897

[2018-01-04 23:50] nitaliano commented on #837
The region not being sent up on load for Android is fixed in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/897

[2018-01-05 00:13] RobertSasak commented on #735
I am glad that you find it important. As this is show stopper for me right now. I am more than happy to assist you.

I am not sure what should code sample would you like. I am downloading offline packs as follows. I always create an unique name for new offline pack to avoid any name collision. I store actual name of the pack in metadata as well as all other parameters. Note it is not possible meta

[2018-01-05 00:19] nitaliano commented on #735
@RobertSasak thanks that is what I was looking for code wise just wanted to make sure I'm setting the properties the same way

[2018-01-05 03:08] aaronblondeau commented on #907
@nitaliano - Using getApplicationContext() or getBaseContext() didn't help.  I was also making sure to do clean installs and even using fresh devices so not a migration issue.

I did finally find a way around this though.  Probably not a fix, but something that might help find the true cause.

Suspecting that FileSource was the cause I reduced getPacks down to just the FileSource code that was bei

[2018-01-05 07:45] GuillotJessica commented on #913
Hello @nitaliano, thx you
Here's my code
[code]

[code]
I've got a different issue using an emulator with api 25, it still bugs but ask for permissions first, maybe it is cause of the upgrade of permissions system from 32 and above?
I wonder if it should be ask in a root component instead of the map component?

[2018-01-05 08:51] hannta opened #925 "App freezes, DeadObjectException"
On android im getting following app freezes, DeadObjectException, on some older Android devices.

I think this is similar issue, already reported on mapbox android sdk https://github.com/mapbox/mapbox-navigation-android/issues/522

At least in my case, this issue is reproducing only on react-native-mapbox-gl: 6.0.2, not 6.01.

[code]

react-native-mapbox-gl: 6.0.2
react-native: 0.51.0
device: andr

[2018-01-05 09:00] vpavlushkov commented on #925
More details on the phone that experiences the issue:
 - device: Sony XPERIA M4 Aqua (E2303)
 - firmware: 26.1.A.3.111
 - Android version: 5.0

[2018-01-05 13:34] olliekav commented on #638
Was this ever merged into 5.2.2? As that still crashes for me but 5.2.3-alpha1 works, but that doesn't have the fix for zoom levels on Android. I don't have the time to upgrade to 6 yet!

[2018-01-05 15:07] CYB3RL1F3 opened #926 "offlineManager : I don't have any clue how to use it..."
Hello,

Refering to the documentation, I understood how to create a pack, and how to get it, but there is something missing in the documentation or something I don't really get : how to use it with a map ?

I mean, I don't have any clue about the moment when I have to call it, etc... I tried in the render method, but it crashes... Anyway, the idea is to create a pack if the app is online, and retr

[2018-01-05 18:13] nitaliano commented on #926
@CYB3RL1F3 we have a gitter channel if you want to join it to ask any questions about the repo https://gitter.im/react-native-mapbox-gl/Lobby?source=orgpage.

When you actually create an offline pack, you don't need to do anything to use it that is taking care of for you automatically. When you're creating a pack what is happening is we our downloading the vector tiles from our backend APIs and th

[2018-01-05 18:13] #926 closed, assigned to nobody

[2018-01-05 18:16] nitaliano commented on #925
Thanks for the info will look into it. @hannta the reason why it does not happen on 6.0.1 is we were not on 5.2.+ of the Mapbox Android SDK that made changes to it's location provider deps

[2018-01-05 19:55] nitaliano commented on #918
@mtt87 fix has been merged into master going to close this out will be published in `6.0.3`

[2018-01-05 19:55] #918 closed, assigned to nobody

[2018-01-05 19:56] nitaliano commented on #857
Fix has been merged into master will be published in `6.0.3` if you're still having issues with this feel free to reopen

[2018-01-05 19:56] #857 closed, assigned to nobody

[2018-01-05 19:59] nitaliano commented on #911
This is something we can look into adding as a feature, there is no property in gl-native like in gl-js to restrict the bounds like this. What we can do in the native code is before we move the camera check the the bounds we are going to move to our valid like this example for iOS https://www.mapbox.com/ios-sdk/examples/constraining-gestures/ so the api will be similar to gl-js from the JS API of

[2018-01-05 20:07] nitaliano commented on #498
We'll look into adding this to the repo

[2018-01-05 20:08] nitaliano commented on #911
Closing this out in favor off https://github.com/mapbox/react-native-mapbox-gl/issues/498

[2018-01-05 20:08] #911 closed, assigned to nobody

[2018-01-05 22:21] olliekav opened #927 "Cannot remove an observer RCTMapboxGLManager for the key path "packs""
React Native Version: 0.49.5
React Version: 16.0.0-beta.5
Mapbox Version: 5.2.2

My app launches, but as soon as I load the debugger the app crashes and I get this error in Xcode...

` Terminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <RCTMapboxGLManager 0x60000029a0e0> for the key path "packs" from <MGLOfflineStorage 0x60400065b3f0> because it is not

[2018-01-06 00:10] nitaliano commented on #916
Maybe moving the download off of s3 and grabbing it from the releases on Github might help speed things up https://github.com/mapbox/mapbox-gl-native/releases

[2018-01-06 03:26] MrHazimAli opened #928 "Get user coordinates"
Is there possible ways to retrieve user current location coordinate that will give latitude and longitude ?

[2018-01-07 03:10] geospatialmapmashup opened #929 "Support local mbtiles raster, vector or elevation/terrain tiles?"
Does this library only work with MapBox hosted data or does it work with your own MBTILES local on the device. MBTILES (SQLite 3 Database) with tile_data blob containing either PNG/JPG Raster Imagery or GZipped PBF Vector Tiles or PNG Elevation Tiles?
Need Offline Disconnected for Marine/Nautical, Aviation and Offroad/OHV, Hiking, Biking, etc

[2018-01-08 09:08] parkdcom commented on #878
We're experiencing the same issue. In some cases we get an ANR caused by the TelemetryService after closing the app and opening it again.

[2018-01-08 09:27] lucasbento commented on #869
@nitaliano: fixed it by doing this:

https://github.com/transistorsoft/rn-background-geolocation-demo/blob/master/android/app/build.gradle#L160-L188

Thanks!

[2018-01-08 09:27] #869 closed, assigned to nobody

[2018-01-08 11:08] hannta commented on #908
Do you have any ideas for this @nitaliano ?

[2018-01-08 11:10] henrikra commented on #925
This is bug blocking our next release :/

[2018-01-08 17:31] nitaliano commented on #908
it could be the telem service https://github.com/mapbox/react-native-mapbox-gl/issues/878#issuecomment-355913423 I haven't looked into it yet though but I will check it out

[2018-01-08 17:32] nitaliano commented on #925
Is this happening on more than just the Sony XPERIA?

[2018-01-08 18:33] nitaliano opened #930 "Add more in-depth README"
Update the README to include
* Pictures of what is actually possible with this repo
* Some basic getting started code samples
* Links to other useful documentation like the Android and iOS SDK
* Add a link to the gitter channel

Update Example README to include
* Better install instructions
* Troubleshooting to help solve common errors running the example application.

[2018-01-08 18:36] nitaliano opened #931 "Add Prettier support"
Add [Prettier](https://github.com/prettier/prettier) support to the repo to improve code standards and follow what other teams at Mapbox are using

[2018-01-08 18:38] nitaliano opened #932 "Add TypeScript Support"
The JS portion of this codebase is rather small, but updating it to use [flow](https://flow.org/) will help make the code more self documenting and will improve the information that we have about our data types when generating documentation

[2018-01-08 18:39] nitaliano opened #933 "Add more native unit tests"
Android/iOS
* Update codebase to include more native tests where possible

CI
* Update CI tooling to run these tests, and fail PRs if they do not pass

[2018-01-08 18:43] nitaliano commented on #928
@MrHazimAli you can do this for now https://github.com/mapbox/react-native-mapbox-gl/issues/854#issuecomment-350609512 I'm not sure if this repo should be sending location updates over the bridge, it could overload it if not handled properly.

[2018-01-08 18:43] #928 closed, assigned to nobody

[2018-01-08 18:58] kimhafr opened #934 "[IOS] Requesting user location from Mapbox SDK"
Hi! After adding MapBox we get the popup requesting the user to approve us using their location before the javascript-app is finished loading on the device. We suspect that it is the Mapbox iOS SDK that does this. Can you confirm that there is nothing in the SDK that triggers this behaviour? The app should not request permission until the user opens a view with a map in it right? (Where showUserLo

[2018-01-08 19:05] nitaliano commented on #934
Where are you setting `MapboxGL.setAccessToken`? We have a telemetry service that runs in the background that could be triggering it https://github.com/mapbox/react-native-mapbox-gl/issues/878#issuecomment-354802730

[2018-01-08 19:39] friedbunny commented on #934
As far as the native iOS maps SDK is concerned, location permission is only ever requested in response to a user’s location potentially being displayed on a map. See [this code](https://github.com/mapbox/mapbox-gl-native/blob/ios-v3.7.2/platform/ios/src/MGLMapView.mm#L4582-L4617) for that logic.

[2018-01-08 21:49] nitaliano commented on #929
@geospatialmapmashup out of the box no, you can follow along in this ticket for more information https://github.com/mapbox/mapbox-gl-native/issues/7471

[2018-01-08 21:49] #929 closed, assigned to nobody

[2018-01-08 23:17] EricPKerr commented on #920
@nitaliano I am getting this error from the latest merged code in master.  It includes the merged https://github.com/mapbox/react-native-mapbox-gl/pull/922 PR:

[code]

This happens when the image is rendered before the map loads (unsure if it's related to the same main/background thread issue).  This appears to temporarily fix the issue but doesn't feel like the right solution:

[code]

Stack Tra

[2018-01-08 23:30] nitaliano commented on #920
@EricPKerr would you be able to throw together some code that would be able to reproduce the issue? I haven't run into any crashes since this PR, so some quick code would help me be able to debug it much faster.

[2018-01-09 08:06] kimhafr commented on #934
Thanks for the quick reply! We figured out what was wrong, and it was not Mapbox. Closing this

[2018-01-09 08:06] #934 closed, assigned to nobody

[2018-01-09 09:38] KevinHu2014 opened #935 "Should buildToolsVersion be 26.0.1 or higher"
https://github.com/mapbox/react-native-mapbox-gl/blob/5def6977f1714d9b7737beec1c24f986718ed380/example/android/app/build.gradle#L94

[2018-01-09 09:39] KevinHu2014 commented on #935
It seems the example code use "23.0.1" .

[2018-01-09 13:55] olliekav commented on #927
So it looks like 5.2.3-alpha1 fixes this, but then I'm hit with the initialZoom not working on Android as outlined here. https://github.com/mapbox/react-native-mapbox-gl/issues/708

Are any bugs being fixed for 5.2.2 anymore, or are we having to upgrade to 6?

[2018-01-09 15:03] hannta commented on #932
How about supporting typescript? I think there should be at least typescript typing's included in this lib.

[2018-01-09 15:07] hannta commented on #925
@nitaliano actually it looks like it happens only on this Sony XPERIA device, but we have very limited test device set atmo.

[2018-01-09 16:04] fmelp opened #936 "Tileset from custom style not working in app"
Hi there, I uploaded a custom tileset to mapbox studio and everything is showing up and working fine there, but the custom tiles do not show up in my app. I am using the right custom style url and all, it's just not showing up at all. Is there a different way I should be doing this or is it not implemented with react-native?

[2018-01-09 16:20] fmelp commented on #936
`  render() {
    const rasterSourceProps = {
      id: 'droneImage',
      url: 'mapbox://fmelp.dydx0mma',
      tileSize: 256,
    };

    return (
        <View style={{flex: 1}}>

          <View style={{flex: 1}}>
            <MapboxGL.MapView
              logoEnabled={false}
              showUserLocation={true}
              style={{flex: 1}}
              ref={map => { this.map = map; }}

[2018-01-09 16:51] nitaliano commented on #936
Are you positive they are not vector tiles?

[2018-01-09 18:23] JakielaAdam opened #937 "Problem Selecting Point Annotation Twice"
Hello,

I have a MapView with several PointAnnotations which are clickable. When the user presses a PointAnnotation, I use the `onSelected` callback display a custom overlay on the map. This overlay has a close button which removes it from the view and displays the map just as before.

My problem arises is the user performs the following steps:

1. Presses a PointAnnotation to display the overlay

[2018-01-09 18:28] nitaliano commented on #935
I was under the impression that React Native needs to use build tools `23.0.1` if that is not the case we can update it to the correct version

[2018-01-09 19:04] hernanmateo commented on #878
For the while I have avoided this problem by exposing and disabling the telemetry service attribute.

[2018-01-09 21:46] nitaliano commented on #937
Thanks for reporting we'll be looking into it

You might be able to work around it by messing with the `selected` bool property on the PointAnnotations. I think we'll need to add a `deselect` method on the PointAnnotation component so when you close the popup manually you could call something like `annotationRef.deselect()`

[2018-01-09 22:28] mtt87 opened #938 "Get the current map zoom level."
I have a use case where I wanted to press a cluster and zoom the map by `(currentZoom + 2)` but I realised that it's not possible at the moment to retrieve the current `zoomLevel`.

mapbox-gl-js has this method for example:
https://www.mapbox.com/mapbox-gl-js/api/#map#getzoom

It would be great to have it, probably on the `ref` `this.map.getZoom()`

[2018-01-10 01:14] EricPKerr commented on #920
@nitaliano It seems to happen when the map is loading and the map itself is added and removed from the view tree.  In my case this is from Redux prop changes.

You'd never have code like this with setTimeouts, but it causes similar re-renders as prop changes to the Component itself:

[code]

[2018-01-10 09:26] ferdicus commented on #884
Hey there, hate to be that guy that bumps - but *bump* ? :)

[2018-01-10 10:06] kristfal opened #939 "Add onRegionIsChanging to Android and bring in line with the other change map handlers"
`onRegionIsChanging` should return the same information as `onRegionDidChange` and `onRegionWillChange`. Right now, it just returns an empty object.

Update: `onRegionIsChanging` doesn't seem to fire at all on Android.

[2018-01-10 10:22] kristfal opened #940 "Add getCenter and getZoom methods"
We currently have `getVisibleBounds`. We should also expose `getCenter` and `getZoom`.

[2018-01-10 14:15] olliekav commented on #927
I'll close this in favour of forcing myself to do the v6 rewrite :)

[2018-01-10 14:15] #927 closed, assigned to nobody

[2018-01-10 15:10] gianpieroc opened #941 "FollowWithCourse does not work when map loads with this userTrackingMode"
Hello! Thanks for the contribution to this project.. It's amazing!

I have an issue... When I load initial map with userTrackingMode={3} the map does not follow user. The map loads in a sea...

I found a hack... If I change the userTrackingMode as a react state in componentDidMount from 1 to 3 this don't happen

You can see the hack in the code below (If I set userTrackingMode to 3 directly. the m

[2018-01-10 15:16] parkdcom commented on #906
@Jose4gg  Does this issue still occur when you add textureMode={true} to your MapView?

I was experiencing the exact same issue you described above. If it does, we have some chance of fixing this problem without turning textureMode on.

[2018-01-10 17:33] nitaliano commented on #941
@gianpieroc Hi, thanks for for reporting.

This issue is actually one of the last todos on this cross platform location update PR https://github.com/mapbox/react-native-mapbox-gl/pull/897 you can follow along there and I'll update this ticket once we get it merged into master

[2018-01-10 17:44] nitaliano commented on #940
I mentioned this in our Gitter channel yesterday I think the plan going forward will be to expose all the methods that GLJS exposes on our RN component for the MapView, so we'll have things like `getCenter` `getZoom` `getRotation` `getPitch`

[2018-01-10 17:48] nitaliano commented on #884
@ferdicus haha no shame in bumping

I'll look into this and see where the issue is happening. This might be a gl-native bug, if it is I'll post back here and we can open a ticket up in gl-native

thanks for reporting!

[2018-01-10 17:48] Jose4gg commented on #906
I don't have that property added. @getconcar

[2018-01-10 17:54] nitaliano commented on #925
I was able to get my hands on an Xperia running 5.1.1, I'll see if I can reproduce the issue

[2018-01-10 18:25] gianpieroc commented on #941
Thanks a lot! 👍

[2018-01-10 19:32] henrikra commented on #925
Great news!

[2018-01-10 19:58] nitaliano commented on #941
@gianpieroc just added the commit to that PR that will solve this issue

[2018-01-10 20:23] #898 closed, assigned to nobody

[2018-01-10 20:29] nitaliano commented on #291
docs have been updated with this PR https://github.com/mapbox/react-native-mapbox-gl/pull/942 and it's been merged into master closing this out

[2018-01-10 20:29] #291 closed, assigned to nobody

[2018-01-10 23:16] parkdcom commented on #906
No I mean you should try adding that property and see if you're still experiencing the bug.

[2018-01-11 06:08] joshuapinter opened #943 "Getting IncompatibleClassChangeError with 6.0.2."
[code]

[2018-01-11 11:15] ferdicus commented on #884
Thanks @nitaliano 👍

[2018-01-11 16:46] karlguillotte commented on #709
Hi @nitaliano ,

I am still having an issue with the `textJustify` styling property.

Thanks!

[2018-01-11 19:18] joshuapinter commented on #943
Okay, this was due to an old version dependency of Google Play Services:

`compile 'com.google.android.gms:play-services:6.5.87'`

Plus, it's not good practice to include the entire library, so I updated this to:

`compile 'com.google.android.gms:play-services-location:11.8.0'`

And this error went away.

[2018-01-11 19:18] #943 closed, assigned to nobody

[2018-01-11 19:30] joshuapinter opened #944 "Cannot see current position, even with `showUserLocation={true}`."
I am running 6.0.2 and have even tried the `cross-platform-location` branch but neither work.

I'm calling the map with:

[code]

![device-2018-01-11-122933](https://user-images.githubusercontent.com/180819/34843280-3d4044e2-f6cb-11e7-958f-f8cf3192a499.png)

I see the map and I can interact with it but there's no current user location. My location services are all on because I can get my location

[2018-01-11 19:40] nitaliano commented on #944
I'm assuming this is Android? Are you calling this https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/App.js#L139?

[2018-01-11 20:05] joshuapinter commented on #944
@nitaliano Hi Nick. Thanks for your response. Yes, it's on Android and yes I'm calling that. `isGranted` is `true`.

[2018-01-11 20:38] EricPKerr opened #945 "Draw Circle With Radius in Meters not Pixels"
The current method of drawing a circle on the map uses [`<MapboxGL.CircleLayer />`](https://github.com/mapbox/react-native-mapbox-gl/blob/master/docs/CircleLayer.md) but the method for passing in `circleRadius` appears to be in pixels.  I would like to draw a 10-mile circle (only the border is a stroke color and the 'fill' is transparent) - is that possible?

I've looked into passing in a GeoJSON

[2018-01-11 20:45] nitaliano commented on #944
how are you grabbing the current location?

[2018-01-11 20:51] joshuapinter commented on #944
I do this with a native bridge like so:

[code]

Important note here, the stand-alone Google Maps app shows my currently location just fine.

Also if I run this in an emulator it works fine.

[2018-01-11 20:57] nitaliano commented on #944
The repo is using the LostLocationEngine internally maybe that is causing a conflict, would you be able to throw a minimal repo together and I can debug it?

[2018-01-11 20:59] joshuapinter commented on #944
I'm not sure if you'll be able to debug this because it seems to be device dependent. I launched the debug build on a different tablet and it seems to work just fine. Really confused here. Let me know if there's anything I can try to get more information for you.

[2018-01-11 21:01] nitaliano commented on #945
Your best bet would be creating a polygon in GeoJSON that is a circle and displaying it as a FillLayer. Since the CircleLayer is based off of a center point we don't have anyway to achieve this with a CircleLayer. You can try this out http://turfjs.org/docs/#circle to help you form a circle. I've had to do this on the web before, so it might take some tweaking to help round the edges of the polygo

[2018-01-11 21:01] #945 closed, assigned to nobody

[2018-01-11 21:03] nitaliano commented on #944
hmm what device and Android version is it not working on?

[2018-01-11 21:05] joshuapinter commented on #944
The device is an obscure rugged tablet called a HiDON 7":

http://www.ruggedtabletspcfactory.com/hidon-7-inch-4g-fdd-lte-android-nfc-rugged-android-tablets-ip68-fullyrugged-tablet-pc-computer-p-2888.html

And it's running Android 5.1 (API 23).

[2018-01-11 21:08] nitaliano commented on #944
I see I probably won't be able to get may hands on that device. Maybe something is coming up in Logcat? Could post a gist with the log dumps(with no filters selected) and I can look it over to see if anything seems out of wack

[2018-01-11 22:13] Jose4gg commented on #906
That makes my Mapview goes blank for no reason... @getconcar

[2018-01-11 22:46] joshuapinter commented on #944
I'll see if I can get react-native-maps working and if that works then I'll circle back and get some logs for you. Very odd because this worked fine pre 6.0.0.

[2018-01-11 23:00] EricPKerr commented on #945
@nitaliano yes, the circle would be a 10-mile radius around a center point.  The CircleLayer works as intended (around the center point) it just accepts the radius in pixels rather than distance.  Is that not how it's intended to be used?

[2018-01-11 23:01] #941 closed, assigned to nobody

[2018-01-11 23:46] nitaliano commented on #945
Yea, pixels are the intended behavior, styles are just visualize they are not suppose to represent real world coordinates. Your source is what represents the real world coordinates, anytime you see a mapping library render a circle it's actually converting it to a polygon like I mentioned above.

[2018-01-12 00:13] EricPKerr commented on #945
Cool - the turfjs implementation works fine. Thanks for your help.

[2018-01-12 15:20] alexgvozden commented on #907
is there any official fix for this as I am getting same crashes EXC_BAD_ACCESS on iOS and crashes on Android (not all the time)

<img width="859" alt="screen shot 2018-01-12 at 4 16 54 pm" src="https://user-images.githubusercontent.com/127109/34881677-7de08ad6-f7b4-11e7-9a39-7d71ab7dd57c.png">

[2018-01-12 16:32] KevinHu2014 commented on #935
@nitaliano  Does mapbox works fine on Android 8 ?

[2018-01-12 16:34] nitaliano commented on #907
I'll take a look at it today. I'll also try updating to the latest Android and iOS SDKs to see if that helps

Update: I believe I fixed the crashes on iOS so I'll be sending out a PR for that today

@aaronblondeau I can verify that what you suggested is working, one thing that I did notice is that in  the Android SDK `OfflineManger.class` the constructor is grabbing the file source only once and r

[2018-01-12 17:34] nitaliano commented on #881
This has been merged into master

[2018-01-12 17:34] #881 closed, assigned to nobody

[2018-01-12 17:34] nitaliano commented on #742
This has been merged into master

[2018-01-12 17:35] nitaliano commented on #699
Location PR has been merged into master

[2018-01-12 17:35] nitaliano commented on #834
PR has been merged into master you can try it out by using `followWithCourse` or `followWithHeading`

[2018-01-12 17:37] nitaliano commented on #796
PR has been merged into master so if you add a layer without `aboveLayerID`, `belowLayerID`, or `layerIndex` we do a check and make sure we put the layer below the user icon. Feel free to reopen if you run into any bugs

[2018-01-12 17:37] #796 closed, assigned to nobody

[2018-01-12 17:37] nitaliano commented on #901
Merged into master, closing out feel free to reopen if you run into any issues

[2018-01-12 17:37] #901 closed, assigned to nobody

[2018-01-12 17:39] nitaliano commented on #837
PR has been merged into master and we are now sending the first region event

[2018-01-12 17:39] #837 closed, assigned to nobody

[2018-01-12 17:41] nitaliano commented on #932
@hannta if enough people want typescript support we can add support for it

[2018-01-12 17:53] hampelm commented on #891
I'm experiencing the same issue as @butchmarshall on 6.0.2: if I have a component that calls `MapboxGL.offlineManager.getPacks()`, the next map I try to instantiate will be entirely black. If I disable the `getPacks` call, maps load correctly.  When I downgrade to 6.0.1, it works as expected.

A snip of the component that loads the offline map packs in the (highly likely) chance I'm just using it

[2018-01-12 17:53] GuillotJessica opened #947 "open bubble without press"
how dynamically open a bubble ?
something like this but react native [mapView.selectAnnotation(annotation, animated: true)](https://www.mapbox.com/ios-sdk/examples/callout-delegate/)

[2018-01-12 17:57] nitaliano commented on #947
There's a `selected` boolean property on the RCTMGLPointAnnotation, we have not added those methods yet, but will add support for them

[2018-01-12 18:11] glennverschooren opened #948 "dynamically render multiple ShapeSource components inside a MapView?"
Hey,

I have a question about the following use case:
A user can toggle multiple layers and show them on a map.
<img width="727" alt="schermafbeelding 2018-01-12 om 18 11 02" src="https://user-images.githubusercontent.com/3251519/34890911-f8b669e6-f7d3-11e7-94b7-387f73718e92.png">

To do this I'm rendering a shapeSource component for each layer the user activates.
Each layer has a feature collecti

[2018-01-12 18:15] nitaliano commented on #891
@hampelm you're not doing anything wrong I can reproduce this behavior and I'm actively looking into it today

[2018-01-12 19:00] nitaliano commented on #907
PR is out if you guys wanted to test it out https://github.com/mapbox/react-native-mapbox-gl/pull/949

[2018-01-12 19:01] nitaliano commented on #891
Potential fix is out in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/949 if anyone wanted to give it a test

[2018-01-12 19:07] nitaliano commented on #935
Yes, it should I do a good amount of testing on an Android 8 emulator

[2018-01-12 19:09] AndreaZanuccoli opened #950 ""Use of undeclared identifier" errors during Xcode building"
When i try to build my project in Xcode it shows the following errors inside MGLModule.m:

`Use of undeclared identifier 'MGLCirclePitchAlignmentMap'; did you mean 'MGLCircleScaleAlignmentMap'?`
`Use of undeclared identifier 'MGLCirclePitchAlignmentViewport'; did you mean 'MGLCircleScaleAlignmentViewport'?`
`Use of undeclared identifier 'MGLIconAnchorCenter'; did you mean 'MGLTextAnchorCenter'?`
`

[2018-01-12 19:10] nitaliano commented on #948
@glennverschooren yes, it looks correct and you can update the visibility through it's style properties. I can work on adding an example of this to the example application

[2018-01-12 19:10] #948 closed, assigned to nobody

[2018-01-12 19:12] nitaliano commented on #950
make sure you have the latest `Mapbox.framework` in your node_modules try a fresh install, those enums were added in `3.7.+` which leads me to believe you have an older version of `Mapbox.framework` in your project

[2018-01-12 19:22] joshuapinter commented on #944
Hey @nitaliano, I wanted to update you with something. I rolled back to version 5.2 of the library and everything works really well on all the devices I've tested, including the weirdo HiDON.

![device-2018-01-12-122003](https://user-images.githubusercontent.com/180819/34891545-2bb7d67c-f793-11e7-8b91-12ac03788aeb.png)

It seems like something fishy is going on with version 6, even thought that's

[2018-01-12 19:29] glennverschooren commented on #948
@nitaliano Thank you for your quick reply! That example would be very nice!

So what you're saying is that I can toggle de visibility from the SymbolLayer and keep the ShapeSource rendered inside the map?

Because now I dynamically add and remove layers from the activeLayers and rerender them inside the map.

[2018-01-12 20:02] nitaliano commented on #944
@joshuapinter glad you got something working, it could also be differences in the native Android SDKs that are used pre 6.0 and now. I have verified on all my devices 5.0.0 and up that it is working as expected.

I'm going to close this out for now since there are no steps I can take to reproduce this issue, if you do end getting around to sending me the logs I would love to see them.

[2018-01-12 20:02] #944 closed, assigned to nobody

[2018-01-12 20:13] #950 closed, assigned to nobody

[2018-01-12 20:18] hampelm commented on #891
Thank you for the quick response! I'm on deadline for a project this afternoon but will give it a shot asap.

[2018-01-12 20:23] nitaliano commented on #948
@glennverschooren yes exactly I think that might be an easier way of handling it instead of adding and removing layers from the ShapeSource. Dynamically adding and removing layers is also a valid way of handling this so it would be a matter of preference here.

[2018-01-12 21:28] nitaliano commented on #925
I can't reproduce this issue with my Xperia. Are there any specific steps I need to take in order to get this error?

[2018-01-12 22:21] nitaliano commented on #849
Fix is in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/951 we just had to scale the content insets by the devices pixel ratio, so it will now match what it looks like on iOS

[2018-01-12 22:46] nitaliano commented on #876
Fixed in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/951

[2018-01-15 08:54] henrikra commented on #925
We also tested on Android Huawei ALE-L21 and we got it freeze like with Sony.

[2018-01-15 08:58] vpavlushkov commented on #925
Probably worth mentioning that the issue gets reproduced on XPERIA phone in question every time while on Huawei it happens every 2nd-3rd time. It looks like the root cause is some raise condition that takes place more often on a slower phone.

[2018-01-15 10:30] HikingDev commented on #768
Did you figure out whats the issue?
Still getting "gps" lcoation provider requires ACCESS_FINE_LOCATION permission
though it is set in the AndroidManifest.xml

[2018-01-15 11:11] HikingDev opened #953 "ReactTextView cannot be cast to android.view.ViewGroup"
the App works fine on IOS. For Android the App crashes and gives the following Stacktrace:
React-native-maps seem to have had a similar problem.
[view inside Marker with](https://github.com/react-community/react-native-maps/issues/1153
)

Unfortunately i can't figure out where exactly the error is located.

[code]

[2018-01-15 14:39] GuillotJessica commented on #768
@roesneb @nitaliano unfortunately, the problem remains

[2018-01-15 15:35] marcossk8 opened #954 "Problems with Mapbox.PointAnnotation"
Good day, I have a problem wanting to put a for in <MapboxGL.PointAnnotation />
1- A single point is shown, whereas more than one should be displayed
2- That point, when doing more zoom or less moves to another direction

{this.state.cloneSucursales.map(marker => (

             <Mapbox.PointAnnotation
               key='pointAnnotation'
               id='pointAnnotation'
               coordina

[2018-01-15 16:08] georific opened #955 "[Android - Oreo] Map doesn't render when navigating to the page."
I am using using react-navigation to navigate to a page that contains a Mapbox.MapView.  The map doesn't render.  This only seems to be an issue when a device is running Oreo.  I have tried it on the Emulator as well as physical devices. Works fine if running device/emulator on API 25, 24...

Native stacktrace is below.

[code]

I've tried to run `@mapbox/react-native-mapbox-gl` locally and point