[2017-07-13 06:50] vbuch commented on #436
This feature seems not to have been merged in 5.x so you will need to use master if you want it @anupkale1984

[2017-07-13 07:03] vbuch commented on #579
Mentioning 5.2.0 confused me as there is no such release. I guess you meant `master`. Glad to help.

Have you tried using a TouchableHighlight or TouchableWithoutFeedback in the custom annotations? Does it work for you or should I post a new issue?

[2017-07-13 07:31] alixaxel commented on #579
@vbuch Yeah, 5.2.0 is the current master as per the [package.json](https://github.com/mapbox/react-native-mapbox-gl/blob/3df91c52448a77fa9972cf8147eaf6a9f513a2e8/package.json#L4).

I tried `TouchableHighlight` but in that case the annotation is simply not rendered on the map.

[2017-07-13 12:59] zaguiini commented on #582
+1

My code:

[code]

Without running `react-native link react-native-mapbox-gl` it shows that error, but with linking it suddently stops. What's going on?

I tried to comment `mapStyles` destructuring on `index.js:19`, but it looks `NativeModules` is undefined.

[2017-07-13 13:15] HuiguangChu commented on #582
The same as @zaguini  @nolan-m

[2017-07-13 13:16] zaguiini commented on #582
Finally find a way! You must link the package, but `react-native link` is not working properly.

Also, in the documentation, I couldn't find a link to Android-particular instructions. But with a little Googling I found this: https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/install.md

I had to link it manually and it worked! :)

EDIT: yes, the link to Android installation is th

[2017-07-13 13:41] zaguiini commented on #579
+1, cast error

EDIT: Upgrading to 5.2.0 via Github fixes it, but NPM version is 5.1.0... Fix that and people will be good to go.

[2017-07-13 15:19] zaguiini commented on #569
Upgrading to 5.2.0 (installing via Github instead of NPM) fix the issue.

[2017-07-13 19:16] CptFabulouso commented on #569
Thanks a lot.
For anyone else, Iam not sure how to install via github the proper way, but I uninstalled mapboxgl, added line to package.json "react-native-mapbox-gl" : "git://github.com/mapbox/react-native-mapbox-gl.git", and ran npm install, which then installed the 5.2.0 version

[2017-07-13 19:16] #569 closed, assigned to nobody

[2017-07-13 19:18] CptFabulouso commented on #573
it is fixed in version 5.2.0 (npm install will install version 5.1.0)

[2017-07-13 19:26] zaguiini commented on #569
`npm install git+https://github.com/mapbox/react-native-mapbox-gl.git --save`

[2017-07-13 20:04] zaguiini opened #584 "Can't use GL React"
I'm trying to use GL React Native (https://github.com/ProjectSeptemberInc/gl-react-native), building a simple triangle and embedding it into an custom Annotation view, but I'm not having success.

That's the "3D" component:

[code]

And my annotation:

[code]

No success. :( But if I try to render without the map, without the map component, I do get the rendered surface. What's the problem?

EDIT:

[2017-07-13 20:18] nolan-m commented on #582
Yes `react-native link` does not work.  I was able to install manually for both platforms though.

I think another problem is the Android docs say to use `:reactnativemapboxgl` but its actually `:react-native-mapbox-gl`.

[2017-07-14 16:37] chc200 opened #585 "Build Failed??"
Are you guys planning on fixing this issue?  Also I see the version number got pushed to 5.2.0 to fix the RN .40 headers issue... however in npm the newest version is 5.1.0.  Is this going to be fixed and bumped to the new version?

[2017-07-14 17:58] nolan-m commented on #585
Set your dependency version pointed to master and it should work for you.  Really annoying that they haven't pushed a new build to npm.

[2017-07-14 20:19] nolan-m commented on #383
Any update on this?  Seems like Android only fires onStartLoadingMap the first time the map mounts.  Any other time you navigate to the screen with the map, this is not fired.

[2017-07-14 23:05] dagatsoin commented on #516
Ouch #517 saved my life. I just reproduced it for the Cordova plugin I am working on. Thx you very much @esamelson

[2017-07-16 20:10] benwalks commented on #526
Hi @josdejong, I didn’t have any luck with that PR.  How did you go finding a solution?

[2017-07-17 22:55] atarsha opened #586 "Android Cannot create a LatLngBounds from 0 items"
I am not a java developer, so this is tough for me to troubleshoot.

I get the following error when calling `this._map.getBounds()`:

`com.mapbox.mapboxsdk.exceptions.InvalidLatLngBoundsException: Cannot create a LatLngBounds from 0 items`

The particular error is a result of the react-native-mapbox-gl code:

https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/src/main/java/com/ma

[2017-07-18 19:10] josdejong commented on #526
Too bad.

We didn't find a solution but implemented a workaround: on the page where we have the map, there where a couple of consecutive renders due to some async code for loading data and initializing everthing for the page. This causes this issue to occur. We implemented a flag which is false until _everything_ is initialized, and only then set the flag to true and render the map _once_.

[2017-07-18 23:51] chc200 commented on #585
Could you give me an example of that? I never had to do this before so not really sure how to.

[2017-07-19 01:19] benwalks commented on #526
Thanks so much for letting me know @josdejong, that solution will work great for my app!

[2017-07-19 03:16] butchmarshall commented on #586
I've also been getting this occasionally on startup - thanks!

[2017-07-19 03:19] butchmarshall commented on #575
Yes you're correct.  Basically it would be nice if <Annotation /> behaved similar to the annotations array.

[2017-07-19 07:43] atarsha commented on #551
@jackfengji's code got me just about there, but the value he has for the SurfaceView ID `0x7f0f009f` gave me trouble. I replaced that with `R.id.surfaceView` with success.

[2017-07-19 08:38] josdejong commented on #526
:+1:

[2017-07-19 16:10] nolan-m commented on #585
` npm install mapbox/react-native-mapbox-gl --save`
 or editing package.json to be
`"react-native-mapbox-gl": "github:mapbox/react-native-mapbox-gl#bf741d5"`

[2017-07-20 12:03] nivoc opened #590 "Project Status"
What is the Status of this Projekt? I can see some patches but no Version-Bumps or statments about new React Native Versions. The Examples do not work with the npm packages. If I understand it correct it could work with master but not if I take the npm-package as written in the Documentation.

Mapbox can you please keep a clean dependency status like: This Projekt does need React Native Version X

[2017-07-20 20:53] carocad commented on #590
I am also a bit concerned about this. In particular because I just encountered a crash in my project that has already been solved in the master branch but the last release was on November last year !

Could you please make an official release? that would help a lot :)

[2017-07-21 14:59] HuiguangChu commented on #582
I think another problem is the Android docs say to use :reactnativemapboxgl but its actually :react-native-mapbox-gl. fixed

[2017-07-21 14:59] #582 closed, assigned to nobody

[2017-07-21 15:01] HuiguangChu opened #591 "Can we add a geocoder control on this map？"
Can we add a control like google map did/ we can search an address on this map？

[2017-07-22 15:47] slushnys commented on #566
Any updates on this?

[2017-07-23 22:26] j1mie opened #592 "Color stops in property function not rendering"
I've set up a simple map with some color stops in Mapbox studio, which has a population number for each feature.

The map renders perfectly in Mapbox studio, however when I view the map style using MapView component, only the first color stop is visible. Is this expected behaviour? Thanks

<img width="1187" alt="screen shot 2017-07-23 at 23 26 38" src="https://user-images.githubusercontent.com/126

[2017-07-24 19:56] olliekav commented on #428
I'm running into this now, tried on Android 6 & 7 in the Simulator. I'm trying to set the offset by passing a value up from a child component on layout. If I just assign it a hardcoded value it seems to work.

[code]

[2017-07-24 20:26] olliekav commented on #428
Actually I had to change my value to a fixed number instead of a decimal and it worked.

[2017-07-25 18:42] zayar opened #593 "mapbox/mapbox.h file not found"
I just install it but build fail because of 'Mapbox/Mapbox.h file not found in ios.

I tried to install both iOS (manually) and CocoaPods

[2017-07-25 20:10] maxence-machu opened #594 "Map is shown without buildings"
Hi everyone !

I'm looking for rendering 3D Buildings extrusion in a React-Native app using github /mapbox/react-native-mapbox-gl

I created a custom map in MapBox Studio,added the following line into the style.json and uploaded the map in Mapbox Studio
[code]

The buildings are rendered as expected in mapbox-studio but when I go back in my React-Native App the map is shown but without the buildin

[2017-07-26 13:04] henrikra commented on #399
@java99 How did you solve this? I got similar error:
`07-26 16:02:47.050 11377-11377/com.myApp E/MapboxEventManager: Error Trying to load Staging Credentials: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.os.BaseBundle.getString(java.lang.String)' on a null object reference`

[2017-07-26 13:37] henrikra commented on #515
@thepinyo I have the same problem. How did you fix this?

[2017-07-26 13:44] azghibarta commented on #512
@bsiddiqui +1 for this issue, and what's more strange, once it worked, but after a time stopped to work. Those someone figured out how to solve this?

[2017-07-26 14:56] henrikra commented on #399
Ah lol :') The problem was that the phone did not have internet connection :D Now I can see the map!

[2017-07-26 14:56] henrikra commented on #515
Ah lol :') The problem was that the phone did not have internet connection :D Now I can see the map!

[2017-07-26 15:36] henrikra commented on #593
I did fresh install with RN 0.46 and RNMapboxGL 5.2.0 and it worked. What else you tried?

[2017-07-26 16:11] alexaung commented on #593
I tried with
"react-native": "0.46.3",
"react-native-mapbox-g": "5.2.0".

But got the same error for fresh install.

[2017-07-26 18:46] henrikra commented on #593
What have you done so far? Did you do all steps in manual way? Also did you rebuild the app (not just refresh) when everything was done? Be more specific :D

[2017-07-26 21:08] henrikra commented on #592
What do you mean by:

Can you be more specific? :D

[2017-07-27 09:49] maxence-machu commented on #594
UPDATE:
<img width="806" alt="xcfd3" src="https://user-images.githubusercontent.com/23130568/28664686-87e40a62-72c1-11e7-9ca9-e9553e9bd3fe.png">
Screenshot of the MapBox Studio Map
<img width="370" alt="xdepu" src="https://user-images.githubusercontent.com/23130568/28664689-89936bbe-72c1-11e7-9f8b-38079cc88e3f.png">
Screenshot of the App with react-native-mapbox-gl

[2017-07-27 10:42] alixaxel commented on #512
We are using custom annotations and we are facing the same problem:

[code]

The strange thing is that we are able to render the first 2 debug annotations that we have in the Component constructor, but then if/once we fetch more annotations from our API and set the state to render them, we get the same exception.

<img width="378" alt="screen shot 2017-07-25 at 17 11 36" src="https://user-images.g

[2017-07-27 11:34] helderdb commented on #512
I fixed this by forking and merging PR #555

[2017-07-31 10:17] j1mie commented on #592
Hi @henrikra I'm referring to color stops used in Mapbox studio (https://www.mapbox.com/mapbox-gl-js/style-spec/#function-stops). You can define these in mapbox studio to visualise ranges in numbers.

In the first image above, you're seeing two stops: 0 === white, 100 === pink. This renders well in mapbox studio and using the gl javascript api, but only renders as white using react-native-mapbox-g

[2017-07-31 14:03] JClackett commented on #593
Did all the steps as per the documentation, and getting same error.

Am using the same versions of react-native/mapbox as alexaung

<img width="680" alt="screen shot 2017-07-31 at 16 02 30" src="https://user-images.githubusercontent.com/12549124/28781241-b67caa46-7609-11e7-9497-162eb3687d1f.png">

[2017-07-31 16:05] henrikra commented on #593
Please make fresh repo and try to install iOS manually and send link for it. This way we can see your problem :)

[2017-07-31 19:10] tejasrr19 commented on #551
@butchmarshall How did you remove the previous instance of MapView in `componentWillUnmount()`?

[2017-08-01 01:02] dorthwein commented on #590
why can react-native not have a decent map options maintained

[2017-08-01 02:28] jackfengji commented on #551
@tejasrr19 You can just use a bool state to hide the map.

[2017-08-01 02:31] butchmarshall commented on #551
I actually use the router, but yes same idea
[code]

[2017-08-02 07:43] maxence-machu commented on #591
Hi,
You have to add a custom View with a TextInput, then [Geocode the address with MapboxAPI](https://www.mapbox.com/geocoding/) with or the [GoogleMaps Geocoding API](https://developers.google.com/maps/documentation/geocoding/intro) and render the result with an Annotation on the map (marker)

[2017-08-02 16:03] JClackett commented on #593
Managed to get it working, must have not installed correctly..

[2017-08-02 18:01] henrikra commented on #593
@JClackett Great please close the issue :)

[2017-08-03 02:40] lixiaodongdg commented on #408
If you are using less than or equal to Xcode7.2.1 it is recommended that you use Xcode7.3.1 or more (including Xcode7.3.1)

[2017-08-03 13:10] GeospatialMax opened #597 "Map not showing on Android with 5.2.0 (RN 0.42.3) - only white"
I have just upgraded to react-native-mapbox-gl 5.2.0 to overcome issues I had in the previous version (5.1.0) that prevented me building for iOS.
Unfortunately now I get a completely white map, independent of which styleURL I set. The map also doesn't seem to have coordinates set correctly.
Every call I do to functions such as getCenterCoordinateZoomLevel or getBounds returns 'undefined'.

Can any

[2017-08-04 08:49] alexey-kuznetsov opened #598 "Is it possible to drag markers on map?"
I suppose, that it is very important to have ability of dragging of markers. If there is a feature to place markers, there must be feature to edit them. But I can't find any info about this feature in react-native-mapbox-gl

[2017-08-04 09:34] kormang commented on #586
I made a pull request, where I've fixed it. Maybe solution is not the best, but it is certainly better than crashing application. Anyway, I use it in production and it works great for me.
#563 Android improvements

[2017-08-04 16:27] nolan-m commented on #580
@lappalj4 See https://github.com/mapbox/react-native-mapbox-gl/pull/599 if you still need this functionality.

[2017-08-04 19:39] danieljvdm commented on #593
This has been happening to me over the past few days. It works for a day and then randomly stops working and it's driving me nuts. I've tried manually linking as well as through coccoapods, and they all work for awhile until they stop working after changing nothing to do with the library or the Xcode project.

[2017-08-07 08:17] henrikra commented on #593
Looks like for some reason `Mapbox.framework` disappears  from node_modules so it gives error `mapbox/mapbox.h file not found`. Proper fix for this would be to always include `Mapbox.framework` like the PR https://github.com/mapbox/react-native-mapbox-gl/pull/595 is doing

[2017-08-07 11:39] henrikra commented on #593
@zayar @alexaung @danieljvdm Please check that your `Mapbox.framework` exists at `node_modules/react-native-mapbox-gl/ios/Mapbox.framework`. If it does not there is your problem :)

[2017-08-07 11:45] vbuch commented on #586
@kormang what do you think of the option of emitting an event _onMapReady() ? This way the RN dev would know when it is safe to request bounds.

[2017-08-07 11:46] henrikra commented on #585
@chc200 Can you close this if everything is ok? :D

[2017-08-07 13:38] danieljvdm commented on #593
Yeah this is the issue. I think it's related to whenever you run `npm install` or `yarn install` it's refreshing the modules and deleting the framework for some reason, so I have to uninstall and reinstall every time.

[2017-08-08 12:00] kormang commented on #586
@vbuch It is good idea. There is few things we should think about before doing that. First, there are no such problems on iOS, and we should not diverge from iOS API. There is also `onFinishLoadingMap` event, having two similar events would make API complicated and would confuse users. Maybe on Android we should emit `onFinishLoadingMap` when both criterion are met When both `onMapReady()` and `on

[2017-08-08 12:03] kormang commented on #586
I'd like to receive some confirmations that above proposed solution is OK, and will gladly make pull request (hopefully just update current PR).

[2017-08-08 13:25] ManAnRuck opened #602 "Component 'RCTMapboxGL' re-registered bubbling event 'topLongPress' as a direct event"
I get this error with Expo and pod install

![simulator screen shot 08 08 2017 15 10 36](https://user-images.githubusercontent.com/2183135/29073397-cb34a9c8-7c4b-11e7-9a5c-08d0de371e91.png)

[code]

add to app.json
[code]

[code]

add `pod 'RCTMapboxGL', :path => '../node_modules/react-native-mapbox-gl/ios'` to ./ios/Podfile

[code]

[code]

Change `Header Search Paths` https://github.com/mapbox/r

[2017-08-08 16:25] GeospatialMax commented on #597
Just for others who experience this problem:
We had opacity set on the map style in 5.1.0 which worked without a problem. After removing the opacity element from the style, the map showed up without an issue.

[2017-08-09 06:56] phuonglam1510 commented on #458
Hi,

I am facing the same issue. I even had to add the arrow to show the direction myself but it does not work properly. Now i find down the solution. Look like at the initial loading the map turn off tracking mode. That why we see the arrow for around one second and gone forever. I try to turn it on dynamically but it does not work. But adding setTimeout will work perfectly

[code]
in the re-cent

[2017-08-09 18:33] ManAnRuck commented on #463
i have the same problem on iOS

[2017-08-10 06:14] ManAnRuck commented on #437
+1

[2017-08-12 20:20] rubelux commented on #590
We should request MapBox to support RN

[2017-08-12 22:03] gvenk commented on #590
A few months ago MapBox was looking for a RN developer and I understood one has been found. I don't know if he/she has started yet, but I hope this project will get out of the experimental state very soon ;-)

[2017-08-14 18:12] Gp2mv3 opened #604 "Import PropTypes from "prop-types""
In RN 0.47, PropTypes is not in react anymore.

Thus, we have to replace imports from:
`import {PropTypes} from 'react'` to `import PropTypes from 'prop-types';`.

Can someone confirm ? If it's the case I can create the pull request.

[2017-08-15 09:08] JerryOSJ opened #605 "Android RN 0.44.3 crash"
When my project (Android  RN^0.41.2  mapbox^5.1.0), everything is ok.
But I upgrade my RN version to 0.47.1 & mapbox to 5.2.0, my project crash when I run react-native run-android.
Then I init a new RN project with 0.44.3, only installed mapbox 5.2.0, and code like:

`import Mapbox, { MapView } from 'react-native-mapbox-gl';`
`const accessToken = 'XXXXXXXXXXX';`
`Mapbox.setAccessToken(accessToken)

[2017-08-15 15:54] henrikra commented on #604
There is already one #587

[2017-08-15 15:55] henrikra commented on #597
Please the issue when it is solved :D

[2017-08-15 15:55] Gp2mv3 commented on #604
Perfect then ! I close this issue.

[2017-08-15 15:55] #604 closed, assigned to nobody

[2017-08-15 16:21] henrikra commented on #586
@kormang I think you should make PR and ask feedback there :)

[2017-08-15 16:22] henrikra commented on #584
Did you solve this?

[2017-08-15 16:23] henrikra commented on #576
@dancomanlive Is this still valid? If it is please provide more info

[2017-08-15 16:25] henrikra commented on #572
Did you solve this?

[2017-08-15 16:25] henrikra commented on #570
Is this solved?

[2017-08-15 16:26] henrikra commented on #568
Is this solved? If not tell more details

[2017-08-15 16:26] henrikra commented on #567
Solved?

[2017-08-15 16:28] henrikra commented on #566
You guys haven't installed native side of this library correctly. Have you guys figured it out?

[2017-08-15 16:29] henrikra commented on #565
@samuelpiltch Can you close this if this has been solved?

[2017-08-15 16:31] henrikra commented on #562
@laurismikals Is this solved?

[2017-08-15 16:33] henrikra commented on #559
@znchen1989 Can this be closed?

[2017-08-15 16:34] henrikra commented on #549
@igor9silva Can this be closed?

[2017-08-15 16:34] henrikra commented on #545
@iamtommcc Can you close this if this is fixed?

[2017-08-15 16:40] henrikra commented on #590
@zugaldia Hey when we are getting more resources as you talked here https://github.com/mapbox/react-native-mapbox-gl/pull/587#issuecomment-318050632

[2017-08-15 16:42] tejasrr19 commented on #551
Got it. Thanks @jackfengji @butchmarshall

[2017-08-15 16:47] atarsha commented on #570
No it is not.

[2017-08-15 17:12] igor9silva commented on #549
I haven't gave it a try after #552, but I think it's OK.

[2017-08-15 18:06] kormang commented on #586
Yeah :) I was going to, but you know, people sometimes have tough week. I'll certainly make it in next 7 days. If no one makes it before, of course.

[2017-08-16 04:41] digitaldavenyc commented on #483
@here also having a similar issue using RN version: `0.44` and RNMBGL `5.2.0`

[2017-08-16 21:14] nitaliano commented on #590
Hi, my name is Nick and I’m going to be doing all things React Native here at Mapbox. I’m excited to jump in and build a strong foundation for flexible, customizable Mapbox maps in React Native. We are working on a plan for the future of the repo and we will be sharing an outline here very soon. Until then I’ll be going through all the open issues and pull requests to get a grasp of the current st

[2017-08-16 21:50] atarsha commented on #590
Hey @nitaliano! Welcome!

I for one am very excited to hopefully finally see a more responsive involvement in the repo from the managers of it, so that those of us using it for our apps/companies can do so efficiently, and without requiring everybody to fork.

There are quite a few PRs open, many more than a month old (one is mine) and I think getting those handled would be the biggest thing. A co

[2017-08-17 00:21] #597 closed, assigned to nobody

[2017-08-17 04:43] henrikra commented on #590
@nitaliano Great to hear! I think most required PR are https://github.com/mapbox/react-native-mapbox-gl/pull/600 and https://github.com/mapbox/react-native-mapbox-gl/pull/587
Since without them mapbox causes warnings and crashes with latest React Native

[2017-08-17 17:12] nitaliano commented on #590
@henrikra both of those PRs have been merged in

[2017-08-17 17:33] henrikra commented on #590
Nice! Could you do a new release?

[2017-08-17 18:06] barbarossusuz commented on #572
No, unfortunately,  i didn't.

[2017-08-17 19:33] nitaliano commented on #590
Yup I'll make a release later today

[2017-08-17 23:12] josenaves opened #606 "Offline caching crashes on Android - OfflineRegionStatus.getCompletedResourceSize()"
The app crashes during the download of offline package.
After crash, I could note that the download is in progress.

08-17 13:54:21.655 19813 20421 V com.mapbox.mapboxsdk.http.HTTPRequest: [HTTP] Request was successful (code = 200).
08-17 13:54:21.725 19813 20414 V com.mapbox.mapboxsdk.http.HTTPRequest: [HTTP] Request was successful (code = 200).
08-17 13:54:21.727 19813 20439 V com.mapbox.mapboxs

[2017-08-20 09:05] oxygen0211 commented on #580
Both handlers being calles is causing me a severe headache right now since it seems virtually impossible to support both tapping on an empty spot on the map and tapping on annotations but with distinguished actions. The action for tapping on an empty spot is always called.

In my case, tapping on the map creates a new annotation and tapping on an annotation should edit it. While I can get into the

[2017-08-21 07:07] biks152207 commented on #535
@markhaasjes @jackfengji has anyone solved this issue

[2017-08-21 09:08] madroneropaulo opened #608 "Add typescript definition types"
Can we add typescript support by adding ts definition types directly to this repo? I wrote them, and I would prefer to have them in this repo, rather than on definitelyTyped.

[2017-08-21 23:13] gvenk opened #610 "custom annotationImage active area is too large"
I'm building an app with custom annotation images. These must be double the height of the image, to make sure the images align in the correct place at the coordinates of the marker. But this leeds to a tap area which is also double the height, see screenshot:
![marker-bounderies](https://user-images.githubusercontent.com/9460/29541707-22db14b6-86d6-11e7-92c1-68a75018e256.png)
This makes it very ha

[2017-08-22 09:48] davidroman0O opened #611 "Marker colors change when firing Alert"
Hi

I got a map with some Annotations as childrens, they got an Image (white image with transparent background) with a tintColor at "#451496".
Then, when Alert is firing, the tintColor on the screen change to a pale blue color.

I guess it's bug :)

[2017-08-22 18:25] davidroman0O commented on #590
Hope it will be more stable in the next weeks :p

[2017-08-23 10:08] #608 closed, assigned to nobody

[2017-08-23 10:10] madroneropaulo commented on #608
I figured out, that it's not a good practice to have the types in the same repo, unless the package itself is written in typescript, as it adds complexity when versioning, and it adds useless typing imports. https://github.com/mapbox/react-native-mapbox-gl/pull/613/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R38 I'll just push to DefinitelyTyped https://github.com/DefinitelyTyped/DefinitelyTyped/is

[2017-08-24 13:51] f1qwase commented on #496
same problem

[2017-08-25 04:28] juanwall commented on #73
+1

[2017-08-27 17:39] mattimononen opened #614 "Blinking markers"
On my app I've lot of markers and I display only the ones that are inside of the visible bounding box because adding all of them requires too much initial processing time. When user drags the map or zooms I check the bounding box again and update annotations. It seems like updating the markers will re-draw all the them again causing annoying blinking effect after zooming/panning. I think that the

[2017-08-27 19:04] markhaasjes commented on #535
I did not check if the bug was fixed due to the fact that my project is paused. I'll close this issue and as soon as I see this bug again I'll reopen it.

[2017-08-27 19:04] #535 closed, assigned to nobody

[2017-08-28 10:13] alexey-kuznetsov commented on #485
Is there any progress in this issue?

[2017-08-28 12:59] kormang commented on #586
I have added commit to the pull request. It is tested and used in production by application I work on.

[2017-08-28 21:46] nitaliano commented on #556
This is going to be fixed for version 6.0 of the repo. It is a complete rewrite of the current codebase it's currently under https://github.com/mapbox/react-native-mapbox-gl/tree/v6 and is just starting to be worked on.

Subclassing MGLMapView is already done along with the delegate methods living in the manager.
https://github.com/mapbox/react-native-mapbox-gl/blob/v6/ios/RCTMGL/RCTMGLMapView.h
h

[2017-08-29 10:09] jackfengji commented on #556
Good to know this. Then this issue can be closed.

[2017-08-29 10:09] #556 closed, assigned to nobody

[2017-08-29 12:03] GeospatialMax opened #615 "iOS preinstall failing due to broken link to mapbox-gl-native iOS SDK + temporary fix"
I just did a fresh install on my system and noticed that the iOS preinstall step failed.

My assumption is that it is due to this broken link: https://mapbox.s3.amazonaws.com/mapbox-gl-native/ios/builds/mapbox-ios-sdk-$VERSION-dynamic.zip

I was able to fix the script by replacing the curl command in https://github.com/mapbox/react-native-mapbox-gl/blob/master/scripts/download-mapbox-gl-native-ios

[2017-08-29 18:03] zaguiini commented on #584
No.

[2017-08-29 20:06] nitaliano commented on #615
I just tried the s3 link and it is working from the bash script and when I goto it directly.  Could you try it out again?

[2017-08-30 08:51] GeospatialMax commented on #615
Correct, seems to be working again. Probably just a hickup in S3. Guess can be closed now.

[2017-08-30 14:35] #615 closed, assigned to nobody

[2017-08-31 14:17] josenaves opened #617 "initializeOfflinePacks - correct API.md"
As I noted, initializeOfflinePacks is not public.

Then it is not possible to call it.

Please, remove it from API.md documentation.

[2017-08-31 17:47] samuelpiltch commented on #565
Selector problem fixed with PR #555

[2017-08-31 17:47] #565 closed, assigned to nobody

[2017-08-31 17:49] samuelpiltch commented on #567
Xcode bug. Reinstalling the MapBox framework fixed this issue for me.

[2017-08-31 17:49] #567 closed, assigned to nobody

[2017-08-31 20:28] #512 closed, assigned to nobody

[2017-09-01 15:46] StasDoskalenko commented on #617
I guess NPM package is outdated while git repo is moved forward

[2017-09-01 19:59] lesserj commented on #617
@nitaliano It'd be nice if you could publish the latest 5.2.1 branch as a github release so we can reference that version with NPM or Yarn.  The last release version is 5.2.0 from June 15th.  Thanks.

[2017-09-01 21:23] nitaliano commented on #617
@lesserj I tagged it for now https://github.com/mapbox/react-native-mapbox-gl/tree/5.2.1.

I'm going to close this out.

[2017-09-01 21:23] #617 closed, assigned to nobody

[2017-09-04 06:56] atarsha commented on #586
This issue is still outstanding, and I believe it is the final piece that is preventing me personally from switching off of my forked version. @nitaliano would you mind having a look at @kormang's PR when you get a chance?

If that goes in, that would be a good time for a new release and publishing to NPM because as far as I can tell that SHOULD solve all the common crashes up to RN 0.47.2 (I can'

[2017-09-04 19:54] jbamford opened #620 "Disabling "You Are Here""
We have a react native app with many pins on a map. When a users position is close to one of the pins they cannot click on the pin due to the message "You Are Here" having a higher clickable priority. How can we disable the clickable "You Are Here" area of the map?

Thank you

[2017-09-04 20:10] atarsha commented on #620
To add to this, on Android, custom annotations are not receiving the tap event at all while the user's location indicator is shown. The user's location should really be the lowest priority for consuming tap events.

[2017-09-05 12:11] studyroz commented on #593
I encountered the same issue after adding `use_frameworks!` and `pod install` in my project.

Removing the line `use_frameworks!` fixes this. But this isn't the right way to fix this.

[2017-09-05 12:33] StasDoskalenko opened #621 "Image Overlay"
Hi, everyone!
Is it possible to create something like in WEB library already done?
https://www.mapbox.com/mapbox-gl-js/example/image-on-a-map/

For now custom annotations doesn't support dynamic scaling/rotating within the viewport.
Thanks!

[2017-09-06 03:52] unionx opened #622 "Error when `npm install` due to permission issue on Mac"
I tried to install by `npm install react-native-mapbox-gl` and get this error:

[code]

I find when `node download-mapbox-gl-native-ios-if-on-mac.js`, node will spawn a new process with different use and group then cause installation failure.
This issue may cause #593.

[2017-09-06 04:13] atarsha commented on #622
I ran into this issue recently too. It's not a Mapbox problem, it's a problem with your NPM installation. Once I resolved that, it started working.

I ended up having to uninstall npm and node then install both using Homebrew.
`brew install node`

[2017-09-06 11:05] gvenk commented on #610
I hope this is something the 6.0 version will fix, because I believe it already has been fixed in mapbox-gl-native. For now I've used custom annotations as a child of the MapView in combination with TouchableWithoutFeedback and only let the onPress through it the y coordinate of the nativeEvent is below half of the image size. It's a bit of a hack, but it's working for now.

[2017-09-06 11:05] #610 closed, assigned to nobody

[2017-09-06 12:57] lucasbento commented on #602
@ReggaePanda: did you manage to fix it? I'm having the same problem, not using Expo.

[2017-09-06 13:07] lucasbento commented on #320
@dapetcu21: I'm running into that same problem on version `5.2.0`, react-native `0.47.2`:

![image](https://user-images.githubusercontent.com/6207220/30113452-0c1eb214-9315-11e7-87c4-cadd73829d37.png)

Is there something that I can do?

[2017-09-06 14:24] StasDoskalenko commented on #320
@lucasbento have you deleted AIRBNB Maps? And unlinked the lib?

[2017-09-06 14:25] lucasbento commented on #320
@StasDoskalenko: hey, thanks for answering.

I actually have to use rn-maps and rn-mapbox-gl together.

[2017-09-06 22:12] nitaliano commented on #622
@unionx `nvm` is also a good option to manage different versions of node.  If you install through brew make sure you do a sudo less install.

Going to close this out for now.

[2017-09-06 22:12] #622 closed, assigned to nobody

[2017-09-06 22:12] nitaliano commented on #590
Closing this out

[2017-09-06 22:12] #590 closed, assigned to nobody

[2017-09-06 22:16] #26 closed, assigned to nobody

[2017-09-06 22:17] #133 closed, assigned to nobody

[2017-09-06 22:17] #143 closed, assigned to nobody

[2017-09-06 22:18] #169 closed, assigned to nobody

[2017-09-06 22:18] #173 closed, assigned to nobody

[2017-09-06 22:18] #174 closed, assigned to nobody

[2017-09-06 22:19] #179 closed, assigned to nobody

[2017-09-06 22:20] #208 closed, assigned to nobody

[2017-09-06 22:20] #215 closed, assigned to nobody

[2017-09-06 22:20] #248 closed, assigned to nobody

[2017-09-06 22:20] #258 closed, assigned to nobody

[2017-09-06 22:20] #262 closed, assigned to nobody

[2017-09-06 22:20] #267 closed, assigned to nobody

[2017-09-06 22:20] #274 closed, assigned to nobody

[2017-09-06 22:20] #297 closed, assigned to nobody

[2017-09-06 22:20] #318 closed, assigned to nobody

[2017-09-06 22:20] #328 closed, assigned to nobody

[2017-09-06 22:20] #334 closed, assigned to nobody

[2017-09-06 22:20] #351 closed, assigned to nobody

[2017-09-06 22:20] #371 closed, assigned to nobody

[2017-09-06 22:20] #380 closed, assigned to nobody

[2017-09-06 22:20] #383 closed, assigned to nobody

[2017-09-06 22:20] #385 closed, assigned to nobody

[2017-09-06 22:21] #391 closed, assigned to nobody

[2017-09-06 22:21] #392 closed, assigned to nobody

[2017-09-06 22:21] #395 closed, assigned to nobody

[2017-09-06 22:21] #403 closed, assigned to nobody

[2017-09-06 22:21] #405 closed, assigned to nobody

[2017-09-06 22:21] #406 closed, assigned to nobody

[2017-09-06 22:21] #411 closed, assigned to nobody

[2017-09-06 22:21] #415 closed, assigned to nobody

[2017-09-06 22:21] #416 closed, assigned to nobody

[2017-09-06 22:21] #420 closed, assigned to nobody

[2017-09-06 22:21] #424 closed, assigned to nobody

[2017-09-06 22:21] #425 closed, assigned to nobody

[2017-09-06 22:21] #428 closed, assigned to nobody

[2017-09-06 22:21] #431 closed, assigned to nobody

[2017-09-06 22:21] #435 closed, assigned to nobody

[2017-09-06 22:21] #436 closed, assigned to nobody

[2017-09-06 22:21] #437 closed, assigned to nobody

[2017-09-06 22:21] #438 closed, assigned to nobody

[2017-09-06 22:21] #441 closed, assigned to nobody

[2017-09-06 22:21] #442 closed, assigned to nobody

[2017-09-06 22:21] #443 closed, assigned to nobody

[2017-09-06 22:21] #445 closed, assigned to nobody

[2017-09-06 22:21] #448 closed, assigned to nobody

[2017-09-06 22:21] #451 closed, assigned to nobody

[2017-09-06 22:21] #452 closed, assigned to nobody

[2017-09-06 22:22] #458 closed, assigned to nobody

[2017-09-06 22:22] #461 closed, assigned to nobody

[2017-09-06 22:22] #463 closed, assigned to nobody

[2017-09-06 22:22] #465 closed, assigned to nobody

[2017-09-06 22:22] #466 closed, assigned to nobody

[2017-09-06 22:22] #469 closed, assigned to nobody

[2017-09-06 22:22] #471 closed, assigned to nobody

[2017-09-06 22:22] #472 closed, assigned to nobody

[2017-09-06 22:22] #473 closed, assigned to nobody

[2017-09-06 22:22] #478 closed, assigned to nobody

[2017-09-06 22:22] #482 closed, assigned to nobody

[2017-09-06 23:11] vicapow commented on #416
Can I ask why this issue was closed?

[2017-09-06 23:33] nitaliano commented on #416
I'm clearing out all the old issues since we're completely rewriting this library. Runtime styling is going to be part of the rewrite

[2017-09-07 08:55] lucasbento opened #623 "Consider changing the way annotations are specified"
Annotations are specified through a property on `MapView`, in my opinion this is an unusual way of dealing with _another component_.

[Annotation itself is a component in the core](https://github.com/mapbox/react-native-mapbox-gl/blob/master/Annotation.js), take a polyline for example, the code would look much cleaner if it could also be used as component, [the way react-native-maps does](https://

[2017-09-07 09:15] aboeglin commented on #623
Also, I think the problem should be solved at the source, and the API should return [lat, lng] anyways. The convention tends to describe geopositions as latitude, longitude, elevation in that order. I know from a geometry point of view it doesn't make sense but it is like that. Or even better, the API would return a LatLng object directly. In any case I think the UI components need to be in sync w

[2017-09-07 14:26] edwardgalligan commented on #623
Generally speaking I would be inclined to agree here, except that `[lon, lat, alt?]` is what's conventionally returned by a number of serialisation formats (e.g. https://tools.ietf.org/html/rfc7946#section-3.1.1 ). I'd envisage most use-cases of annotations would be looping over input data, rather than being hand-coded by devs, so it would be nice to not have to run a transform operation on each c

[2017-09-07 14:41] edwardgalligan opened #624 "Status of 5.x.x"
Not sure if an issue is the right place for asking general questions; apologies if not.

Reading the various updates on v6 ([here](https://github.com/mapbox/react-native-mapbox-gl/pull/618/commits/4696df34ec59872b79778ee64c2d5f016f3e740e), [here](https://github.com/mapbox/react-native-mapbox-gl/pull/619/), and [here](https://github.com/mapbox/react-native-mapbox-gl/wiki/V6-Suggestions)) I'm lookin

[2017-09-07 15:28] unionx commented on #622
Yes, brew reinstall node solved the issue. Thx.

[2017-09-07 16:06] henrikra opened #625 "Add fitBounds?"
Would it be possible to add `fitBounds` like in this Mapbox example: https://www.mapbox.com/mapbox-gl-js/example/zoomto-linestring/

With this function it would be easy to fit for example two annotations to the screen :)

[2017-09-07 16:57] nitaliano commented on #625
I've added support for this in the `v6` branch.

[2017-09-07 17:05] nitaliano commented on #624
@lucideer for the short term mostly bugfix PRs will be merged in and branch tags and npm releases will happen when they make sense. All feature development should be focused on v6.

[2017-09-07 17:11] nitaliano commented on #623
@aboeglin checkout [turf](http://turfjs.org/docs/) it has helper functions in there to deal with transforming your data to geojson

[2017-09-07 17:21] henrikra commented on #625
What is the estimate for v6? :D

[2017-09-08 08:16] henrikra commented on #625
Or even better could it be added to v5 meanwhile you are doing v6? @nitaliano

[2017-09-08 15:16] edwardgalligan commented on #624
Hi @nitaliano, thanks for replying. Bugfixes are pretty much what I was referring to, yes.

We've been using Mapbox in an RN project and don't really need any extra features beyond what it offers right now (yet), but we're just trying to figure out whether to stick with it given the current stability issues or to switch to another mapping solution(s) in the interim (until v6 is released).

[2017-09-08 17:03] nitaliano commented on #625
If a PR gets sent in for fitBounds I'll be happy to merge it in.  The problem with the current codebase is most method calls won't work with `componentDidMount` and I suspect fitBounds will have that problem.

Timeline wise it could potentially be two months(**guesstimate!**) of time.  We will be releasing alpha and beta versions as we go along, so it could really depend on what features you use i

[2017-09-08 19:08] henrikra commented on #625
Will V6 have the `componentDidMount` problem?

[2017-09-08 19:13] nitaliano commented on #625
It will not have that problem

[2017-09-09 08:35] henrikra commented on #625
What the hell? xD I started doing PR for `fitBounds` but then I noticed that there is function called `setVisibleCoordinateBounds` which I can use for this use case! Only bad thing about it is that there is like 10 parameters lol. I might do PR for this.

[2017-09-09 08:41] aboeglin commented on #623
well, I have my service doing the transformation with a single map(), it's fairly easy to invert two values in an array with a length of 2. But still, it adds confusion and not needed code. In the outside world everybody uses lat,lng. In the dev world, people did weird things. But still, we should have a consistent experience across a solution.

Mapbox offering a service with a certain type of dat

[2017-09-09 08:59] henrikra commented on #625
@nitaliano I made #626

[2017-09-09 11:34] franky47 commented on #291
I had the same issue, and ended up here to see the resolution.

A little note in the documentation next to the `attributionButtonIsHidden` flag would be appreciated, more than just a link to the terms & conditions.

@friedbunny the crash is silent if the app is not attached to Xcode or log-ios.

[2017-09-10 13:59] aboeglin opened #627 "Turn by turn navigation"
Hi,

I know for now there's no turn by turn support for the v5. I have checked the roadmap of v6 and didn't see any mention of it. Is there any plan to add such a functionality ? I saw the native SDKs propose that functionality and advertise it as "Add turn-by-turn navigation to your app in under five minutes".

To contributors :
I don't have much experience in bridging native modules, I have a bi

[2017-09-11 07:51] lucasbento opened #628 "Altitude and zoomLevel are mutually exclusive with MapView.easeTo()"
I'm receiving this warning with the following piece of code:

[code]

Specifying the `altitude` also doesn't help, not sure why it is showing up.

![image](https://user-images.githubusercontent.com/6207220/30263597-d43295c2-96d5-11e7-8186-838622f7a9c1.png)

[2017-09-11 09:40] lucasbento commented on #611
@davidroman0O: can you provide a working code for demo?

[2017-09-11 09:41] lucasbento commented on #180
This is a valid feature, it's much easier to just specify a color instead of different images.

[2017-09-11 10:53] edwardgalligan commented on #624
Perhaps it would be good to distil my question here a little bit:

Will Mapbox be doing further work on 5.x.x. before 6 is released, or are you only accepting voluntary/3rd-party PRs and ceasing all internal dev on 5.x.x to focus on v6?

[2017-09-11 12:31] henrikra commented on #628
API says:

[2017-09-11 12:36] lucasbento commented on #628
@henrikra: thank you, just made me find out that I was spreading an object that had `altitude` on it!

[2017-09-11 12:36] #628 closed, assigned to nobody

[2017-09-11 14:40] nitaliano commented on #624
Correct, we are focusing all development on the new version.  If we do submit a PR for 5.x.x it will only be a bugfix.

[2017-09-11 19:28] nitaliano commented on #627
@aboeglin we have experimented with react native and the navigation sdk internally, but we have no official plans on supporting it as of now. Our main focus is to stabilize this repo and get the rewrite out there.

The navigation sdk components would not be part of this repo, you could imagine a world like this

**react-native-mapbox-gl**
* This repo provides all the mapping components (Mapview, S

[2017-09-12 11:12] edwardgalligan commented on #624
This is all I was asking. As I said above, not immediately interested in new features. Does this mean you are now working internally on bugfixes for 5.x.x (you've only said "if" which seems to indicate you are not)?

[2017-09-12 13:33] zoranmarjanovic opened #629 "IOS offline doesn't work"
react-native-mapbox 5.2.0, addOfflinePacks doesn't work there is no errors, just called success with null parameter, also getOfflinePacks never execute callback. Android works pretty fine. Any help?

[2017-09-12 14:36] nitaliano commented on #629
Are you using the npm package? If so it's out of date try this tag https://github.com/mapbox/react-native-mapbox-gl/tree/5.2.1

[2017-09-13 09:34] Stophface opened #630 "Use different TileServer"
Is it possible to use a different `TileServer` than the one provided by `MapBox`?
We have our own `TileServer` and I like to use that one instead of taking the detour over `MapBox`

[2017-09-13 13:23] lucasbento opened #631 "How to add `onTap` to Polyline?"
I'm trying to add a `onTap` handler on annotations of `type: 'polyline'`, `onOpenAnnotation` seems to work only for `type: 'point'`, something that's not mentioned on the `README.md`.

Is this a bug or supposed to work that way? Is there a handler for tap events on `polyline`s?

[2017-09-13 17:22] vijayst commented on #624
When will v6 be released?

[2017-09-13 17:24] nitaliano commented on #624
@lucideer yes we are currently not focusing on bugfixes unless something critical is brought to our attention like it doesn't work with a newer version of react-native we will jump in and help fix it.

@vijayst Within the next two months is a fair bet.  We will be releasing alphas and betas throughout this process and expect to see the first alpha later this week or early next week.

[2017-09-13 17:27] atarsha commented on #631
It is not possible due to an upstream issue that has been open for a very long time. https://github.com/mapbox/mapbox-gl-native/issues/2082

I worked around this in a somewhat hackish manner by doing an onTap callback on the MapView itself, then calculating the distance between the tap coordinate and every coordinate in every polyline (not efficient.) I then take the closest polyline coordinate to

[2017-09-14 06:52] lucasbento commented on #631
@atarsha: thanks for replying.

It's sad that there's no native way to do it, I'll try to implement what you said and see how it goes.

Thank you!

[2017-09-14 15:32] vanmik opened #632 "Crash when removing downloading offline pack"
This report based on `example.js` file.

First of all, in example code `Create offline pack` button doesn't do anything for two reasons:

1. It doesn't call `Mapbox.initializeOfflinePacks()` before calling `Mapbox.addOfflinePack()`
2. `bounds`, `minZoomLevel` and `maxZoomLevel` in config are invalid:

Here's the code:

[code]

To reproduce crash below, you should fix those things. For example, lik

[2017-09-14 16:24] nitaliano commented on #632
I'll check it out

[2017-09-14 16:25] nitaliano commented on #625
Closing this out

[2017-09-14 16:25] #625 closed, assigned to nobody

[2017-09-14 16:36] gregoireLem opened #633 "Animated moovement on update annotation coordinates"
Hello guys, is it possible to see an anotation mooving when updating his coordinates ? ( Like we can see uber's car mooving)

thanks for helping

[2017-09-17 06:46] lucasbento opened #634 "Release on npm"
I was trying to use the offline functions but they were merged 19 days ago and the latest release on npm is 2 months ago (5.2.0), would anybody be able to release the new version? Thanks!

[2017-09-17 20:13] henrikra commented on #634
Yeah would be awesome to get 5.2.1 out to get all latest fixes on iOS. Example https://github.com/mapbox/react-native-mapbox-gl/pull/555 is still not released @nitaliano

[2017-09-17 22:40] nitaliano commented on #634
I just tried to do a publish I don't have access to publish yet. I'll make sure I get added as an owner tomorrow and do a 5.2.1 publish.

[2017-09-18 06:54] lucasbento commented on #634
Great, thanks @nitaliano!

[2017-09-18 07:11] StasDoskalenko commented on #634
Hey, @nitaliano ! Could you please publish or at least merge with this PR? https://github.com/mapbox/react-native-mapbox-gl/pull/553

[2017-09-18 14:41] henrikra commented on #633
@nitaliano I would also like to know how can we animated annotations to new position :)

[2017-09-18 16:33] nitaliano commented on #634
We're going to be scoping this package now so today I'll be doing a 5.2.2 release at `@mapbox/react-native-mapbox-gl` and https://github.com/mapbox/react-native-mapbox-gl/pull/553 will be included

[2017-09-18 17:57] nitaliano commented on #634
@lucasbento @StasDoskalenko @henrikra It's been published - https://www.npmjs.com/package/@mapbox/react-native-mapbox-gl

Just a quick note since the namespace has changed you're going to need to unlink and relink the project to point to `@mapbox/react-native-mapbox-gl` instead of `react-native-mapbox-gl`, so at a high level

- Javascript imports `react-native-mapbox-gl` -> `@mapbox/react-native-m

[2017-09-18 18:12] henrikra commented on #634
@nitaliano I am getting 404 for that link
![image](https://user-images.githubusercontent.com/12229968/30557155-03e039f6-9cb6-11e7-86cc-c25e18a5d2a4.png)

[2017-09-18 18:15] nitaliano commented on #634
@henrikra haha yes I just made it public

[2017-09-18 18:29] henrikra commented on #634
Okay nice! Btw why namespace changed? :D

[2017-09-18 18:44] nitaliano commented on #634
We wanted to move it under the mapbox org, so anyone at mapbox can publish a new version to npm

[2017-09-18 18:50] henrikra commented on #634
Good thinking!

[2017-09-18 19:20] #624 closed, assigned to nobody

[2017-09-18 19:20] #627 closed, assigned to nobody

[2017-09-18 23:30] systemlevel opened #637 "Brand New Install for Android Crashes On Initial Load"
I just started with react-native-mapbox-gl with a fresh install.  I have installed the mapbox for android by following the manual instructions located here: https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/install.md

I have attempted loading the example app located here: https://github.com/mapbox/react-native-mapbox-gl/blob/master/example.js

As well as my own simplified versi

[2017-09-18 23:45] nitaliano commented on #637
Are you using npm, if so what version? or are you using master?

[2017-09-19 08:25] lucasbento commented on #634
Awesome, thank you, @nitaliano!

[2017-09-19 08:25] #634 closed, assigned to nobody

[2017-09-19 09:51] matthieupinte opened #638 "New install 5.2.2 crash app at loading iOS"
Hi,

I think I had the same pb from #637 ... but with iOS.
Using the last install `5.2.2` with the `@mapbox` npm namespace... follow all install info.

When I try start the app with `react-native run-ios`, after `Build succeeded`, the app launch but stop instantly.
When I try start it with Xcode.. the app launch and stop instantly, but I got a :
<img width="904" alt="screen shot 2017-09-19 at 11 0

[2017-09-19 10:12] lucasbento commented on #638
I'm getting a crash here with `5.2.2` as well, not sure if this is related or not but happens every time the app reloads and sometimes with no apparent reason:

[code]

I can assure that this doesn't happen on `5.2.0`.

**Edit**: I can confirm that it is also happening on `5.2.1`.

cc @nitaliano.

[2017-09-19 16:22] nitaliano commented on #638
@lucasbento @matthieupinte is this with or without cocoapods?

[2017-09-20 07:17] matthieupinte commented on #638
@nitaliano without cocoapods ;)

[2017-09-20 13:28] keenubee commented on #638
Confirm this issue for 5.2.1 and 5.2.2.

Error stack from Crashlytics - hope this helps:

[code]

[2017-09-20 16:04] nitaliano commented on #638
@keenubee yes very helpful I'll check it out

[2017-09-21 09:16] aboeglin commented on #633
It works, just make sure you provide new position data to your annotation and don't mutate it.

[2017-09-21 11:33] henrikra commented on #638
I have installed the 5.2.2 version on RN 0.47.1 with [new instructions on iOS](https://github.com/mapbox/react-native-mapbox-gl/pull/635/files) and I can compile and start the app. But when I press Cmd + R to reload the app it crashes

Here is the stack:
[code]

[2017-09-21 13:09] gregoireLem opened #640 "why onOpenAnnotation is calling onChangeUserTrackingMode ?"
Hi, when I am in userTrackingMode.follow, and I tap an annotation, it automatically fires onChangeUserTrackingMode methode (only on IOS). Is there a way to avoid this ?

thanks

[2017-09-21 14:19] carljoachim opened #641 "Map overlaying other map on Android"
I am using several Mapviews in my React Native app. For iPhone everything works fine, but for Android the map on the frontview reappears as an overlay in another view.

[2017-09-21 15:20] MindFreeze commented on #641
This happens to me too and I can interact with the map below but the one on top is static.
I doubt anyone will fix this in v5 but we can hope it will not be a problem in the upcoming v6.

[2017-09-21 16:25] nitaliano commented on #638
I'm able to reproduce the app crashing when I reload.  I'm not able to reproduce the app crashing on startup, it could be a configuration issue due to the namespace changes check https://github.com/mapbox/react-native-mapbox-gl/issues/634#issuecomment-330305488.

What's happening on the reload is the offline storage is trying to remove an observer before it was ever set causing a crash. I'll be ma

[2017-09-21 16:51] nitaliano commented on #638
I just published `@mapbox/react-native-mapbox-gl@5.2.3-alpha1` it fixes the crash for me, let me know how it goes I'll add it to this https://github.com/mapbox/react-native-mapbox-gl/pull/635 once I get some verification that it's working.

[2017-09-21 17:12] nitaliano commented on #632
@vanmik I tested `@mapbox/react-native-mapbox-gl@5.2.3-alpha1` and could not reproduce the crash with the example you provided. Would you mind trying that version out and letting me know how it goes? There was also a namespace change to the npm package so check this out https://github.com/mapbox/react-native-mapbox-gl/issues/634#issuecomment-330305488

[2017-09-21 18:15] #486 closed, assigned to nobody

[2017-09-21 18:15] #488 closed, assigned to nobody

[2017-09-21 18:16] #495 closed, assigned to nobody

[2017-09-21 18:17] nitaliano commented on #496
Closing in favor of https://github.com/mapbox/react-native-mapbox-gl/issues/632.

[2017-09-21 18:17] #496 closed, assigned to nobody

[2017-09-21 18:18] #525 closed, assigned to nobody

[2017-09-21 18:27] nitaliano commented on #585
Closing this out as we are publishing to npm again

[2017-09-21 18:27] #585 closed, assigned to nobody

[2017-09-21 22:08] danieljvdm opened #642 "Super slow performance on initialization"
I'm on v 5.2.2 (iOS).

On render of my map view my UI thread drops massively, sometimes to 1fps. In release mode it's slightly better but causes very noticeable lag when the screen it is on is pushed. I've also tested setting a timeout for it to render and when it does render (after the rest of the screen) it locks up the UI thread for a second or two and frame rate plummets.

Scroll performance i

[2017-09-21 22:28] nitaliano commented on #642
When you mean push are you referring to a navigation push? If so which one.
What version of xcode are you using?

[2017-09-21 22:33] systemlevel commented on #637
@nitaliano Yes, I installed react-native-mapbox-gl using npm.  I was using an older version of npm version 3.10.10 the first time I attempted to run `<MapView />`.

I then upgraded to the newest npm version 5.4.2 and tried doing a brand new install of react native via `react-native init`.

With the brand new react-native project in place and in a working state, I did an `npm install --save react-n

[2017-09-21 22:47] systemlevel commented on #637
As a quick addition to the last post I also attempted to update what the automatic link had done to the settings.gradle file.

In the installation instructions the manual install version says to add the following to the settings.gradle:

[code]
Results in: ` Project with path ':react-native-mapbox-gl' could not be found in project ':app'.`

This differs from what `react-native link` generates:

[c

[2017-09-21 23:12] systemlevel commented on #637
One other clarification - I may have misinterpreted your question.  The version of react-native-mapbox-gl I'm using is:

`"react-native-mapbox-gl": "^5.2.0"`

[2017-09-21 23:13] danieljvdm commented on #642
I'm referring to a navigation push (react-navigation) but I don't think it matters based on what I said above about the `setTimeout`.

I'm on Xcode 9 - not sure what that has to do with anything though.

[2017-09-21 23:59] nitaliano commented on #642
There is an issue with xcode 9 iOS 11 simulators currently.

Checkout these issues
https://github.com/mapbox/mapbox-gl-native/issues/9959
https://openradar.appspot.com/radar?id=6138518606708736
https://twitter.com/stroughtonsmith/status/910203896332783616

One way to work around it is to use a 10.3.1 simulator.

[2017-09-22 00:25] danieljvdm commented on #642
So I'm aware of these issues, but the issue also exists on my device. It's far more drastic on the simulator due to the GL issues, but this view that is being pushed has absolutely no performance issues without the map, but causes fps drops when rendered.

[2017-09-22 00:48] danieljvdm commented on #642
So on further investigation it seems that the first time load is the big issue. Once that happens, every further render is at 60fps. But the first drops to 30 or less. Is there a way I can preload Mapbox GL? I can provide a video if you want.

[2017-09-22 08:42] gregoireLem commented on #633
@aboeglin When I try, it's just jumping from the first coordinate to the second. Is this normal ? What I want to see is the annotation that is mooving from the first to the second coordinate. Is it possible ?
thanks

[2017-09-22 16:18] nitaliano commented on #642
I'll debug it and see if anything weird is going on. With the current sdk there is not going to be a sane of preloading it.

Honestly your best bet is going to be using our officially supported `v6` branch once it's ready as it won't have the same type of performance issues as our experimental `v5` branch.

[2017-09-22 17:43] danieljvdm commented on #642
Makes sense. What is the ETA of v6?

[2017-09-22 22:25] nitaliano commented on #416
@vicapow https://github.com/mapbox/react-native-mapbox-gl/pull/643

[2017-09-25 07:17] henrikra commented on #638
@nitaliano I just installed successfully version `5.2.3-alpha1` and now when I reload JS it does not crash! Thanks man :)

[2017-09-25 09:38] gregoireLem commented on #614
I have the same issue, which seems to be only on android

[2017-09-25 12:11] gregoireLem opened #645 "linker command failed with exit code 1"
After unlink & folowing the ios install i got this error in xcode. Any clues ?

<img width="664" alt="capture d ecran 2017-09-25 a 12 03 46" src="https://user-images.githubusercontent.com/31652880/30807713-5299392c-a1fb-11e7-92f2-0fe8e28bf268.png">

thanks

[2017-09-25 13:59] vanmik commented on #632
@nitaliano I've tried the latest version (`@mapbox/react-native-mapbox-gl@5.2.3-alpha1`) but unfortunately the problem is still there.

This crash is hard to reproduce since it does not happen every time for some reason. So I wrote a simple test which continuously repeats following steps:

1. call `addOfflinePack`
2. wait 5 seconds
3. call `removePack`
4. wait 5 seconds

Paste this code to `exampl

[2017-09-25 14:35] StasDoskalenko commented on #642
@nitaliano hey! Could you please push 5.2.3-alpha1 code to the git to resolve Android issue? Thanks!

[2017-09-25 14:48] vantuh commented on #641
Same issue. How we can solve that?
I'm using react-navigation and I have to get current routeName with redux and hide previous map (like set that style to display: 'none' or something like that).
Frankly speaking I know that this soultion looks awful, but I don't know how i can solve that in another way.
Can anyone help us with that?

[2017-09-25 17:17] nitaliano commented on #645
Did you also embed `Mapbox.framework` into the xcode project from `@mapbox/react-native-mapbox-gl/ios/Mapbox.framework`?

[2017-09-25 17:24] gregoireLem commented on #645
yes !
![capture d ecran 2017-09-25 a 19 23 14](https://user-images.githubusercontent.com/31652880/30821884-2979cc92-a227-11e7-9967-96a11d54ce7f.png)

[2017-09-26 05:43] hannta opened #646 "Missing support for custom annotation anchor / centerOffset"
With current implementation is is not possible to set custom annotation coordinate point location (anchor), it is always set to center of the custom annotation. If you have e.g. typical marker style annotation and want to set the coordinate point to bottom of the custom annotation, you need to add empty space to bottom of the annotation to shift the actual marker up.

This hack has side effects, e

[2017-09-26 06:45] henrikra commented on #646
[code]

I tried adding this to `RCTMapboxGL.m` on line 141 and it actually moved the annotation to right direction for us. 🎉  Now would be nice if someone with better Objective C skills than me @nitaliano  could make it so that I can `centerOffset` from props like this:
[code]
Maybe android after that? :)

[2017-09-26 10:02] henrikra opened #647 "[iOS] Touch does not go through custom marker on 2nd render"
Gif of the problem is here: https://imgur.com/a/GoHzi
Reproduction repo here: https://github.com/henrikra/mapbox-custom-annotations

When I render custom marker without condition statement aka markers are rendered once then my touch events go through the marker which is good thing. But when my condition is true so that the second marker is rendered to the map my touches does not go through the mar

[2017-09-26 16:16] henrikra commented on #647
@1ec5 @nitaliano @bsudekum I have now added GIF and reproduction repo so the bug is very clear:) Tell me guys if you need more info ;)

[2017-09-26 17:42] henrikra commented on #647
@jackfengji Can you check this out since you have touched the ios annotations the last :)?

[2017-09-27 17:35] matthieupinte commented on #645
Hie,
Done the same... before I was using `5.2.0` (working well) and tried to upgrade and install last one `5.2.3-alpha1`, following install steps, ending with :
[code]

Done all steps... sorry, maybe I missed something when I "unlink" the old version of my project.
But looks like the same as @gregoireLem issue ;)

[2017-09-27 18:11] nitaliano commented on #645
Go into your application target under `Build Settings` search for `FRAMEWORK_SEARCH_PATHS` and try adding this line `$(PROJECT_DIR)/../node_modules/@mapbox/react-native-mapbox-gl/ios`.

[2017-09-27 20:39] aferrerallu commented on #606
Hi @josenaves, did you fix this? i'm having the same problem

[2017-09-28 07:41] gregoireLem commented on #645
Yes that was it ! Thanks @nitaliano

[2017-09-28 12:17] znacloud opened #648 "How to scale map based fixed center point?"
when doubleclick to scale map ,how could I make the map scale with a fixed center rather than  click  position?

[2017-09-28 12:21] Hofik9 opened #649 "Touchable that overflows from custom Annotation can't be pressed"
In our project we use custom annotaion views that contain a custom popup component on tap. This popup is positioned absolutely and overflows from it's parent `<Annotation />` which causes it's `TouchableOpacity` children to not register onPress. Is there a way to fix this please?

Here is a simplified source code snippet:

[code]
![iphone 67 plus 1](https://user-images.githubusercontent.com/115081

[2017-09-28 16:10] nitaliano commented on #645
Great glad it helped, I'll update the install instructions today. I'll leave this open until then.

[2017-09-28 16:43] stdavis opened #651 "Unable to find libRCTMapboxGL.a"
I'm unable to complete step 4 of the [iOS install instructions](https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/install.md) because `libRCTMapboxGL.a` isn't an option. What am I missing?

![image](https://user-images.githubusercontent.com/1326248/30979068-c1264fa2-a439-11e7-8379-5cbe0ee5c5a6.png)

[2017-09-28 16:55] stdavis commented on #651
Or is it `libRCTMGL.a`? I added that one but my build is still failing so I'm not sure that it's correct or not.

![image](https://user-images.githubusercontent.com/1326248/30979655-84694946-a43b-11e7-8a46-ff3e696fad9c.png)

[2017-09-28 17:04] stdavis commented on #651
OK. Updated some imports similar to #495 and now I'm getting:
![image](https://user-images.githubusercontent.com/1326248/30980046-dd260e2e-a43c-11e7-9c46-c78103b38e67.png)

[2017-09-28 17:10] nitaliano commented on #651
@stdavis this seemed to help others https://github.com/mapbox/react-native-mapbox-gl/issues/645#issuecomment-332608863

[2017-09-28 17:16] stdavis commented on #651
That is the key. Thanks!

[2017-09-28 17:18] nitaliano commented on #651
Great glad it helped! closing this out.

[2017-09-28 17:18] #651 closed, assigned to nobody

[2017-09-29 03:06] alixaxel commented on #638
@nitaliano Just FYI, we were using `react-native-mapbox-gl@5.2.0` like #637, and recently we too were experiencing crashes on Android nearly every time the map was loaded. I updated the dependency to `@mapbox/react-native-mapbox-gl@5.2.3-alpha1` and now it seems to be stable.

[2017-09-29 03:15] dancomanlive opened #653 "How to port react native map to the web ?"
Is there a way to get the same map as from react native to the web, with all it s data? Thanks!

[2017-09-29 06:33] henrikra commented on #638
@matthieupinte Can you close this if it works for you too? :)

[2017-09-29 06:39] henrikra commented on #649
If you are talking on Android this is normal View's beheviour

[2017-09-29 07:55] Hofik9 commented on #649
Sorry, forgot to mention it's on __iOS__, where it is not standard View's behavior

[2017-09-29 14:02] benjdlambert commented on #614
@gregoireLem @mattimononen, maybe you could try making the `key` prop the same as the `id`. That should stop the flashing, as React will re-use that view instead of re-rendering.

[2017-09-29 16:29] nitaliano commented on #653
Mapbox GL is supported on the web, and you can do everything on the web that you can do on the mobile platform - https://www.mapbox.com/mapbox-gl-js/api/.

As for sharing the component code with this repo that is unsupported and would require use of [react-native-web](https://github.com/necolas/react-native-web) and we would need to write the underlaying bridge code to Mapbox GL JS.

[2017-09-29 16:29] #653 closed, assigned to nobody

[2017-10-01 08:40] lucasbento commented on #638
@nitaliano: just tested `5.2.3-alpha1`, it is crashing a lot here.

Sometimes it crashes a few seconds after I call any offline function, other times without doing anything and definitely crashes when I open a screen with a `<MapView />`.

This is the only thing that shows up on my debug:

[code]

[2017-10-02 23:11] systemlevel commented on #637
Hi @nitaliano, just curious if you have any ideas what to try to fix this issue right off hand.  Do you have any initial suggestions you would try?

[2017-10-02 23:22] nitaliano commented on #637
@systemlevel I would try `@mapbox/react-native-mapbox-gl@5.2.3-alpha1` we did a npm scope change so `v6` would be under the mapbox org. I can also setup an example project for you and push it to Github if that would be helpful?

[2017-10-03 11:30] joaosilva05 commented on #536
+1

[2017-10-03 14:50] lucasbento opened #655 "Crashing on 5.2.3-alpha1"
Version `5.2.3-alpha1` is crashing a lot here.

Sometimes it crashes a few seconds after I call any offline function, other times without doing anything and definitely crashes when I open a screen with a `<MapView />`.

This is the only thing that shows up on my debug:

[code]

cc @nitaliano.

[2017-10-03 17:34] dviluk commented on #655
Same for me on Android

[code]

[2017-10-03 18:40] dviluk commented on #655
Updated:
I just downloaded the new version of genymotion and added Android 6.0.0 and works fine, and in my phones too (android 6.0.1 and 5.0.2)
Still not working on Android emulator 4.1.1 and 4.2.2 same error [#issuecomment-333920515](https://github.com/mapbox/react-native-mapbox-gl/issues/655#issuecomment-333920515)
___
same for `5.2.0`, maybe is react-native (0.48.3) o my emulator
package.json
[

[2017-10-03 21:32] dviluk commented on #655
i just found this [[android] native error when mapview.onCreate](https://github.com/mapbox/mapbox-gl-native/issues/9120), looks like it does not work for android 4.x

[2017-10-04 09:19] carljoachim commented on #641
I managed to work around this issue by opening my fullscreen maps (in different views) in Modals.

[2017-10-04 15:33] jliebrand opened #656 "v6: can't get the example code to run"
Hi there, first of all congrats on getting v6 to Alpha!

Unfortunately, I've not had a lot of luck getting it working. The example out of the box gave me the following error:
react/rctbundleurlprovider.h not found

After a bit of poking, I found suggestions I should run react-native upgrade to upgrade the project to react-native 0.47.2.  After doing that, it changed a bunch of files, but now It fa

[2017-10-04 16:04] nitaliano commented on #656
This is something I have patched locally I'll push it today.

Open the example app in Xcode and go to the **Libraries** folder.
* Click on **RCTMGL.xcodeproj**
* Click on target **RCTMGL**
* Goto the **Build Settings** tab
* Search for HEADER_SEARCH_PATHS
* Update to `$(SRCROOT)/../../../react-native/React`.

Try running from Xcode and it should work now.

[2017-10-04 19:59] nitaliano commented on #656
@jliebrand I just pushed the changes with some more features. I did a fresh clone and everything is working. Let me know how it goes.

[2017-10-04 22:41] dviluk opened #657 "eglChooseConfig() Error only with Genymotion (Android 4.x) 6.0.0-alpha2 and 5.2.0"
I just downloaded an emulator from Android Studio, and the error does not appear when MapView is called. This happen only in Genymotion (Android 4.x).
Not tested in a real device.
Update: Working on device with Android 4.4

Tested with `react-native-mapbox-gl@5.2.0` and `@mapbox/react-native-mapbox-gl@6.0.0-alpha2`

Code
[code]
Package.json
[code]
Android Studio (Emulator) Working!
[code]

Genymot

[2017-10-05 04:23] kevinsperrine opened #658 "RCTMGLMapView does not exist for iOS v6.0.0-alpha2"
I can successfully build and use the example app, but when I attempt to integrate a simple map in my own test app by linking the module the build completes successfully, but fails to run on iOS because the MapView isn't building properly. The android version works great. Can you point me in the right direction here?
[code]

[code]

[2017-10-05 08:05] jliebrand commented on #656
Thanks! That looks a lot better now - builds out of the box.

It does still run in to an error though - on startup I get the standard red error screen with:

TransformError: /Users/xxx/react-native-mapbox-gl/example/index.ios.js: Unexpected token ) (While processing preset: "/Users/xxx/react-native-mapbox-gl/example/node_modules/babel-preset-react-native/index.js")

I'll try to debug this my end g

[2017-10-05 08:24] jliebrand commented on #656
Seems to be an issue with babel-preset-react-native 3.0.0... Downgrading to 2.1.0 resolves the problem:
[code]

(Not sure that's the actual best solution, but it unblocks me for now :-) )

[2017-10-05 14:07] nitaliano commented on #656
What version of node are you running? I just tested it there must be an issue with babel-preset-react-native 3.0.0, it runs on node 8 for me. I'll give 4.0.0 a try and if that doesn't work I'll go back to 2.1.0

[2017-10-05 14:12] nitaliano commented on #658
I've seen that error when I don't link libRCTMGL.a under build phases, the v6 install instructions might be missing this step I'll update it today.

[2017-10-05 15:11] kevinsperrine commented on #658
Thanks, @nitaliano. When I add libRCTMGL.a to the Link Binary with Libraries build phase I now get errors about a duplicate interface definition for the RCTSource class when compiling CameraUpdateItem.m and MGLModule.m.

![screenshot 2017-10-05 10 08 58](https://user-images.githubusercontent.com/609466/31234837-9166badc-a9b5-11e7-86c3-c87c7f92f918.png)

[2017-10-05 16:15] nitaliano commented on #658
hmm would you be able to post a screen of everything you have linked to the project? I'll run through setting it up on a project again and seeing if I get this error.

[2017-10-05 16:23] kevinsperrine commented on #658
@nitaliano Sure thing. Is this sufficient?

![screenshot 2017-10-05 11 22 29](https://user-images.githubusercontent.com/609466/31238418-80e27aa2-a9bf-11e7-83d8-85a041d764c5.png)

[code]

[2017-10-05 17:08] nitaliano commented on #658
@kevinsperrine yes it is 👍

[2017-10-05 17:58] kevinsperrine commented on #658
@nitaliano FWIW, I can recreate this with:

1. react-native init mapboxtest
2. cd mapboxtest/
3. yarn add @mapbox/react-native-mapbox-gl@6.0.0-alpha2
4. open ios/mapboxtest.xcodeproj
5. add `node_modules/@mapbox/react-native-mapbox-gl/ios/Mapbox.framework` to Embedded Binaries w/ Copy items if needed
6. add `node_modules/@mapbox/react-native-mapbox-gl/ios/RCTMGL.xcodeproj` to the Libraries
7. add

[2017-10-05 19:50] frankrowe commented on #658
I was able to get it to build on iOS by linking `libRCTMGL.a`

[2017-10-05 20:25] kevinsperrine commented on #658
@frankrowe Thanks. In digging deeper, it looks like react-native added a RCTSource into core on [version 0.49](https://github.com/facebook/react-native/blob/cd81eff5b891a0b5c528b4315423f157100b67e8/React/Base/RCTJavaScriptLoader.mm#L25). I too was able to get iOS to compile after dropping react-native back to version 0.48.4

cc @nitaliano

[2017-10-05 20:27] nitaliano commented on #658
@kevinsperrine ha, great there's also a class called `RCTLayer` I'll go through and namespace them to `RCTMGlLayer` and `RCTMGLSource`. Thanks for digging into this!

I'll publish a new version to npm later today

[2017-10-05 20:32] kevinsperrine commented on #658
Thanks, @nitaliano. Great work on this! I'm really excited about this v6 rewrite.

[2017-10-05 21:54] mvsmal commented on #649
Have you managed to make the Icon tappable? For me even that doesn't work

[2017-10-05 23:53] nitaliano commented on #658
@kevinsperrine I just pushed the changes to `v6`, updated the example app to use RN 0.49 and published `@mapbox/react-native-mapbox-gl@6.0.0-alpha3` to npm.

I'm going to close this issue out, feel free to create another issue if you run into any problems 👍

[2017-10-05 23:53] #658 closed, assigned to nobody

[2017-10-06 07:36] jliebrand commented on #656
I'm running v6.11.1
(used to be on 8, but that caused some other problem in some other area that I can't quite remember now - so stuck on 6)

[2017-10-06 08:38] tayathorn opened #660 "[IOS] Error when update custom annotations"
I've got this error when I update array for render custom annotation.

**In android, it's work perfectly but in `IOS` got this error.**

![simulator screen shot oct 6 2017 3 22 33 pm](https://user-images.githubusercontent.com/31066087/31269444-a4b7379c-aaaa-11e7-84f1-bf432781862b.png)

This error also appeared when I set annotation state after Mapview rendered. It's only work when I update my stat

[2017-10-06 11:30] henrikra commented on #660
Update to latest version https://www.npmjs.com/package/@mapbox/react-native-mapbox-gl
Latest version is 6.0.0-alpha3 where this bug is already fixed

[2017-10-06 12:28] henrikra commented on #579
@alixaxel Is this still an issue?

[2017-10-06 12:49] henrikra opened #661 "[Android] When showsUserLocation is true custom annotations don't receive touch event"
If you set `showsUserLocation` to `true` on `MapView` and use custom markers inside of `MapView` the marker can't receive any touch events on Android. Therefore adding `TouchableOpacity` etc is useless.

Hot fix for this is to set `showsUserLocation={false}` which is not ideal.

React Native: 0.48.4
react-native-mapbox-gl: ^5.2.3-alpha1

Example code:
[code]

[2017-10-06 12:57] alixaxel commented on #579
@henrikra Not on 5.2.0, but the README is still mentioning the un-scoped NPM package (at version 5.1.0). Since it no longer affects us, I'm gonna close the issue. :)

[2017-10-06 12:57] #579 closed, assigned to nobody

[2017-10-06 13:05] vanmik commented on #632
Is there any news on that issue? If you still can’t reproduce the bug, we can provide more information.

[2017-10-06 20:57] nitaliano commented on #632
We are about 3-4 weeks away from releasing `v6` and it being merged into master. As with everything else in `v6` we are writing offline support from scratch.

Best case scenario for `v5` offline support is a branch that drops the offline module in, but it will not be merged into `v5`. We want to move away from the experimental code that's in `v5` as soon as possible.

[2017-10-07 10:57] RobertSasak commented on #630
I assume that you have an url to your tiles server such as https://a.mytileserver.com/tiles/{z}/{x}/{y} . You may be very tempted to use it directly. Instead you need to create a json with tile specification and then as a *styleURL* you need to provide url to style specification.

[code]
Here is an example of minimal style specification of map.json . More information can be found here.
https://www

[2017-10-07 12:05] Stophface commented on #630
@RobertSasak  thanks!

[2017-10-07 21:01] RobertSasak commented on #632
@vanmik I have just updated to *5.2.3-alpha1*. I copied your mapCrashTest function into my existing app. I run 100 tests multiple times without any crash so far.
There are few differences such as as I used custom raster tiles, small area about 4MB, real iPhone 7 device.

[2017-10-08 13:18] RobertSasak commented on #502
See my answer in #630 .

[2017-10-08 19:34] YKK101 opened #662 "[v6] MapboxGL.requestPermissions() not response anything at first time"
I'm using v6.0.0-alpha3.
after I click "allow" location service nothing response there, but when I kill the app and open it again the requestPermissions() is resolved as isGranted = true, but no userAnnotation on the map

here is some of my code
[code]

[2017-10-08 22:27] nitaliano commented on #662
What props are you setting on the MapView?

[2017-10-09 02:40] YKK101 commented on #662
Here is my render function
[code]

and config file
[code]

[2017-10-09 05:27] nitaliano commented on #662
I just took a look and see what's going wrong. Try setting the userTrackingLocation for now to Tracking or Compass to work around it.  I'll push a fix for it tomorrow.

[2017-10-09 18:59] nitaliano commented on #662
@YKK101 would you be able to try this branch out? https://github.com/mapbox/react-native-mapbox-gl/tree/bugfix/662 it has the fix on there. You'll need to update your code to call a new method `requestAndroidLocationPermissions` which returns a `boolean`.

[code]

Let me know how it goes and I'll publish a new version to npm

[2017-10-09 20:57] nitaliano commented on #633
I'll add an example for doing this in the v6 alpha with a ShapeSource and SymbolLayer it should be the same idea though.

* Get two points
* Interpolate between the points with some easing function
* Update the coordinate each step of interpolation

Ideally I've been messing around with the idea of adding some sort of Animated API to v6 to limit bridge passes

[2017-10-09 21:04] frantisek-dobrota opened #664 "Are offline packs persistent?"
Hey guys, I am thinking about using this api in one of my projects and I cannot find out if the offline packs are persistent? If not, is there any way how to save these packs into asyncstorage and then load them? Lets say, I would like to let users to download some packs if necessary, save them and have them in a memory even if the user close/reinstall the app - is this possible? Thanks

[2017-10-09 21:11] atarsha commented on #664
That is exactly how offline map packs work. They are persistent.

[2017-10-10 05:47] YKK101 commented on #662
Great, It's works now
thanks a lot @nitaliano

[2017-10-10 09:45] henrikra commented on #633
This is great news!!

[2017-10-10 10:14] lucasbento commented on #655
@nitaliano: can you please give some light on this?

Is the version `6` more stable to use?

[2017-10-10 12:51] hamidhadi commented on #502
@RobertSasak Thank you. Is there any way to load custom vector tiles?

[2017-10-10 14:11] RobertSasak commented on #502
I believe you need to provide url to your vector tiles source
[code]
https://www.mapbox.com/mapbox-gl-js/style-spec/#sources-vector

[2017-10-10 16:55] nitaliano commented on #655
There is a bug in the native SDK that is causing crashes for android 4.x.x. Outside of that for react-native-mapbox-gl 5.x.x I've seen a few issues related to the offline module causing crashes.

Version 6 is in good shape, it doesn't have offline support yet. But it will land within the next two weeks.  I would say hold off on using it in a production environment until we release the beta in two

[2017-10-10 18:01] nitaliano commented on #664
What @atarsha said. Going to close this out.

[2017-10-10 18:01] #664 closed, assigned to nobody

[2017-10-10 18:01] nitaliano commented on #662
Going to close this out I'll publish a new alpha today

[2017-10-10 18:01] #662 closed, assigned to nobody

[2017-10-10 18:19] nitaliano commented on #656
Going to close this out. I'll publish another alpha today that has a different preset that works with node 6 and up

[2017-10-10 18:19] #656 closed, assigned to nobody

[2017-10-11 07:35] lucasbento commented on #655
@nitaliano: I see, do you have any idea what's causing the problem I mentioned? It was in iOS `10.x`.

Thank you for replying, by the way.

[2017-10-11 16:17] nitaliano commented on #655
@lucasbento Are you calling `await Mapbox.initializeOfflinePacks()` before any other offline API calls?

[2017-10-11 18:47] swhamilton commented on #638
@alixaxel When you upgraded to `@mapbox/react-native-mapbox-gl@5.2.3-alpha1`, how did you include the Mapbox.framework file? From what I can tell, it is not included in this version of the package.

File should be located here: `node_modules/@mapbox/react-native-mapbox-gl/ios/Mapbox.framework`

[https://www.jsdelivr.com/package/npm/@mapbox/react-native-mapbox-gl?version=5.2.3-alpha1&path=ios](http

[2017-10-11 18:52] nitaliano commented on #638
@swhamilton it fetches it on preinstall https://github.com/mapbox/react-native-mapbox-gl/blob/master/package.json#L25

[2017-10-11 20:28] nitaliano commented on #661
Yes unfortunately this is a problem with the current marker implementation.  I'm working on the `v6` implementation right now and this is what the API will look like. Instead of having the custom view add the onPress the native code will handle this for us similar to how it's handled in react-native-maps.

[code]

[2017-10-11 21:29] systemlevel commented on #637
@nitaliano, I'm still not having any luck.  I've attempted a brand new project through `react-native init `and started fresh.  I used `@mapbox/react-native-mapbox-gl@5.2.3-alpha1` but now both ios and android versions do not build.

In ios I'm getting the same issue as #645 and I've attempted the solution proposed there but still will not build successfully.

In android the build fails with the fo

[2017-10-11 21:44] nitaliano commented on #637
@systemlevel for android open up your build.gradle file and update `compileSDKVersion` and `targetSDKVersion` to `25`. React native init puts android SDK 23 instead of the newest one. Here is an example for the `v6` branch https://github.com/mapbox/react-native-mapbox-gl/blob/v6/example/android/app/build.gradle#L93

For iOS can you post a screen shot of the libraries you have linked under build ph

[2017-10-11 22:38] systemlevel commented on #637
@nitaliano, looks like you nailed the problem.  Thank you for that suggestion.  In summary, here are the two items that you recommended that solved this issue:

1) Use `npm install @mapbox/react-native-mapbox-gl@5.2.3-alpha1 --save` when installing react-native-mapbox.
2) Ensure that in the android `build.gradle` file that both `compileSDKVersion` and `buildToolsVersion` are set to 25 (mine was se

[2017-10-11 22:38] #637 closed, assigned to nobody

[2017-10-12 12:20] Gp2mv3 commented on #648
I'm also interested by that ! On Android it seems a double click zooms in center but the pinch to zoom isn't zooming to the center of the screen/map.

[2017-10-13 00:45] arefed-zz opened #665 "undefined is not an object (evaluating 'MapboxGLManager.mapStyles')"
I am trying to render the mapExample provided in the repository, but I receive the above error. when I looked into the index.js in the react-native-mapbox-gl library I realized that the NativeModules imported from react-native is an empty object.
also I receive 'Warning: Native component for "RCTMapboxAnnotation" does not exist' the expo as well. I have checked the linking and it is dne correctly

[2017-10-13 02:52] landonmr commented on #665
same here

[2017-10-13 18:42] nitaliano commented on #665
@arefed when NativeModules is an empty object that means the native code for react native has not been linked.

I would also suggest that you use our v6 alpha, it has a built in example application https://github.com/mapbox/react-native-mapbox-gl/tree/v6

[2017-10-16 20:48] karlguillotte opened #668 "[v6] SymbolLayer with style { iconName:{token} }"
Thanks for your work on the v6 branch!

I am trying to add a Mapbox.SymbolLayer with a style with an iconName value as a token. All other ways work (commented bellow)!

[code]
And in my component's render method:
[code]
Here is the data for my Mapbox.ShapeSource (sources.reports):
[code]

Not sure if it has been tested and implemented yet, but it seems it is when reading the docs https://github.co

[2017-10-16 21:09] nitaliano commented on #668
@karlguillotte thanks for posting this, the docs are auto generated from the [json style spec](https://github.com/mapbox/react-native-mapbox-gl/blob/v6/style-spec/v8.json), so they might be slightly ahead. I'll look into it and get it working.

[2017-10-16 22:47] karlguillotte opened #669 "[v6] Support for sourceLayerID"
Hi,

I am wondering for the support for `sourceLayerID` has been implemented in layer components. I am having some issues with it, but before digging more I want to confirm it is.

If it is, I will send a PR to add it as example.

Thanks!

[2017-10-16 22:55] nitaliano commented on #669
Yup that is supported.

Here is an [example](https://github.com/mapbox/react-native-mapbox-gl/blob/v6/example/src/components/FlyTo.js#L74)

[2017-10-17 01:01] #669 closed, assigned to nobody

[2017-10-17 06:17] YKK101 opened #670 "Can I set <SymbolLayer /> icon image from feature's properties?"
Now I'm using icon-image from sprite and everything work well, but when I try getting icon-image name from feature's properties, I was got this error (getting textField from properties was ok)
![screen shot 2560-10-17 at 1 03 55 pm](https://user-images.githubusercontent.com/12131753/31649176-bda2f784-b33b-11e7-8bde-45ddc442eb70.png)

this is my StyleSheet
[code]
also i've tried this, but the resul

[2017-10-17 08:47] MindFreeze commented on #670
See #668

[2017-10-17 09:34] #660 closed, assigned to nobody

[2017-10-17 10:04] #670 closed, assigned to nobody

[2017-10-17 20:13] karlguillotte opened #671 "[v6] SymbolLayer with style property textOffset"
Hi,

Trying to use the `textOffset` on a `SymbolLayer` and it does not work. Below is a screenshot of the error.

![image](https://user-images.githubusercontent.com/744011/31686988-c9576b4a-b33c-11e7-8838-59597ace6a32.png)

Here is my style object:

[code]

I wanted to test with the demo application, but I ran into issues with a `babel-preset-react-native` transformation trying to start it.

Thank

[2017-10-17 20:25] nitaliano commented on #671
Theres's a bug with the version of `babel-preset-react-native` in the demo app, if you switch to node 8 it will run.

I'll look into textOffset and probably the rest of the SymbolLayer styles to make sure they're working correctly.

[2017-10-17 20:54] nitaliano commented on #671
I already see the problem. Some offsets require `NSValue` that is a `CGVector` others require `NSArray<NSNumber *> *`.

[2017-10-17 21:05] karlguillotte commented on #671
Thanks @nitaliano ! Ready to test as soon as you have a patch.

[2017-10-17 23:41] nitaliano commented on #668
Just wanted to update this ticket. I have a working implementation on iOS I just need to do the Android implementation then the PR will land.

The API I have in mind is below the `ShapeSource` will now be responsible for declaring any external images that we want to add to our geojson source, this will also ensure that the images are being cleaned up out of memory when the source is no longer in u

[2017-10-18 15:44] benjaminkoetting opened #672 "heatmap layer in react native"
in the example app there is earthquake clustering shown, how to transform it that it will shown as heatmap like you do it in your js example under:

https://www.mapbox.com/mapbox-gl-js/example/heatmap-layer/

[2017-10-18 16:12] nitaliano commented on #672
GL JS is slightly ahead of native GL and it has a specific layer called Heatmap.  That will make it into the mobile platform in the coming months. The best you can do for now is add a blur to the `CircleLayer`

[2017-10-18 16:12] #672 closed, assigned to nobody

[2017-10-18 18:04] nitaliano commented on #668
@karlguillotte would you mind testing this [branch](https://github.com/mapbox/react-native-mapbox-gl/tree/bugfix/668) out. I also added an example for this [here](https://github.com/mapbox/react-native-mapbox-gl/blob/bugfix/668/example/src/components/ShapeSourceIcon.js).

[2017-10-18 20:53] nitaliano commented on #671
@karlguillotte I added the fix for this on the PR that fixes the iconImage token not working. https://github.com/mapbox/react-native-mapbox-gl/pull/674. Let me know how it goes.

[2017-10-18 21:13] karlguillotte commented on #668
Thanks @nitaliano ! It is working, but now I am a bit confused about how icons are read. In the documentation, it is stated they are coming from the sprite. See the scenarios below.

First, here is the data used in the scenarios.

[code]

# Scenario A - Working as expected with dynamic icons

[code]
# Scenario B - Working as expected with static icons
[code]
# Scenario C - However does not work wi

[2017-10-18 21:41] karlguillotte commented on #671
It is working! Thanks @nitaliano.

[2017-10-18 21:44] nitaliano commented on #668
@karlguillotte for dynamic image we are not searching in `Images.xcassets` it is coming from the javascript.

If you did

[code]
it would work and this is a solution that works cross platform. I've avoided having to look in `Images.xcasserts` on iOS and `res` on Android.  If this is a valuable feature to add I have no problem implementing it.

We will still need to be able to register these images

[2017-10-19 09:27] YKK101 opened #675 "[v6][ios] can't set iconimage from sprite"
I have 2 question about symbol iconImage

-------------------------------

1st

I've try using symbol iconImage from styleUrl's sprite and It's work on android
but on iOS, I've got this warnning

![screen shot 2560-10-19 at 4 21 16 pm](https://user-images.githubusercontent.com/12131753/31763801-93fd8174-b4e9-11e7-9d93-512504af095a.png)

--------------------------------

2nd
Can I set iconImage anc

[2017-10-19 16:02] StasDoskalenko opened #676 "Migrate 5.2.3 alpha to MGL Native Android 5.2.0-beta.2 - onMapReady callback never invoked"
Hey guys!
I'm duplicating my issue from here https://github.com/mapbox/mapbox-gl-native/issues/10223

Hi guys! I've tried upgrade to 5.2.0.
here is my code which works fine with 5.1.4!

[code]

Thanks!

I've also tried to set styleUrl as:
`_mapOptions.styleUrl(Style.SATELLITE_STREETS);`

[2017-10-19 16:29] nitaliano commented on #675
@YKK101

1. This is currently a bug on iOS and this PR fixes the issue https://github.com/mapbox/react-native-mapbox-gl/pull/674. Check https://github.com/mapbox/react-native-mapbox-gl/issues/668 for discussion.

2. `iconOffset` is going to be your best option for doing so currently. In the GL JS codebase there is a property called `iconAnchor` it has not made it's way to the mobile platform yet.

[2017-10-19 16:31] #675 closed, assigned to nobody

[2017-10-19 16:35] nitaliano commented on #676
You could try setting the styleURL on the MapView instead of doing it in the options, it might trigger a different codepath.

[2017-10-19 19:27] stephenheron opened #678 "[v6] Polyline?"
Hi,

I am having a look at v6 and I noticed that markers are being implemented.

I was wondering is support for polylines on the roadmap?

Thanks,
Stephen

[2017-10-19 20:07] nitaliano commented on #678
@stephenheron Polylines and Polygons are already supported. Use a `ShapeSource` to provide the GeoJSON and use the `LineLayer` if you want a polyline and a `FillLayer` if you want a polygon. I can provide you with examples if you would like?

[2017-10-19 20:17] #665 closed, assigned to nobody

[2017-10-19 20:23] nitaliano commented on #492
I would checkout the `v6` alpha now runtime and data driven styling is implemented, so you have complete freedom to use all the layer style props now.

[2017-10-19 20:23] #492 closed, assigned to nobody

[2017-10-19 20:29] nitaliano commented on #485
This should be supported now that the runtime and data driven styling api is implemented.

[2017-10-19 20:30] #493 closed, assigned to nobody

[2017-10-19 20:30] #497 closed, assigned to nobody

[2017-10-19 20:30] #500 closed, assigned to nobody

[2017-10-19 20:31] stephenheron commented on #678
Hi @nitaliano

Thanks for the quick reply!

I had a look at the LineLayer but I am tad confused on how to pass it the latitudes and longitudes of the points of my line. A quick example or just pointing me in the right direction would be fantastic.

Thanks,
Stephen

[2017-10-19 20:31] #502 closed, assigned to nobody

[2017-10-19 20:33] #507 closed, assigned to nobody

[2017-10-19 20:33] #508 closed, assigned to nobody

[2017-10-19 20:34] #510 closed, assigned to nobody

[2017-10-19 20:34] nitaliano commented on #513
This is implemented in the `v6` alpha closing this out

[2017-10-19 20:34] #513 closed, assigned to nobody

[2017-10-19 20:35] #516 closed, assigned to nobody

[2017-10-19 20:35] nitaliano commented on #516
Our `v6` rewrite will ship with the latest ios and android sdk, and `v5` supports this.

[2017-10-19 20:36] nitaliano commented on #520
In the `v6` rewrite all coordinates are in [lng, lat] format

[2017-10-19 20:36] #520 closed, assigned to nobody

[2017-10-19 20:39] #557 closed, assigned to nobody

[2017-10-19 20:39] #549 closed, assigned to nobody

[2017-10-19 20:40] #545 closed, assigned to nobody

[2017-10-19 20:41] nitaliano commented on #536
For anyone having this problem you would need to create a mock, this is what I'm doing for my tests in version 6 of the repo https://github.com/mapbox/react-native-mapbox-gl/blob/v6/__tests__/__mocks__/react-native-mapbox-gl.mock.js

[2017-10-19 20:41] #536 closed, assigned to nobody

[2017-10-19 20:44] nitaliano commented on #534
For version 6 of this repo depending on the functionality that you desire you could.

1. Use a `ShapeSource` with a `SymbolLayer` and update the geojson source everytime the user location changes.
2. Use a `PointAnnotation` if you need custom views with animations, and update the coordinate on the annotation anytime the user location changes.

[2017-10-19 20:44] #534 closed, assigned to nobody

[2017-10-19 20:44] #554 closed, assigned to nobody

[2017-10-19 20:45] #550 closed, assigned to nobody

[2017-10-19 20:46] nitaliano commented on #558
https://github.com/mapbox/react-native-mapbox-gl/pull/677

[2017-10-19 20:46] #558 closed, assigned to nobody

[2017-10-19 20:47] #559 closed, assigned to nobody

[2017-10-19 20:48] #560 closed, assigned to nobody

[2017-10-19 20:48] #605 closed, assigned to nobody

[2017-10-19 20:49] nitaliano commented on #598
This is part of the backlog for version 6 and is on the roadmap to be supported

[2017-10-19 20:49] #598 closed, assigned to nobody

[2017-10-19 20:50] nitaliano commented on #594
This is supported in the version 6 alpah - https://blog.mapbox.com/our-react-native-gl-library-is-in-alpha-7456f2af685

[2017-10-19 20:50] #594 closed, assigned to nobody

[2017-10-19 20:50] #566 closed, assigned to nobody

[2017-10-19 20:51] nitaliano commented on #564
This is how version 6 of the repo is implemented closing out

[2017-10-19 20:51] #564 closed, assigned to nobody

[2017-10-19 20:51] #591 closed, assigned to nobody

[2017-10-19 21:43] likethemammal commented on #492
Sweet, thanks for the heads up

[2017-10-19 22:12] nitaliano commented on #678
Here is some example code that is rendering a smiley face https://github.com/mapbox/react-native-mapbox-gl/blob/v6/example/src/components/GeoJSONSource.js. You can see how we use GeoJSON for everything here is a link to the spec https://tools.ietf.org/html/rfc7946. LineString = Polyline.

Example LineString Feature
[code]

I'll add a polyline example to it and let you know when I submit the PR.

[2017-10-19 23:26] nitaliano commented on #668
@karlguillotte I just pushed some more commits to the branch. I added support for pulling images out of `*.xcassets` on iOS and `drawables` dir on Android. The [example](https://github.com/mapbox/react-native-mapbox-gl/blob/bugfix/668/example/src/components/ShapeSourceIcon.js) has been updated.

[2017-10-20 07:26] StasDoskalenko commented on #676
@nitaliano thanks for the reply!
I've tried:

[code]

Still no luck :(

[2017-10-20 08:08] stephenheron commented on #678
Hi @nitaliano

I got it working, my line was already in GeoJSON.

Previously I was parsing the geoJSON to get the Lat/Lng points and then using them to draw a polyline. Just being able to feed in GeoJSON directly is handy and seems to be a tad snappier as I am not having to loop over the geoJSON.

Thanks and keep up the great work,
Stephen

[2017-10-20 08:08] #678 closed, assigned to nobody

[2017-10-20 12:08] jliebrand opened #679 "[v6] - Question on how to use VectorSource to bring in an mbtileset hosted on mapbox"
I've got a quick question, as i'm clearly missing something. I have my own tileset, which contains a handful of layers of data, each with a bunch of properties. I'd like to add a style layer to my map showing one of these layers, using data driven styling. But I don't understand where I link the FillLayer with the layer inside the tileset?

Assume I have a mbtileset called my_tileset uploaded to m

[2017-10-20 13:01] jliebrand commented on #679
I tried adding the sourceLayerID to the FillLayer (similar LineLayer) but that caused an exception to be thrown

[2017-10-20 13:22] jliebrand opened #680 "[v6] - very first pinch zoom always uses centre of map as as zoom center"
(tested on iPad pro)

If you use the pinch gesture to zoom in/out as the very first thing after launching the app, it will always zoom in/out around the centre of the map, not the point between your fingers.

Once you drag the map once, after that the pinch zoom correctly zooms in/out around the point between your two fingers

[2017-10-20 13:25] jliebrand opened #681 "[v6] - pitch and rotate gestures too easily triggered"
I'm not sure if this is a react-native-mapbox-gl issue, or the underlying ios sdk issue?

But on my iPad Pro, I find it's very easy to accidentally trigger a pitch gesture when i'm actually trying to pinch zoom. Similarly, when I try to rotate, it occasionally starts to pitch rather than rotate. And sometimes it doesn't do anything when I try to rotate (until I drag the map around a bit).

In gene

[2017-10-20 13:26] jliebrand commented on #679
Updating the title of this bug - I also tried using the LineLayer (as that does have the sourceLayerID) but that causes exceptions to be thrown as well, so I'm clearly not linking to my mapbox hosted tileset correctly (?)

[2017-10-20 14:23] StasDoskalenko commented on #676
What I've discovered is that only these events are fired:
Map change listener: 0
Map change listener: 3
Map change listener: 0
Map change listener: 3

[2017-10-20 14:43] frankrowe opened #682 "[v6] [Android] onRegionDidChange event not firing"
`onRegionDidChange` event does not work on Android. Tested using the Show Region Did Change page in examples.

Update: Seems to work on double tap to zoom, but not on drag or pinch.

[2017-10-20 15:09] nitaliano commented on #682
What version of Android is this happening on? I just tested on a API 26 emulator and I'm seeing the event being fired.

[2017-10-20 15:14] nitaliano commented on #681
The iOS sdk controls the gestures and I believe they are just `UIGestureRecognizer` under the hood.

You can set `scrollEnabled`, `pitchEnabled`, `rotateEnabled`. Here is a link to all the map props https://github.com/mapbox/react-native-mapbox-gl/blob/v6/docs/MapView.md

[2017-10-20 15:14] #681 closed, assigned to nobody

[2017-10-20 15:22] nitaliano commented on #680
I will find out what the expected behavior should be with the camera. I believe this is happening because the camera is centered on the `centerCoordinate` that we set and all zooming will focus on that until a pan happens

[2017-10-20 15:22] frankrowe commented on #682
I have tested on API 23 and API 26 emulators, not getting the event on either.

[2017-10-20 17:35] frankrowe commented on #682
^ So that PR fixes it, but I'm not sure if it's correct because the event fires while the map is being dragged, instead of once at the end of the drag. not sure if that is intended behavior :man_shrugging:

[2017-10-20 20:04] karlguillotte commented on #668
Thanks @nitaliano ! Busy working n another project now, but I will give it a try early next week.

[2017-10-21 14:29] StasDoskalenko commented on #676
Also when debugging onMapChange (in MapView library file) breakpoint is never invoked too - that
s strange!

[2017-10-22 17:26] jliebrand commented on #679
Just wondering if there's any thoughts on this. Should it be possible to create a line/fill layer from an mbtileset hosted on mapbox with the v6 branch? Or is it simply not quite supported yet?

[2017-10-22 17:58] smoll opened #684 "Calculate displayed region bounding box using onRegionDidChange payload?"
According to the docs, this [payload](https://github.com/mapbox/react-native-mapbox-gl/blob/master/API.md#callback-props) looks something like

[code]

is there an easy way to calculate a bounding box (minLat, minLng) and (maxLat, maxLng) of the newly visible region using the `latitude`, `longitude`, and `zoomLevel` values?

[2017-10-22 20:14] smoll commented on #684
Ah, should've googled this earlier. Looks like mapbox published another package that helps with this exact thing https://github.com/mapbox/geo-viewport#boundsviewport-zoom-dimensions-tilesize

[2017-10-22 20:14] #684 closed, assigned to nobody

[2017-10-23 04:17] nitaliano commented on #679
@jliebrand `sourceLayerID` is the correct way of doing it, the FillLayer is just missing the prop and there's just a bug when setting the url on the `VectorSource`. I have a working copy locally and I'll submit a PR for it shortly.

[2017-10-23 10:08] jliebrand commented on #679
Ah sweet - thanks!

[2017-10-23 12:21] matthieupinte commented on #638
Hi,
There is no more `5.2.3-alpha` version, so try again the `5.2.2` by upgrading my current (`5.2.0`) version... but continue to got
[code]

I follow the instructions, but maybe forgot some lines on my Xcode project to remove...
If someone experiencing the same issue, or can tell me how to properly removed mannually linked librairies ^^,

[2017-10-23 12:23] keenubee commented on #638
@matthieupinte check this please - https://www.npmjs.com/package/@mapbox/react-native-mapbox-gl

[2017-10-23 12:26] matthieupinte commented on #638
Thx @keenubee but :

for v6...
In fact the only reason why I want to upgrade from 5.2.0 to 5.2.2 (or more) is to got `z-index` support on my annotations... (or order in render)

[2017-10-23 13:41] matthieupinte commented on #638
Can't use an `v6-alpha`, but find a solution to my `z-index` pb by using `Custom view Annotation`... all annotations are rendered as an immutable array, just one selected rendered as a custom one. Like that it's always rendered a top level.

If you want to close this issue, you can, I will stay on `5.2.0` until `6` is released ;)

[2017-10-23 16:28] nitaliano commented on #682
ha, that looks good to me, thanks for the PR! I would be interested in seeing how many times that event fires during a fly to and if it causes any performance issues for the RN bridge

[2017-10-23 18:44] nitaliano commented on #679
@jliebrand I added the fix to this https://github.com/mapbox/react-native-mapbox-gl/pull/674. I'll work on getting it merged in today. There is also a custom vector source example now using `FillLayer`.

[2017-10-23 19:07] jliebrand commented on #679
Nice one!  Will try to get that working first thing tomorrow morning my time!

[2017-10-23 21:54] nitaliano commented on #671
The fix has been merged into the v6 branch closing out

[2017-10-23 21:54] #671 closed, assigned to nobody

[2017-10-23 21:55] nitaliano commented on #668
Closing this out since the fix has been merged into the `v6` branch, if you run into any more issues we can reopen.

[2017-10-23 21:55] #668 closed, assigned to nobody

[2017-10-23 22:03] martsie opened #685 "iOS installation docs say to use the scoped npm install"
Currently the installation docs at https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/install-cocoapods.md say to use the scoped package: `npm install --save @mapbox/react-native-mapbox-gl` however when going to npm's package page for that it says that it corresponds to the v6 alpha version (https://www.npmjs.com/package/@mapbox/react-native-mapbox-gl) to which the rest of the docume

[2017-10-23 22:53] nitaliano commented on #679
Great! The fix has been merged into the `v6` branch. This is the example https://github.com/mapbox/react-native-mapbox-gl/blob/v6/example/src/components/CustomVectorSource.js

[2017-10-23 23:01] nitaliano commented on #682
Closing out fix has been merged into the `v6` branch

[2017-10-23 23:01] #682 closed, assigned to nobody

[2017-10-23 23:03] nitaliano commented on #630
@Stophface Now with our `v6` rewrite there is a `RasterSource` where you can add custom tiles to the map, there is an example of this in the demo application on the `v6` branch

[2017-10-23 23:03] #630 closed, assigned to nobody

[2017-10-23 23:05] nitaliano commented on #657
@dviluk Would you mind filing this under the mapbox-gl-native repo if this is still an issue for you?

[2017-10-23 23:05] #657 closed, assigned to nobody

[2017-10-23 23:06] #645 closed, assigned to nobody

[2017-10-23 23:08] nitaliano commented on #646
This is implemented now on https://github.com/mapbox/react-native-mapbox-gl/pull/677. It's called `anchor` and you can give it an x,y value from [0, 1] which starts in the top left hand corner of the annotation.

[2017-10-23 23:08] #646 closed, assigned to nobody

[2017-10-23 23:24] nitaliano commented on #623
Closing this out since the API will be strictly following the GeoJSON format.

[2017-10-23 23:24] #623 closed, assigned to nobody

[2017-10-23 23:31] nitaliano commented on #592
@j1mie runtime and data driven styling in supported in our `v6` rewrite, it was not supported in the experimental versions previous to it.

[2017-10-23 23:31] #592 closed, assigned to nobody

[2017-10-23 23:35] nitaliano commented on #584
I'll take a look at this for our v6 branch

[2017-10-24 07:35] martsie commented on #575
Having the same issue here, with custom annotations the map becomes unusable because if the user initiates a drag or zoom with their finger accidentally over an annotation the map doesn't respond.

[2017-10-24 07:37] martsie commented on #647
This is a similar issue to https://github.com/mapbox/react-native-mapbox-gl/issues/575 and https://github.com/mapbox/react-native-mapbox-gl/issues/559 where touches aren't being propagated to the mapview at all.

[2017-10-24 09:07] henrikra commented on #647
I think @nitaliano fixed these problems in v6 :)

[2017-10-24 17:23] jliebrand commented on #679
Works brilliantly, thanks!

[2017-10-24 17:23] #679 closed, assigned to nobody

[2017-10-25 06:45] MindFreeze opened #687 "Yarn vs npm (yarn: not found)"
Installing with `npm i @mapbox/react-native-mapbox-gl` produces `yarn: not found`. It fails because of `yarn run fetch:ios:sdk`.

Can you make this more agnostic? Otherwise I have to install yarn **only** because of mapbox. Maybe at least do this for npm published versions.

P.S. I am not even going to use the ios SDK. My project is android only, so this is double annoying.

[2017-10-25 10:07] wangchen9074 opened #688 "When I update the version 0.41 ,my Map header appears Missing Mapbox GL JS CSS."
I don't konw why  the Missing Mapbox GL JS CSS.

[2017-10-25 16:23] nitaliano commented on #688
@Wwangchen this is the repo for react-native did you mean to post this in the [Mapbox GL JS repo](https://github.com/mapbox/mapbox-gl-js)?

[2017-10-25 16:24] nitaliano commented on #687
yea, I'll switch everything to just npm for the next npm release.

[2017-10-25 16:58] #688 closed, assigned to nobody

[2017-10-25 17:01] nitaliano commented on #685
@martsie we're going to try and get the `v6` branched merged into `master` late next week, so this will be a non-issue soon enough.

[2017-10-25 21:14] gillessed opened #690 "Android Map Crash"
Our app occasionally crashes while on our map view with the following stack trace below. I'm wondering if anyone else has seen this?

[code]

[2017-10-26 09:51] jliebrand opened #691 "[v6] - not sure how to get current bounds of map?"
Not sure if this is just missing on the MapView at the moment, but how can I get to the bounds of the current view? mapbox GL JS has "getBounds", should MapView have the same?

And on a similar note, shouldn't the onRegionDidChange return the bounds, rather than a point? (I'm assuming it's returning the centre point?)

[2017-10-26 10:29] hannta opened #692 "[Android] GPS is left on even if app is switced to background"
I have mapview with `showsUserLocation` set to true. If app is switched to background the gps is still left on and it is draining my battery.

I also tried to set `showsUserLocation` to false on app state change, but that does not have any affect.

In using mapbox ver 5.2.3-alpha1

There is similar issue #310, which is closed already, but it looks like this is still reproducing. Do you have any id

[2017-10-26 11:30] henrikra commented on #692
Yeah this is draining lot of battery :(

[2017-10-26 11:51] MindFreeze commented on #691
See #684

[2017-10-26 15:46] nitaliano commented on #691
Yup absolutely the MapView will have a getBounds function and the region object is also going to be updated to include the bounds. I'm actually adding it in my PR for offline support.  For now geoViewport is your best option.

[2017-10-26 16:27] nitaliano commented on #692
@hannta try setting your userTrackingMode to none

[2017-10-26 16:36] henrikra commented on #692
@nitaliano I think that is what @hannta tried already. I think he just made typo saying he set it to `false`

[2017-10-26 18:47] jliebrand commented on #691
Thanks guys

[2017-10-26 23:02] #501 closed, assigned to nobody

[2017-10-27 11:29] hannta commented on #692
@nitaliano Yep, that is what im basically doing. Im setting `userTrackingMode` to `none` and `showsUserLocation` to `false`. But that has no affect, gps  still on.

Also if I do not use `userTrackingMode` at all, issue is still there if I have `showsUserLocation` set to `true`. And things are not changing if I set `showsUserLocation` to `false` when app goes to background.

@henrikra I think you m

[2017-10-30 05:53] henrikra commented on #692
@nitaliano Can you confirm that this is happening?

[2017-10-30 11:14] YKK101 opened #693 "[v6] Can I set content inset of map viewport?"
I have some component absolute in front of mapview. and I want to add some top padding to mapview to move the compass icon down, but the props **_contentInsets_** is removed.
Can you suggest me other way to do something like this

[2017-10-30 12:10] kristfal opened #694 "[v6] Add compassEnabled prop on MapboxGL.MapView"
As a starting point for customization, it should be possible to hide and show the compass.

Moving forward, we probably also should be able to move the compass / assign our own PNG for for the compass icon, but I'd consider that out of the scope for a V1 release.

[2017-10-30 13:23] StasDoskalenko commented on #676
Also tried with v6 version - same result. :(

https://monosnap.com/file/bdnLGnp96S5Brqq0gNoXGuNoyKMgKg

[2017-10-30 15:32] kristfal opened #695 "[v6] React native Warnings"
After installing `react-native-mapbox-gl`, I'm getting the following warning on iOS app launch:

`Warning: Base module "View" does not exist`

and

[code]

Both warnings show multiple times on initial app startup. In the case of the base modul warning, the error is thrown in `MapView.js:19`

[code]

Besides these error messages, things work well.

[2017-10-30 15:56] nitaliano commented on #676
I'll look into getting the 5.2.0 beta to work later this week. I believe that the gl-core team added async rendering for Android which improves performance so now assumptions that have been made about callback timing will for sure be off. I will let you know what I find out

[2017-10-30 16:25] nitaliano commented on #693
`contentInsets` will be added to the `MapView` I plan on doing a bulk update this week adding some more props to the MapView. If there are any other props that you would like to see let me know.

[2017-10-30 17:01] StasDoskalenko commented on #676
@nitaliano awesome, thanks!
I'll try to fight it too. If I find something - I'll let you know

[2017-10-30 22:40] nitaliano commented on #676
Just wanted to update this, I'm seeing the same exact issue as you and only map change events 0, 3 are being fired.

I think what I'm going to do next is create an Android app without RN and see if I can repo it at all.

[2017-10-30 22:56] nitaliano commented on #676
I was actually able to get everything working again by adding a `OnAttachStateChangeListener` and listening for when the react view attaches to the window, from there I call `setStyleUrl` and `reflow` and all the examples in `v6` seem to start working again.

[code]

[2017-10-30 23:35] nitaliano commented on #693
I've added support for `contentInset` in https://github.com/mapbox/react-native-mapbox-gl/pull/696

[2017-10-30 23:35] #693 closed, assigned to nobody

[2017-10-30 23:36] nitaliano commented on #694
I've added support for `compassEnabled` in https://github.com/mapbox/react-native-mapbox-gl/pull/696 and I've added being able to add a custom compass icon to our backlog

[2017-10-30 23:36] #694 closed, assigned to nobody

[2017-10-31 00:47] nitaliano commented on #691
I've added support for this on https://github.com/mapbox/react-native-mapbox-gl/pull/696

[2017-10-31 00:47] #691 closed, assigned to nobody

[2017-10-31 08:56] StasDoskalenko commented on #676
@nitaliano Thanks, man!!! I get it to work with 5.2.3 alpha.  Modified setupMapView() function and added relayout method from v6.

____
And I just want to say. That is in 5.2.3 was a good implementation for a big amount of markers - all markers were passed via the state. So it's more performant that every marker as a single view. 1 bridge instance vs thousands. Just curious do you plan to implemen

[2017-10-31 11:18] kristfal opened #697 "[v6] Add user initiated flag to regionDidChange callback"
In order to keep redux state in sync with map camera state and without risking recursive loops, we'll need to know if it is a user initiated or programmatic event that triggered the region change.

Similar [GL-JS issue](https://github.com/mapbox/mapbox-gl-js/issues/1975), see [this blog post](https://blog.mapbox.com/mapbox-gl-js-in-a-reactive-application-e08eecf0221b) for a bit of backstory.

Addi

[2017-10-31 12:21] kristfal opened #698 "[v6] RegionDidChange behaves differently on iOS and Android"
On iOS, regionDidChange fire after the user interaction is complete. On Android, regionDidChange fire for each frame during the user interaction gesture.

[2017-10-31 12:39] #676 closed, assigned to nobody

[2017-10-31 13:09] kristfal opened #699 "[v6] Differences in iOS and Android userLocation behavior"
Hey,

noticed a couple of differences in iOS and Android user location behavior:

1) prop showUserLocation defaults to `true` for iOS and `false` for Android. If not set, iOS will show the location marker while Android will not. When explicitly set, both platforms behave the same.

2) While toggling between track states, iOS will re-center the map at the user's location while Android does not. And

[2017-10-31 14:46] Jose4gg opened #700 "Is possible take a ScreenShot of the Map?"
Reference:
https://github.com/airbnb/react-native-maps#take-snapshot-of-map

[2017-10-31 15:28] dorthwein commented on #700
+1 - or maybe render the map as a static PNG so that we can use another library to take the screen capture.  Right now https://github.com/gre/react-native-view-shot doesn't seem to capture the GL view on Android ;(

[2017-10-31 15:52] kristfal opened #701 "[v6] Align feature query API with js and native SDKs"
Hey,

this SDK returns no features when the third argument in `queryRenderedFeaturesInRect` and `queryRenderedFeaturesAtPoint` is empty. The [JS SDK](https://www.mapbox.com/mapbox-gl-js/api/#map#queryrenderedfeatures) and [native SDKs](https://www.mapbox.com/ios-sdk/api/3.6.4/Classes/MGLMapView.html#/c:objc(cs)MGLMapView(im)visibleFeaturesAtPoint:) returns all layers when no layers are defined in

[2017-10-31 16:13] nitaliano commented on #701
Yup, agreed will post back once I PR is in

[2017-10-31 16:20] nitaliano commented on #700
It's currently not implemented in the react-native SDK. There is support for this in the Android SDK and the iOS SDK is adding support for this in it's next release which should be out within a month.  Once that's released I'll work on adding this feature to the RN SDK

[2017-10-31 16:20] #700 closed, assigned to nobody

[2017-10-31 16:26] dorthwein commented on #700
Thanks @nitaliano - I know y'all are swamped - any thoughts on time frame by chance?

[2017-10-31 16:26] nitaliano commented on #699
1. I actually fixed this yesterday I was using a `boolean` in Android when I should have been using a `Boolean` so I can tell if the user set the value or not.
2/3. Will look into the differences, both the iOS and Android camera behavior pretty different so hopefully we can chip away at normalizing them.

[2017-10-31 16:28] nitaliano commented on #698
The Android SDK fires these for every region change and the iOS SDK fires these once the camera has become idle. I have thought about implementing this behavior to the Android side, just as long if it's not a sloppy and brittle ideally we want all of these events to fire the same amount of times on both platforms.

[2017-10-31 16:30] nitaliano commented on #697
This is a great idea! I will look into getting this in the SDK

[2017-10-31 16:34] nitaliano commented on #676
@StasDoskalenko we do not. Annotation view are being phased and we should be using a `SymbolLayer` for that, it's infinitely more performant than Annotation views will ever be and they don't shake when you move the map.

[2017-10-31 17:41] kristfal commented on #698
That makes totally sense. I remember we experienced a similar problem with gl-js a while back ago (touch events fired move-end events on each animation frame, whiledrag events fired at end of theanimation). Our temporary workaround was to debounce the callback to something like 10 animation frames. It proved sufficiently stable until a proper fix was done on the lib side.

While this issue is slig

[2017-10-31 21:20] nitaliano commented on #698
@kristfal I plan on merging the big `v6` PR into master at the end of this week and once it's in master start sending as many PRs as you would like.

[2017-10-31 21:22] #515 closed, assigned to nobody

[2017-10-31 21:29] nitaliano commented on #631
This is possible in v6 with a `LineLayer` and `queryRenderedFeaturesAtPoint`.

[2017-10-31 21:29] #631 closed, assigned to nobody

[2017-11-01 00:24] jperelli opened #702 "EventPluginHub: More than one plugin attempted to publish the same registration name, `onLongPress`."
Hi, what colud this be? It started to appear when I added the react-native-mapbox-gl component to my app

I'm using latest npm release, with react-native 0.48.2

![image](https://user-images.githubusercontent.com/1418446/32254762-d393e2aa-be81-11e7-9e4b-4066748f8be9.png)

[code]

[2017-11-01 00:26] nitaliano commented on #702
what version of the repo are you using?

[2017-11-01 00:43] jperelli commented on #702
I installed it yesterday from npm. I see now that there are two packages, @mapbox/react-native-mapbox-gl and react-native-mapbox-gl. I installed react-native-mapbox-gl==5.2.0

[2017-11-01 09:07] henrikra commented on #697
This is on very high priority for us too! 🌿

[2017-11-01 12:02] hannta commented on #692
I added some more findings on v6 to issue itself. So the issue is still there in v6.

[2017-11-01 13:47] kristfal opened #703 "[v6] Style InterpolationMode with non-integer keys crashes example app"
To reproduce with YoYo example, change the `layerStyles` to include a non-integer key:
[code]

[2017-11-01 14:17] kristfal opened #704 "[v6] LineLayer runtime style crash if layer is already defined in base style"
If a `LineLayer` is already defined in a base style, runtime styles attempting to override the base style crashes the application.

See [this fork](https://github.com/kristfal/react-native-mapbox-gl/blob/v6/example/src/components/CustomVectorSourceIssue.js) for code reproduction where `osmCloastlineBlur` layer is already defined in base source.

[2017-11-01 16:35] nitaliano commented on #692
@hannta I know what's happening we just need to hook into the Android Activities lifecycle events and we'll have access to `onResume` `onPause` and `onDestroy`. I'll have a PR out this week for v6 to address it

[2017-11-01 16:41] nitaliano commented on #702
Try the one scoped under `@mapbox/react-native-mapbox-gl`

[2017-11-01 17:28] nitaliano commented on #703
@kristfal I'm unable to reproduce this on the `v6` branch. I merged in a PR with some bugfixes yesterday so maybe that fixed the issue you were seeing. Would you be able to test this against the newest `v6`?

I also tested this on
* Android API 26 emulator
* iOS iPhone 7 11.1 simulator

[2017-11-01 18:52] nitaliano commented on #704
@kristfal a few things are happening here. For some reason that source you are providing is named `root` instead of `composite`, so when the native code is looking up source it cannot find it.

I've added some code locally to check if the source exists and just reuse it and your example would work, but you would also need to add an id to the VectorSource

[code]

I think it's time for me to start

[2017-11-01 19:28] nitaliano commented on #704
I added the updates needed in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/705

[2017-11-01 20:21] hannta commented on #692
Ok, thanks @nitaliano Cant wait to test this out!

[2017-11-02 10:08] kristfal commented on #703
Hey,

This one is strange. I'm not crashing in the simulator, but on-device (iPhone 5S iOS 11.0.3) this is still crashing on the `v6-improvements` branch.

This also seem to be affecting `Categorical` interpolators as well, also in simulators. The iPhone X 11.0 simulator is crashing on the following style:

[code]

This doesn't crash:

[code]

Also noticed that the Categorical interpolator doesn't

[2017-11-02 10:09] kristfal commented on #704
Thanks for the feedback. Confirming that it now works with latest PR.

[2017-11-02 10:09] #704 closed, assigned to nobody

[2017-11-02 11:25] kristfal opened #706 "[v6] Filtering issues"
Hey,

filtering seems to be off in a few cases:

1. Filters works on `SymbolLayers`, but they don't seem to work on `FillLayer` nor `LineLayer`
2. Filters doesn't work when comparing floats or integers.
3. (After fix mentioned in next post): Filters with upper and lower range bound crashes on iOS. Ex:

[code]

4. Filters are not re-evaluated at runtime or reapplied on hot reloads. The MapView must

[2017-11-02 12:24] kristfal commented on #706
Fix for 1: The filter property was not exported in [type]LayerManager.m for `Fill`, `Line`, `Circle` and `Extrusion` layers. Adding it resolves the issue. Haven't looked at Android yet.

Fix for 2: Recast filters to floatValue whenever possible, or retain type defined in JS side if possible. The filters are currently only evaluated as strings because the entire filter is cast to `NSString` before

[2017-11-02 14:47] kristfal opened #707 "[v6] PropType validation warning on textFont arrays"
When using the following declaration:

[code]
The PropType validation errors for textFont. For some reason, the following propType validator makes the above example pass:

[code]

Idk if this is a PropTypes bug or if the value is transformed before it is validated.

[2017-11-02 20:05] #702 closed, assigned to nobody

[2017-11-02 22:53] nitaliano commented on #633
I just added a PR that has an example for how to animate a circle layer along a line layer using the Animated API https://github.com/mapbox/react-native-mapbox-gl/pull/705

[2017-11-02 23:17] nitaliano commented on #687
Updated to use only npm in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/705. Another npm release will be going out with that tomorrow.

[2017-11-02 23:17] #687 closed, assigned to nobody

[2017-11-03 00:49] nitaliano commented on #706
Thanks for looking into this and figuring out what's happening.

2. There's two implementations that I can think of.

We can send a json blob that describes what each elements in the array is
[code]
or on the native side when we assemble the array we can try to parse the string values to numbers which is a dumber version, but might be all we need.

4. We can override the the setters and update the

[2017-11-03 08:23] kristfal commented on #706
Hey,

reg'd 2, I think the JSON blob approach is the right way to go, as the naive parser wouldn't be able to differentiate between the following filters: `['==', 'prop', 1]` and `['==', 'prop', '1']`.

The JSON blob approach is probably also needed to make interpolate functions behave correctly as well.

[2017-11-03 09:53] Taakn opened #708 "initialZoomLevel does not work on Android for 5.2.2"
Title says it all. Also zooming in with two fingers zooms from top left corner instead of zooming in from the middle point between the fingers (bug may appear or not based on initialZoomLevel)

[2017-11-03 12:46] kristfal opened #709 "[v6] SymbolLayer text style issues"
Hey,

A couple of issues with text in `SymbolLayer`:

1) `textTranslate` crashes on iOS when assigning an array or camera function with stops.
2) `textAnchor` is missing valid anchor values in `StyleSheet`
3) `textTransform` is missing valid transform values in `StyleSheet`
4) `textJustify` is missing valid justify values in `StyleSheet`

**textTranslate**
The following style declarations crashes

[2017-11-03 16:26] nitaliano commented on #706
There are JSON blobs for anything that is passed into the StyleSheet checkout https://github.com/mapbox/react-native-mapbox-gl/blob/v6-improvements/docs/StyleSheet.md#native-module-json-blob-format

one of the problems is in JS all keys in objects are converted to string so if I write `{ 1: 'test' }` 1 will always be a string, so the assumption that I've been going with is if the key is a parsable

[2017-11-03 20:24] nitaliano commented on #695
Warnings have been addressed in https://github.com/mapbox/react-native-mapbox-gl/pull/705

[2017-11-03 21:14] nitaliano commented on #709
@kristfal the enum values are under `MapboxGL` so for example `MapboxGL.TextAnchor.Right`. You can see all the constants that are exported up here https://github.com/mapbox/react-native-mapbox-gl/blob/v6/ios/RCTMGL/MGLModule.m#L28. I'm going to take a look the textTranslate crash.

Update:
I see what the problem is this happened with `iconOffset` and `textOffset`, where I'm passing in an `NSArray`

[2017-11-03 22:03] nitaliano commented on #709
I have this working locally, now as for the definition of translations in this SDK do people have any strong opions on `translate: {x : number, y: number}` vs `translate: [number, number]`?

[2017-11-03 22:06] nitaliano commented on #707
I believe that prop type passes because `(typeof [] === 'object') === true` and since `(typeof [] === 'array) === false` we'll have to switch that proptype to maybe be an instance of

[2017-11-04 17:05] henrikra commented on #709
First option 👍

[2017-11-06 08:19] dungnguyen10989 opened #710 "Project with path ':@mapbox_react-native-mapbox-gl' could not be found in project ':app'."
I've init a new project, after run 'npm install --save @mapbox/react-native-mapbox-gl@5.2.3-alpha1', in index.js :  ' import MapBox from '@mapbox/react-native-mapbox-gl ' and run project after link library, but always received the same error : unable to resolve module `@mapbox/react-native-mapbox-gl`, module does not exist in the module %projectname% or in these directories.
![screenshot from 2017

[2017-11-06 12:48] hannta opened #711 "Custom annotations not always visible on android"
- I have two semi complex custom annotations on map.
- I zoom map to markers using `setVisibleCoordinateBounds`
- If markers are far from each others (= map is zoomed out) markers are not always visible when the animation ends.
- If I touch the map (move it a bit) markers comes to visible.

Im able to reproduce this on `5.2.3-alpha1` and `6.0.0-beta1`

[2017-11-06 16:56] nitaliano commented on #710
@dungnguyen10989 Hi I would recommend you use our `v6` version, it's going to be merged into master this week.  https://github.com/mapbox/react-native-mapbox-gl/tree/v6

[2017-11-06 17:02] dungnguyen10989 commented on #710
@nitaliano : thanks for your suggestion, i will try again with v6 and feedback later

[2017-11-06 20:31] karlguillotte commented on #668
@nitaliano I have been testing with the `images` property and it working well! Thanks.

[2017-11-06 21:32] nitaliano commented on #695
Going to close this out feel free to reopen if that PR does not fix the issue. I'm merging it in today.

[2017-11-06 21:32] #695 closed, assigned to nobody

[2017-11-06 21:37] nitaliano commented on #709
@kristfal the fix for `textTranslate` is in this PR https://github.com/mapbox/react-native-mapbox-gl/pull/705. The enums values are under `MapboxGL` instead of `MapboxGL.StyleSheet` and I think we're going to keep the translate definition as `{ x: number, y: number }`. Going to close this out, feel free to reopen or continue discussions in here.

[2017-11-06 21:37] #709 closed, assigned to nobody

[2017-11-06 21:37] nitaliano commented on #707
The fix for this is in https://github.com/mapbox/react-native-mapbox-gl/pull/705 going to close this out.

[2017-11-06 21:37] #707 closed, assigned to nobody

[2017-11-06 22:36] nitaliano commented on #711
I'll look into it. Most likely needs a `reflow` method call once the camera goes idle.

@hannta I'm curious is this something you cannot accomplish with sources and layers?

[2017-11-06 23:34] nitaliano commented on #692
I added the lifecycle events to this PR https://github.com/mapbox/react-native-mapbox-gl/pull/705.

[2017-11-07 00:17] #521 closed, assigned to nobody

[2017-11-07 00:17] nitaliano commented on #523
Closing this out as we just merged in our `v6` rewrite.

[2017-11-07 00:17] #523 closed, assigned to nobody

[2017-11-07 00:18] #524 closed, assigned to nobody

[2017-11-07 00:19] nitaliano commented on #543
On our `v6` rewrite there is a property called `heading` that you can set

[2017-11-07 00:19] #543 closed, assigned to nobody

[2017-11-07 00:20] nitaliano commented on #526
Closing this out as we just merged in our `v6` rewrite. If you see this issue there feel free to reopen

[2017-11-07 00:20] #526 closed, assigned to nobody

[2017-11-07 00:21] nitaliano commented on #551
Closing this out as we just merged in our `v6` rewrite. If this issue is happening there feel free to reopen.

[2017-11-07 00:21] #551 closed, assigned to nobody

[2017-11-07 00:22] nitaliano commented on #561
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:22] #561 closed, assigned to nobody

[2017-11-07 00:22] #562 closed, assigned to nobody

[2017-11-07 00:22] #568 closed, assigned to nobody

[2017-11-07 00:22] nitaliano commented on #570
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:22] #570 closed, assigned to nobody

[2017-11-07 00:23] nitaliano commented on #572
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:23] #572 closed, assigned to nobody

[2017-11-07 00:24] nitaliano commented on #574
In `v6` bounds are returned in region change event

[2017-11-07 00:24] #574 closed, assigned to nobody

[2017-11-07 00:25] nitaliano commented on #575
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen. I would also recommend using sources and layers as annotation views are being phased out.

[2017-11-07 00:25] #575 closed, assigned to nobody

[2017-11-07 00:25] #576 closed, assigned to nobody

[2017-11-07 00:26] nitaliano commented on #580
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:26] #580 closed, assigned to nobody

[2017-11-07 00:26] nitaliano commented on #586
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:26] #586 closed, assigned to nobody

[2017-11-07 00:27] #593 closed, assigned to nobody

[2017-11-07 00:27] nitaliano commented on #602
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:27] #602 closed, assigned to nobody

[2017-11-07 00:29] nitaliano commented on #620
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:29] #620 closed, assigned to nobody

[2017-11-07 00:30] #611 closed, assigned to nobody

[2017-11-07 00:30] nitaliano commented on #614
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen. I would recommend using sources and layers and annotation views are being phased out.

[2017-11-07 00:30] #614 closed, assigned to nobody

[2017-11-07 00:31] nitaliano commented on #629
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:31] #629 closed, assigned to nobody

[2017-11-07 00:31] nitaliano commented on #632
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:31] #632 closed, assigned to nobody

[2017-11-07 00:31] #633 closed, assigned to nobody

[2017-11-07 00:31] nitaliano commented on #640
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:31] #640 closed, assigned to nobody

[2017-11-07 00:32] #638 closed, assigned to nobody

[2017-11-07 00:32] nitaliano commented on #641
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:32] #641 closed, assigned to nobody

[2017-11-07 00:33] nitaliano commented on #642
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen. If you notice this on release builds feel free to reopen

[2017-11-07 00:33] #642 closed, assigned to nobody

[2017-11-07 00:33] nitaliano commented on #647
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:33] #647 closed, assigned to nobody

[2017-11-07 00:34] nitaliano commented on #661
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:34] #661 closed, assigned to nobody

[2017-11-07 00:34] #655 closed, assigned to nobody

[2017-11-07 00:35] nitaliano commented on #690
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:35] #690 closed, assigned to nobody

[2017-11-07 00:35] nitaliano commented on #708
Closing this out as we just merged in our `v6` rewrite. If this exists in the new version feel free to reopen.

[2017-11-07 00:35] #708 closed, assigned to nobody

[2017-11-07 03:31] butchmarshall opened #713 "[v6] Update Android installation docs"
For anyone else also hitting this build issue it might be useful to include this in the installation docs:

First I was getting:

`/[xxx]/node_modules/@mapbox/react-native-mapbox-gl/android/rctmgl/build/intermediates/exploded-aar/com.mapbox.mapboxsdk/mapbox-android-sdk/5.1.4/res/values/values.xml:2 : Error retrieving parent for item: No resource found that matches the given name 'Theme.AppCompat.L

[2017-11-07 07:03] wangchen9074 opened #714 "If I use react-map-gl ,could I import mapbox-gl"
import MapGL, { SVGOverlay }  from 'react-map-gl';
import mapboxgl from 'mapbox-gl';
I want to know  the MapGL and the mapboxgl   are the same object ?

[2017-11-07 17:24] nitaliano commented on #714
@Wwangchen I believe you have the wrong repo this is the react native one. If you're asking if react-map-gl and react-native-mapbox-gl have the same interface they do not.

[2017-11-07 17:24] #714 closed, assigned to nobody

[2017-11-07 17:49] josenaves opened #715 "[v6] Getting ANR when downloading offline map pack (Android)"
Hey guys ! I'm really excited that v6 has came to life ! Congratulations.

I have started migrating my app to this new version. However, when I call MapboxGL.offlineManager.createPack, the app freezes and I got an ANR.

I have TelemetryService  on my AndroidMaifest.xml (inside applicatoin tag)

<service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

Versions:
    "@mapbox/geo-v

[2017-11-07 18:00] josenaves commented on #606
@aferrerallu the issue is not happening anymore.
I'm not using the same tablet (LGV490) since it has a non-stable ROM (LineageOS)
My app uses Mapbox version 5.2.0 and it is working good on Android Emulator and other devices (Android 7.x).

[2017-11-07 18:01] #606 closed, assigned to nobody

[2017-11-07 18:34] josenaves commented on #715
Well, it seems that I forgot to ask for permission on componentWillMount().
I also removed TelemetryService from AndroidManifest.xml
My bad.

[code]

Closing this.

[2017-11-07 18:34] #715 closed, assigned to nobody

[2017-11-07 18:43] creimers opened #716 "[v6] iOS 11.1 - Map stays blank"
**setup**
react-native 0.50.1
react 16.0.0
react-native-mapbox-gl 6.0.0-beta2

**problem**
Installation, setup and build following the docs went as expected and without errors. However, the MapView does not display any tiles. It just stays blank. All I see is the Mapbox logo and the little info icon. No error logs anywhere. Any ideas?

**code**
[code]

**screenshot**
<img width="392" alt="bildschi

[2017-11-07 18:55] nitaliano commented on #716
@creimers what are the styles on the parent container?

[2017-11-07 18:56] creimers commented on #716
[code]

[2017-11-07 19:00] nitaliano commented on #716
did you set your access token https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/App.js#L130?

[2017-11-07 19:05] creimers commented on #716
No. Where do I set it?

[2017-11-07 19:08] creimers commented on #716
Like [this](https://github.com/mapbox/react-native-mapbox-gl/blob/bf1ce26495dff3234c9266fb8964b4ad2d9f1543/example/src/App.js#L137) probably, isn't it?

[2017-11-07 19:09] nitaliano commented on #716
Yup, haha I just edited my comment with the link, and on Android if you're going to do anything location based you need to make sure you request for location permissions. I like to set it in my Apps componentWillMount normally, so I never have to worry about it again.

[2017-11-07 20:09] kristfal commented on #706
Hey @nitaliano

That is a great idea! I think an array based API aligned with the [mapbox style function specification](https://www.mapbox.com/mapbox-gl-js/style-spec/#other-function) would probably cause the least friction among developers.

A react-native API equivalent would probably be along the lines of:

[code]

where each stop is identified as a `[stop, value]` array. What do you think?

On

[2017-11-07 20:55] creimers commented on #716
I can confirm that it was indeed the missing access token that led to the described behaviour. Thank you!

[2017-11-07 20:55] #716 closed, assigned to nobody

[2017-11-08 00:05] nitaliano commented on #706
I really like that! The API will move towards what you posted.

[code]

Once we update the API to be array based, we can look into being able to modify the multipliers for the interpolation modes.

[2017-11-08 01:30] 1ec5 opened #717 "Inconsistent layer property spelling"
[LineLayer](https://github.com/mapbox/react-native-mapbox-gl/blob/543e9cca1e4e718378dcf5ea8af2fe016ed6fd32/docs/LineLayer.md) and similar documentation refers to layer properties in camelCase in the “Name” column but in kebab-case in the “Disabled By” column. Which spelling is correct in JavaScript?

/cc @nitaliano

[2017-11-08 03:14] butchmarshall opened #718 "[v6] Android example application does not build"
Everything installs and npm start works, this is under Ubuntu 16.04

When trying to run-android I get:

react-native run-android
Scanning folders for symlinks in [...]/react-native-mapbox-gl/example/node_modules (8ms)
Android project not found. Maybe run react-native android first?

git clone https://github.com/mapbox/react-native-mapbox-gl.git
Cloning into 'react-native-mapbox-gl'...
remote: Coun

[2017-11-08 04:27] nitaliano commented on #718
Try opening it in Android Studio first to generate your gradle files.

[2017-11-08 13:45] idomaz00 commented on #341
hi @tmcw I have the same issue in 5.2.2 version on Android, but it worked perfectly on version 5.2.0. here is my code:
`annotationImage: {
          source : { uri: 'pin' },
          height: 25,
          width: 15,
 },`

[2017-11-08 19:15] nitaliano commented on #717
@1ec5 great catch! Everything should be camel case.

[2017-11-08 21:33] nitaliano commented on #717
Fixed in https://github.com/mapbox/react-native-mapbox-gl/pull/720

[2017-11-08 21:44] hannta commented on #711
@nitaliano My custom annotations are basically `PointAnnotation`'s with custom views insides. They have also click listeners etc. I was in assumption that for these kind of annotations you should use `PointAnnotation` component?

[2017-11-08 22:47] #717 closed, assigned to nobody

[2017-11-09 00:02] #710 closed, assigned to nobody

[2017-11-09 00:03] nitaliano commented on #711
It depends on if you can recreate the view using layers, for most cases I don't actually need a View and the performance increase gains are well worth it.

[2017-11-09 13:35] josenaves commented on #718
@butchmarshall , in my case, I created the accesstoken file and had to change gradlew file to turn it an executable.
Then, I had to open the android project on Android Studio. Several updates and fixes before,

I also changed my project build.gradle file to have this:

        classpath 'com.android.tools.build:gradle:2.2.3'

and gradle-wrapper.properties to be like this:

distributionUrl=https\:/

[2017-11-09 13:45] josenaves commented on #718
@butchmarshall here is a gist

https://gist.github.com/josenaves/572bd26ceea80974ca388c9de4d4f93c

[2017-11-09 13:55] jliebrand opened #722 "[v6] Silly question: which native sdk is used?"
Hi there,

I was going to see which version of android native sdk is used and see if I could update it to test this gestures bug:
https://github.com/mapbox/mapbox-gl-native/issues/8403#issuecomment-343130357

But whereas I kinda expected there to be a dependency on mapbox-gl-native in the package.json, all I can see is references to installing the iOS sdk?  Where is the Android SDK being pulled in

[2017-11-09 14:28] jliebrand opened #723 "[v6] Setting pitch *and* centerCoordinate fails"
If I use the following code, it will only set the center coordinate, but not also pitch the camera:
[code]

Looking at the code, it appears it only applies one stop, rather than multiple, so I tried to be clever and do them sequentially like this:
[code]
But that only sets the pitch, not the center coord. And if you swap the stops around, it only sets the center coord and not the pitch...

[2017-11-09 14:29] jliebrand opened #724 "[v6] Pitch seems to work in iOS but not on Android"
I use the following bit of code:
[code]

Which seems to work ok on iOS, but on android it does not pitch the camera

[2017-11-09 14:30] jliebrand opened #725 "[v6] Pitch with a float heading crashes on ios"
The following piece of code caused a crash on iOS (sorry didn't get the callstack but thought I'd raise it anyway). Will add stack traces etc if i see this again (although right now, i'm just rounding the heading to a number to work around this issue)

[code]

[2017-11-09 16:44] hannta commented on #711
I think in my case it is much easier to use views and as I have only two annotations, there should not be performance issues.

@nitaliano did you happened to have time to check, does the `reflow` fix the issue in sdk side?

[2017-11-09 17:51] mlandauer opened #726 "[v6] Tapping on custom callout also selects point annotation hidden below it"
I have a custom callout (show below) which has a `TouchableHighlight` in it.

![image](https://user-images.githubusercontent.com/2221/32620396-c495562e-c5d1-11e7-9db6-0aa5bcb7fec9.png)

When the callout is tapped the callback for `TouchableHighlight` is called as expected. That's all good.

However, if there is a point annotation immediately underneath the callout where I tapped that will get sele

[2017-11-09 17:57] nitaliano commented on #722
Gradle pulls it in. We are on the latests stable Android release 5.1.4 https://github.com/mapbox/react-native-mapbox-gl/blob/master/android/rctmgl/build.gradle#L31

[2017-11-09 17:57] #722 closed, assigned to nobody

[2017-11-09 18:07] nitaliano commented on #726
Would you mind posting a video? I'm not have much luck getting the touch event to go through the callout onto the map.

[2017-11-09 18:32] nitaliano commented on #726
Actually, I am able to reproduce this it's wasn't happening on Android but I just tried iOS and it's happening

[2017-11-09 18:39] mlandauer commented on #726
@nitaliano ah sorry yes I should have said this is on iOS. I take it a video isn't necessary anymore as you've reproduced the problem.

[2017-11-09 18:52] nitaliano commented on #726
I fixed this locally, will be out in the next release early next week.

[2017-11-09 18:54] mlandauer commented on #726
@nitaliano so awesome. thank you!

[2017-11-09 18:55] nitaliano commented on #726
Thanks for reporting it! I'll comment back here when I send out the PR

[2017-11-09 18:58] josenaves commented on #725
@jliebrand The documentation about setCamera is wrong.

You should use something like that:

[code]

[2017-11-09 18:58] nitaliano commented on #711
Yes, the reflow does help but there still seem to be some cases in the native SDK that will keep them invisible until you move the map(mostly with user's zooming out manually). I'll have the the reflows fix in the next release early next week.

[2017-11-09 19:01] josenaves opened #727 "[v6] setCamera documentation is wrong"
The documentation about setCamera is wrong.

We always need to define a config object that contains a **stops** _property array_

[code]

[2017-11-09 19:23] mlandauer opened #728 "[v6] Ordering of rendering of annotations different than v5 - causes pins to look like they are floating"
As you can see the order in which the images are rendered is different in v5 and v6. v5 shows correct behaviour, I think, where the images are rendered from the top of the screen down to the bottom of the screen so that lower images are always rendered over the top of images that are higher up.

With v5 of the library:
![image](https://user-images.githubusercontent.com/2221/32624839-90f61bb6-c5de-

[2017-11-09 19:38] mlandauer opened #729 "[v6] Out-of-view annotations can get stuck in the top-left-hand corner of the map"
See this little movie I made that demonstrates the problem. Look in the top left hand corner of the map and see what happens as the map is zoomed out and back in.

https://youtu.be/OHZfSpskuLU

As you can see there are some annotations which end up stuck in the top left hander corner. As you zoom and all the annotations come into view you end up with nothing stuck in the top left hand corner. The

[2017-11-09 23:28] nitaliano commented on #701
I just tested this out it seems Android is doing the right thing and returning all features, and on iOS I'm passing in an empty `NSSet` which is for some reason making the call return no features if I switch it to `nil` then it will work as expected. The fix for this will be in `6.0.1`

[2017-11-09 23:54] nitaliano commented on #726
PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/730

[2017-11-10 00:30] nitaliano commented on #728
@mlandauer have you looked into using a `ShapeSource` with a `SymbolLayer`?

[2017-11-10 05:53] mlandauer commented on #728
@nitaliano For every pin I have a callout that gets displayed with more information that's clickable as in #726 so I don't think `SymbolLayer` is going to work for me. Is that right?

[2017-11-10 09:24] jliebrand commented on #725
Both APIs seem to work. And as it happens, I can not reproduce the crash now. So I'll close this and re-open a new bug if/when I ever see the crash again

[2017-11-10 09:24] #725 closed, assigned to nobody

[2017-11-10 17:20] nitaliano commented on #727
There is a fork in the code that checks if there are stops https://github.com/mapbox/react-native-mapbox-gl/blob/master/javascript/components/MapView.js#L458 so you can also use an object.

[2017-11-10 17:20] #727 closed, assigned to nobody

[2017-11-10 17:21] #726 closed, assigned to nobody

[2017-11-10 17:45] nitaliano commented on #701
Fixed in https://github.com/mapbox/react-native-mapbox-gl/pull/731

[2017-11-10 19:57] nitaliano commented on #728
Annotations are being phased out in favor of sources and layers. Yes, callouts wouldn't work with it but you could always just slide another view on. I believe the Android SDK has already deprecated MarkerViews.

This issue is fixed in https://github.com/mapbox/react-native-mapbox-gl/pull/732

[2017-11-10 19:59] nitaliano opened #733 "Add CocoaPods Support"
We want to support CocoaPods, so we need to add a working podspec to this repo.

[2017-11-10 22:19] nitaliano commented on #729
@mlandauer I haven't been able to reproduce this, would you be able to provide some code?

[2017-11-10 22:29] mlandauer opened #735 "Native exception on calling `MapboxGL.offlineManager.getPacks()`"
In my application I'm calling
[code]
in a callback from `MapboxGL.MapView` `onDidFinishLoadingMap`.

I get the exception:
"unrecognized selector sent to instance 0x60400286bd00' was thrown while invoking getPacks on target MGLOfflineModule"

And the stacktrace:
[code]

[2017-11-10 22:34] hernanmateo opened #736 "[v6] Application crashes when changing map style in a map with shape objects"
Mapbox version: 6.0.0
React Native version: 0.49.3

I'm trying to switch between map styles in a Mapbox.MapView with a Mapbox.ShapeSource object with custom styles:

[code]
When I try to change the mapType, the application crashes in RCTMGLStyle.m line 1052. In the case that I remove the shape object styles (it does not matter if it is a line or a circle, etc ...) the map changes its style without

[2017-11-10 22:37] nitaliano commented on #711
@hannta let me know if this help https://github.com/mapbox/react-native-mapbox-gl/pull/737

[2017-11-10 23:02] mlandauer commented on #729
@nitaliano Here you go: https://github.com/mlandauer/thats-camping-react-native/blob/mapbox-v6/src/components/CampsiteMap.tsx

[2017-11-11 00:10] nitaliano commented on #736
I have this working locally now, the fix will be in next weeks release

[2017-11-11 00:13] #701 closed, assigned to nobody

[2017-11-11 00:13] #728 closed, assigned to nobody

[2017-11-11 00:18] #733 closed, assigned to nobody

[2017-11-11 03:22] smoll opened #739 "[v6] Invalid prop `centerCoordinate` of type `string` supplied to `RCTMGLMapView` even when passing a hardcoded Array"
This happens even if I hardcode the prop to be an array, for example:

[code]

Is it possible that the new code is somehow mutating the type? I noticed that in https://github.com/mapbox/react-native-mapbox-gl/blob/c428b2297170b30a6d4e4d855320d28b48d17262/javascript/components/MapView.js#L590-L613 the array is converted to a JSON string `toJSONString((makePoint(this.props.centerCoordinate)))`

No o

[2017-11-11 03:30] smoll commented on #739
Same error when I pass in a coordinate Array to the `PointAnnotation` component:

[code]

[2017-11-11 11:06] hannta commented on #711
Thanks @nitaliano! Can you make (beta?) release with that pr #737?

[2017-11-11 16:12] hernanmateo opened #740 "[v6] setDirection() method?"
Are you planning to add the old setDirection() method to v6 to control the heading manually? It is possible to control de heading with the setCamera() method?

Thanks

[2017-11-11 19:23] nitaliano commented on #739
What version of react, prop-types, and react-native are you using?

[2017-11-12 01:47] smoll commented on #739
Hi @nitaliano - looking at my `yarn.lock` file they are

[code]

[2017-11-12 10:00] RNMBuser opened #742 "onChangeUserTrackingMode missing from V6"
When moving the map, it is impossible to know that UserTrackingMode has changed.

[2017-11-12 10:03] RNMBuser opened #743 "userLocationVerticalAlignment missing from V6"
Previously, it was possible to state where on the screen the user location will be displayed.

[2017-11-12 10:21] RNMBuser opened #744 "Cannot set heading and centerCoordinate together when animated=true"
Changing centerCoordinate moves the map, so it's more then just "Initial center coordinate on map".  That's great!
Changing heading rotates the map, so it's more then just "Initial heading on map". That's great too!

Changing both does work, and just the coordinates are changed.

[2017-11-12 19:20] stephenheron opened #745 "[v6] zoomEnabled?"
Hi,

It looks as if in V6 the zoomEnabled prop is no longer available.

Is it going to return?

Thanks,
Stephen

[2017-11-12 23:56] geospatialmapmashup opened #746 "mbtiles or geopackage support?"
Can't find any documentation about loading your own data offline.
Does the React Native MapBox GL support Mbtiles and GeoPackage Raster and Vector Datasets?

[2017-11-13 02:11] smoll commented on #739
Just an FYI, I upgraded to RN 0.50.3 using [react-native-git-upgrade](https://facebook.github.io/react-native/docs/upgrading.html#upgrade-based-on-git) and the error disappeared.

My issue is resolved, but I'll leave this open if you want to track the issue w/r/t backwards compatibility, @nitaliano

[2017-11-13 03:00] razor1895 commented on #745
Just set `minZoomLevel `  and `maxZoomLevel ` to the same number should solve your problem

[2017-11-13 05:44] sroze opened #747 "[iOS] Could not install the module via CocoaPods"
I have an issue while installing the module on an application without MapBox installed at the first place, following the [cocoapods guide](https://github.com/mapbox/react-native-mapbox-gl/blob/master/ios/install.md#using-cocoapods).

[code]

I made the installation working by manually updating the file `node_modules/@mapbox/react-native-mapbox-gl/react-native-mapbox-gl.podspec` and applying the fo

[2017-11-13 07:59] olofd opened #748 "v6 Custom images as annotations?"
Hi!
Thanks for updating this library. I hope we will get a stadier stream of updates going forward now.
And that MapBox will start to officially support this package. That would be great! 🎉 .

In < v6 you could have custom images over annotations, is this supported in v6?
If not, I would like to to a feature request!

Thanks

[2017-11-13 10:02] devstepbcn commented on #748
You can put an object image inside a PointAnnotation, like this:

[code]

[2017-11-13 10:30] berkaytheunicorn commented on #700
@dorthwein did you find any workaround?

[2017-11-13 10:46] jliebrand opened #749 "[v6] Android -java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.maps.NativeMapView.terminateContext()' on a null object reference"
I'm seeing this error pop up in our error tracking tools and in the Android Play store pre-launch reports. It's a bit hard to know what the steps are to reproduce, but it looks like something during the app terminating perhaps?

Callstack:
FATAL EXCEPTION: main
Process: com.myapp, PID: 17723
java.lang.RuntimeException: Unable to destroy activity {com.myapp/com.myapp.MainActivity}: java.lang.NullPo

[2017-11-13 12:53] dorthwein commented on #700
Negative - I’ve heard on the street the guy dedicated to react-native with MapBox is pretty much a killer (in a good way) so we opted to disable the feature, move on until he has time to circle back to it which he commented on above I think.

~DFO~

[2017-11-13 14:35] nitaliano commented on #740
Use setCamera here is an example https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/SetBearing.js#L27

[2017-11-13 14:35] #740 closed, assigned to nobody

[2017-11-13 14:57] lucasbento opened #750 "[v6] PointAnnotation not updating on new coordinate"
I'm re-rendering the component every time that I retrieve a new location, everything works well except the `<PointAnnotation />` not updating its position.

This was working on version `< 6`.

[2017-11-13 15:02] lucasbento opened #751 "Add Expo example"
[Expo](expo.io) apps are easier to run (since it can be done through a simple URL and the Expo app) than git cloning the repository and running the current example.

[2017-11-13 15:48] lucasbento commented on #750
I'm using this as follows:

[code]

No mystery there, added some logs and everything is updating fine until `PointAnnotation` calls the native component.

cc @nitaliano, any idea of what's happening?

[2017-11-13 17:16] nitaliano commented on #750
I'm stupidly not updating the coordinate correctly, it will be fixed in our next release `6.0.1` this week.

[2017-11-13 17:22] nitaliano commented on #749
We're calling the native `mapView.onDestroy` in the destroy lifecycle the RN gives us access too. I'll debug this to see if this is something that needs to be fixed here or gl-native.

I'm under the assumption that this method should only get called when the app is being destroyed so users shouldn't be seeing any crashes. Have you seen any crashes while the app is open because of this?

[2017-11-13 17:23] nitaliano commented on #748
Yup what @devstepbcn mentioned is the correct way of handling it.

[2017-11-13 17:23] #748 closed, assigned to nobody

[2017-11-13 17:24] olofd commented on #748
Thanks. Works!

[2017-11-13 17:25] nitaliano commented on #747
@sroze we're not going to fully support pods until `6.0.1` and we merged in a PR last week that added that on master and there is this PR https://github.com/mapbox/react-native-mapbox-gl/pull/741 that will finish off the support.

[2017-11-13 17:25] #747 closed, assigned to nobody

[2017-11-13 17:30] nitaliano commented on #742
It's going to be added to our `6.0.1` release this week

[2017-11-13 17:30] nitaliano commented on #743
It's going to be added to our `6.0.1` release this week.

[2017-11-13 17:30] jliebrand commented on #749
Nope, I think it's only occurring on the pre-launch firebase test lab on our Android Alpha releases...

[2017-11-13 17:33] nitaliano commented on #739
We can make a note in the README about this and close this out once that is merged in.

[2017-11-13 17:40] sroze commented on #747
Coolio. Thanks @nitaliano, I'll follow the PR then.

[2017-11-13 17:59] nitaliano commented on #711
Would you be able to point to that branch in your package.json? I'll do a beta release once I get a few more fixes into master

[2017-11-13 19:02] olofd opened #752 "v6 Custom callout is not rendered on android"
This renders fine on iOS, but renders nothing on android:

[code]

[2017-11-13 19:07] nitaliano commented on #752
What styles are you putting on it? Checkout the styles I use for the default callout https://github.com/mapbox/react-native-mapbox-gl/blob/master/javascript/components/Callout.js#L9

[2017-11-13 19:11] nitaliano commented on #736
@hernanmateo PR is out let me know how it goes - https://github.com/mapbox/react-native-mapbox-gl/pull/753

[2017-11-13 20:04] nitaliano commented on #750
@lucasbento PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/754

[2017-11-14 01:11] olliekav opened #755 "Undefined symbols for architecture x86_64"
[code]

I've just been upgrading to the latest version but I'm hitting this error in Xcode...

[code]

Anyone seen this before? I've re-done the install steps but I can't get rid of it and can't build my project anymore.

[2017-11-14 08:39] lucasbento commented on #750
@nitaliano: great, thanks for replying so fast.

[2017-11-14 08:46] lucasbento commented on #750
@nitaliano: is there a way to make the point transition nicely between a coordinate and the other? Like https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/DriveTheLine.js does, making the point move in the map instead of these flickery changes:

![map](https://user-images.githubusercontent.com/6207220/32770647-ab248ec4-c920-11e7-9dac-8684052e581d.gif)

[2017-11-14 10:49] lucasbento opened #756 "Improve documentation of object/array props"
Currently there's no documentation covering `object`/`array` props, e.g. https://github.com/mapbox/react-native-mapbox-gl/blob/044de272bc116ae892a2aefbe08c1fe47d611074/javascript/components/ShapeSource.js#L41

I know that the `examples` app is full of good examples but having it in the `./docs/*.md` is much better for dev experience.

By the way `v6` looks amazing!

[2017-11-14 10:53] lucasbento opened #757 "ShapeSource + LineLayer doesn't seem to work with `properties` on shape"
The following code works:

[code]

But if you remove the `properties` entry on `shape` the polyline doesn't show up and no error is thrown.

I'm following the same structure stated in https://github.com/mapbox/react-native-mapbox-gl/issues/678#issuecomment-338052779.

[2017-11-14 11:55] josenaves commented on #751
I can be wrong but I don't think it is possible right now. This is because Mapbox has native code.
This can only happens if Expo team adds Mapbox support into their framework.

[2017-11-14 11:57] benvium commented on #755
I get a similar error, and the same problem:

Xcode 8.3.3
[code]

[code]

If I find a solution, I'll post it

[2017-11-14 12:10] benvium commented on #755
@olliekav Hi Ollie.

I found a solution that worked for me - the issue is that the library that's linked has changed name in the new version, and that I had both the old library (libRCTMapboxGL.a) and the new library  (libRCTMGL.a ) in Xcode's 'link binary with libraries' section.

[2017-11-14 12:38] lucasbento commented on #751
@josenaves: I believe you are right.

Perhaps @brentvatne can give us a light on this.

[2017-11-14 12:59] olliekav commented on #755
@benvium I don't have 'libRCTMapboxGL.a' included anymore so it's not that. I'd already moved over to the @mapbox version, these errors have occurred running a fresh yarn install on 6.0.0

[2017-11-14 13:20] olliekav commented on #755
So I nuked the whole thing again this morning, and managed to get it to build. Now running into more issues though...

[code]

[2017-11-14 13:23] lucasbento opened #758 "`fitBounds` much slower than `flyTo`"
This is a screen with `fitBounds` being called on the callback of `onDidFinishLoadingMap`: https://streamable.com/vyz45 and this is the same screen working the same way but with `flyTo`: https://streamable.com/uajyu.

Is there a way to make `fitBounds` faster?

I believe that on version `5.x.x` I used `setVisibleCoordinateBounds` and didn't have this kind of problem.

[2017-11-14 13:24] benvium commented on #755
@olliekav I had that one for a while this morning too - I believe it was helped after quitting Xcode and deleting the ios/build directory

[2017-11-14 14:05] hernanmateo commented on #758
I can confirm that the setVisibleCoordinateBounds (v5) method was much faster than the fitBounds method (v6)

[2017-11-14 14:47] henrikra opened #759 "Warning from peer dependency"
I am getting `warning "@mapbox/react-native-mapbox-gl@6.0.0" has incorrect peer dependency "react@16.0.0-alpha.12".` with Mapbox 6.0.0 and RN 0.49.0 and React 16.0.0-beta.5

[2017-11-14 14:52] henrikra commented on #739
I had this warning too with RN 0.48.4. But after updating to 0.49.0 it warning disappears. I think this can be closed

[2017-11-14 14:55] hernanmateo commented on #758
I don't have the v6 installed yet because still missing some functionalities. But, only to test, you can try to set the mode param from Flight to None (MapboxGL.CameraModes.None) in the fitBounds() method.

Because this isn't parametrized in the fitBounds method you must call this by the setCamera() method or you must change this directly on the mapbox bundle (file react-native-mapbox-gl/javascrip

[2017-11-14 15:03] lucasbento commented on #736
@nitaliano: PR works fine, just approved it! 😄

[2017-11-14 16:27] calintamas commented on #655
@lucasbento were you able to resolve the issue? My app crashes at launch (5.2.3-alpha1, Android 7.0).

[2017-11-14 17:11] nitaliano commented on #758
Have you tried messing with the duration?

[2017-11-14 17:16] nitaliano commented on #757
The GeoJSON spec requires properties on Feature objects, so it's most likely failing validation. You could also try passing in the Geometry object if you don't want it to be a feature

Here is a link to the spec - https://tools.ietf.org/html/rfc7946

[2017-11-14 17:42] #750 closed, assigned to nobody

[2017-11-14 17:42] #739 closed, assigned to nobody

[2017-11-14 17:43] nitaliano commented on #736
Has been merged into master closing out

[2017-11-14 17:43] #736 closed, assigned to nobody

[2017-11-14 17:44] #757 closed, assigned to nobody

[2017-11-14 17:47] olliekav commented on #755
@benvium Well that disappeared after a few restarts, I keep getting...

[code]

 every 5 or so refreshes as well, very odd.

Also a blank map even though I my access key hasn't changed at all...

[code]

[2017-11-14 17:52] nitaliano commented on #750
You need to interpolate between the the current coordinate and the coordinate you are going to update to. The Animated API makes this much easier, we would need to make it an Animated component as well like so https://github.com/mapbox/react-native-mapbox-gl/blob/master/javascript/index.js#L86

I do have future plans to make an `Annotation` component that would move all this logic to the SDK and y

[2017-11-14 17:54] seanlindsey opened #760 "Access to more SDK module methods"
Hello we would like to be able to remove annotations from the map. "removeAnnotations" is a method in MapboxMap but we do not access to it without writing new native code.

[2017-11-14 17:58] nitaliano commented on #760
You just need to remove the Annotation as a child of the MapView and that will remove the annotation.

[2017-11-14 18:05] hernanmateo commented on #758
Yes, I tried this and the rendering is still slow.

[2017-11-14 18:38] nitaliano commented on #692
Closing this out as the fix has been merged if you're still seeing this please reopen

[2017-11-14 18:38] #692 closed, assigned to nobody

[2017-11-14 18:39] #649 closed, assigned to nobody

[2017-11-14 18:39] #685 closed, assigned to nobody

[2017-11-14 18:40] nitaliano commented on #680
I'm closing this out, this is how the native camera behaves when setting the `centerCoordinate` I don't believe there is anything we can do in this repo to change it.

[2017-11-14 18:40] #680 closed, assigned to nobody

[2017-11-14 18:44] nitaliano commented on #758
It's a different SDK call under the hood I can expose the old one and call it `fitCoordinates` and that can take in an array of coordinates instead of a bounding box.

[2017-11-14 18:51] nitaliano commented on #755
Are you sure you don't have any code calling `SetCenterCoordinate` there's nothing in the JS that makes reference to that?

[2017-11-14 18:52] #718 closed, assigned to nobody

[2017-11-14 18:54] olliekav commented on #755
@nitaliano Yes, sorry I'm trying to write all our v5 code into v6 and keep running into changes I need to make! I've switched this out for `moveTo` now.

Is there anywhere to see the breaking changes and what they compare to in the new version, Specifically how things like annotationImage are handled in v6? I'm getting a bit lost how to handle setting a custom marker when adding multiple points. T

[2017-11-14 19:15] nitaliano commented on #755
For annotation images just add an Image tag as a child to the Annotation here is an example https://github.com/mapbox/react-native-mapbox-gl/issues/748#issuecomment-343869915, and if you could I would recommend moving away from AnnotationViews if you're not using Callouts and use a `ShapeSource` with a `SymbolLayer`.

There are no breaking changes log as the whole thing is one giant breaking chang

[2017-11-14 19:26] nitaliano commented on #759
I added the fix for the warning on https://github.com/mapbox/react-native-mapbox-gl/pull/761 going to close this out it will be in `6.0.1`

[2017-11-14 19:26] #759 closed, assigned to nobody

[2017-11-14 19:35] nitaliano commented on #758
It's has an ease-in-out function applied to the camera animation making it use a linear function and not using the flight camera makes it fast.

[2017-11-14 19:40] henrikra commented on #759
Why the peer dependency is there in the first place?

[2017-11-14 20:20] StevanCakic opened #762 "[Question]Store data when user interacts with map"
I am building a mobile app that collects data from a map and store it and shows that stored data from some data source .json.  I'm trying to find a way to store data when you, for example, click on the map or you draw a polygon, etc. Should I create API, for example with NodeJS for that or is there any simpler solution for that?

This is an example what I want: https://openlayers.org/en/latest/exa

[2017-11-14 20:28] nitaliano commented on #729
I'm still having trouble reproducing this issue, I'm wondering if this was a side effect of another bug. Would you be able to test this out again with `master`?

[2017-11-14 20:33] hannta opened #763 "MapView centerCoordinate prop documentation"
MapView `centerCoordinate` prop documentation says: "Initial center coordinate on map [lng, lat]"

But isn't that more than just **initial** center coordinate? If I update `centerCoordinate` after map is loaded, map center is also changed.

[2017-11-14 20:37] nitaliano commented on #762
You have a few options
* Mapbox has a dataset API https://www.mapbox.com/api-documentation/#datasets
* You can use Firebase and store all the geometry objects as features -https://tools.ietf.org/html/rfc7946. Firebase could be cool if you want a realtime map
* You can always roll your and store this in a DB and put an API in front of it.

[2017-11-15 00:19] brentvatne commented on #751
this doesn't work with expo unfortunately. it would be nice to have support one day -- can you create a feature request on https://expo.canny.io/feature-requests @lucasbento? the only way to use it now is to "detach" your project

[2017-11-15 00:27] nitaliano commented on #751
@brentvatne Hi, I'm the one maintaining this repo, would love to get this into Expo and I can provide as much support as needed.

@lucasbento @josenaves  Here is the ticket https://expo.canny.io/feature-requests/p/add-mapbox-gl-support

[2017-11-15 00:37] ide commented on #751
Apologies if this derails the conversation, Expo has a GL implementation in JS (similar to WebGL) -- if Mapbox has a WebGL implementation that doesn't depend on DOM things, it might run on Expo.

[2017-11-15 01:21] nitaliano commented on #706
@kristfal I have my first pass at a PR for updating the filtering let me know what you think https://github.com/mapbox/react-native-mapbox-gl/pull/764. I'll work on updating the StyleSheet once we get filtering out of the way

[2017-11-15 08:17] lucasbento commented on #751
Awesome!

[2017-11-15 08:52] fzf opened #765 "undefined is not an object (evaluating 'MapboxGL.UserTrackingModes')"
Steps to reproduce:

`create-react-native-app AwesomeProject`
`npm run eject` chose either regular react-native or expokit
~~`npm install @mapbox/react-native-mapbox-gl --save`~~ this fails on Mapbox dependency needs the switch to Mapbox-iOS-SDK
`git clone https://github.com/mapbox/react-native-mapbox-gl.git` into `node_modules/@mapbox`
add `pod 'react-native-mapbox-gl', :path => '../node_modules/

[2017-11-15 09:36] kristfal commented on #706
Hey,

filtering looks correct in my tests now. The only remaining issue seems to be that they don't update at runtime or hot reloads. Keep up the good work, this is really nice 👍

Update: Filtering on Android still seems a bit off for all layer types when using filtering with an `in` statement like this:

`['in', 'type', 'arc']` or `['in', 'stylegroup', 'mainroad', 'minorroad', 'motorway']`

In th

[2017-11-15 09:56] lucasbento commented on #655
@calintamas: sorry, no. :/

Just upgraded to `6.x`.

[2017-11-15 10:34] lucasbento commented on #736
@nitaliano: do you know when you will release `6.0.1`?

[2017-11-15 13:02] lucasbento commented on #758
This fix indeed works, thank you!

Just for reference what I did is:

[code]

`duration === 0.1` because if it's not specified or `=== 0` it will default to `2000`.

@nitaliano, @hernanmateo: I believe that it should be faster in core, for now I will use this _workaround_.

[2017-11-15 14:13] smoll opened #766 "[v6] segfaults when subscribing to offline pack download, then trying to render a MapView"
I'll try to create up a minimal repro tonight, but here are the snippets of code that seem to be causing problems for me. I'm using a Redux Thunk to trigger the initial map download, e.g.

[code]

then on a "download status" component subscribe to download updates again

[code]

at first I thought this code was working great, but then later on, with no code changes, I noticed that my app was crash

[2017-11-15 14:33] lucasbento commented on #631
@nitaliano: how exactly do I do that?

The following code doesn't return the `LineLayer` even though I am clicking on it.
[code]

Which returns only the stuff around the `LineLayer`:

![image](https://user-images.githubusercontent.com/6207220/32841297-392989dc-ca1a-11e7-9ad8-9aa8d93c13ff.png)

[2017-11-15 15:37] calintamas commented on #655
The issue was a conflict related to OkHttp package version. A solution is to add this

[code]
in ` src/app/build.gradle`

[2017-11-15 17:00] Jose4gg opened #767 "[HELP] Error building on Android"
If I add the new Mapbox package to my app/build.gradle I receive this error:

Execution failed for task ':app:transformClassesWithJarMergingForDebug'.

Any help?

[2017-11-15 17:06] hernanmateo commented on #758
Nice! Thanks @lucasbento

[2017-11-15 17:11] nitaliano commented on #767
Can you post your android/build.gradle and app/build.gradle? I would also try to clean the project and rebuild

[2017-11-15 17:19] josenaves commented on #751
Trending now :+1:

https://expo.canny.io/feature-requests

[2017-11-15 17:32] nitaliano commented on #706
@kristfal I think I see the problem I'm passing in a `List<Object>` when the filter is expecting `...Object` so updating the code to pass in a `Object[]` should fix `in` and `!in`

[2017-11-15 17:55] henrikra commented on #745
@nitaliano I think you forgot to close this?

[2017-11-15 18:33] nitaliano commented on #706
Just pushed a commit. I tested it using

[code]

and it seems to be working now

I also pushed a commit that enables updating filtering at runtime.

[2017-11-15 18:37] nitaliano commented on #745
Yes! Thanks for reminding me

[2017-11-15 18:37] #745 closed, assigned to nobody

[2017-11-15 18:48] nitaliano commented on #736
@lucasbento I'm going to do a release at the end of every week unless an urgent bugfix is needed, so I'll publish `6.0.1` this Friday.

[2017-11-15 18:59] lucasbento commented on #736
@nitaliano: alright, thanks!

[2017-11-15 19:23] #760 closed, assigned to nobody

[2017-11-15 19:28] nitaliano commented on #765
@fzf cocoa pods won't work until we merge in https://github.com/mapbox/react-native-mapbox-gl/pull/741

[2017-11-15 19:28] #765 closed, assigned to nobody

[2017-11-15 19:44] nitaliano commented on #746
We support whatever is possible to do with the native SDKs, so when you set `MapView.styleURL`, `ShapeSource.url`, `RasterSource.url`, and `VectorSource.url` it's just a direct pass through to the native SDK method calls. I'm not 100% sure if the native SDKs support GeoPackages, if they do and there is a bug in the RN repo we can fix them to add support. This is what we have documented for creatin

[2017-11-15 19:44] #746 closed, assigned to nobody

[2017-11-15 23:06] mlandauer commented on #729
I'll have a go at testing against `master` now.

[2017-11-15 23:19] mlandauer commented on #729
@nitaliano unfortunately this problem is still there when I update to the latest `master` (0e17f89c69d7688381705072d3660bbdc48e80d4)

To be safe I restarted the bundler and did a clean build. I definitely picked up the latest changes because I can see that the problems I reported in #728 and #726 are now fixed!

[2017-11-16 03:55] butchmarshall commented on #706
I'd love a little more info on how LineLayer filtering works.  Is it possible to filter by properties I set on my geoJSON feature?

[2017-11-16 07:25] hannta opened #768 "[Android] Crash when no location permission"
If I do not have location permission allowed and I set map view `showUserLocation` to true, my app crashes.

I think this is bit rude functionality from the lib, mapbox should check permissions before trying to do something which needs them.
[code]

[2017-11-16 08:04] lucasbento opened #769 "`queryRenderedFeaturesAtPoint` doesn't seem to work for `LineLayer`"
I'm trying the following code:
[code]

Which doesn't return the `LineLayer` even though I am clicking on it. It only returns the stuff around the `LineLayer`:

![image](https://user-images.githubusercontent.com/6207220/32841297-392989dc-ca1a-11e7-9ad8-9aa8d93c13ff.png)

cc @nitaliano.

[2017-11-16 10:07] kristfal commented on #706
@nitaliano Looks good regarding filters.

Found one issue: I notice that if I run 2 maps on Android at the same time, the 2nd "clones" the viewport of the first map, and is by itself unresponsive to input gestures. This works fine on iOS.

I just tested, and that issue is also present on master as well, however it was working fine a few commits ago / before I upgraded to RN 0.50.1.

You able to re

[2017-11-16 13:43] jliebrand opened #770 "[v6] Any plans for cluster properties on VectorSource?"
I noticed the ShapeSource allows for point clustering. Any chance to get that enabled on the VectorSource also? (eg I have a dataset hosted on mapbox as an mbtileset, and I would like the points to cluster)

[2017-11-16 14:42] nitaliano commented on #769
Follow this example https://github.com/mapbox/react-native-mapbox-gl/blob/master/example/src/components/QueryAtPoint.js#L42 the native SDK is expecting it to be pixel coordinates not a latlng

[2017-11-16 14:42] #769 closed, assigned to nobody

[2017-11-16 14:50] nitaliano commented on #770
VectorSource does not support clustering currently only the ShapeSource allows clustering in the native SDKs. ShapeSource does accept a URL as well so if you do have a geosjon dataset on a server you can use it

[2017-11-16 14:50] #770 closed, assigned to nobody

[2017-11-16 14:52] #762 closed, assigned to nobody

[2017-11-16 14:53] Jose4gg commented on #767
I saw the problem basically I have to exclude `android.arch.core` module from the mapbox project.

[2017-11-16 14:53] #767 closed, assigned to nobody

[2017-11-16 14:58] Jose4gg commented on #598
@nitaliano Any progress with this?

[2017-11-16 17:45] nitaliano commented on #706
@kristfal a new issue to track it would be good

@butchmarshall yes

Here is a link to the style spec that explains more about filtering https://www.mapbox.com/mapbox-gl-js/style-spec/#other-filter scroll all the way to the bottom to the Filter section.

Essentially if I provide GeoJSON into a shape source I can then filter on those properties, so let's say I have this

[code]

I can then filter t

[2017-11-16 17:45] #706 closed, assigned to nobody

[2017-11-16 17:50] nitaliano commented on #743
I'm going to hold off on putting this into `6.0.1` Android is moving towards using the `LocationLayerPlugin` and there is not native support for this field. I will add the native code needed to do this on Android it will take more time.

[2017-11-16 17:51] nitaliano commented on #742
I'm going to hold off on putting this into `6.0.1` Android is moving towards using the `LocationLayerPlugin` and there is not native support for this callback, so it will be interesting getting this added

[2017-11-16 17:51] #713 closed, assigned to nobody

[2017-11-16 17:53] nitaliano commented on #763
Yes, I can update the docs for this as it does work. In the future I do think it would be best to use the  `setCamera` method as future releases of the native SDK's are going to allow us to animate multiple camera properties at the same time, so you'll be able to make the camera do some cool things that you wouldn't get by just setting the property

[2017-11-16 17:53] #763 closed, assigned to nobody

[2017-11-16 17:54] nitaliano commented on #768
I'll get this into `6.0.1` and it will be published tomorrow.

[2017-11-16 17:57] nitaliano commented on #766
@smoll I'll start looking into this, I think what you provided is good enough for me to get going. I do have one question is this only happening to you on iOS?

[2017-11-16 17:59] butchmarshall commented on #706
This is amazing.  v6 branch is everything I wanted from v5.  Thanks for your hard work!

[2017-11-16 18:09] StevanCakic opened #771 "[Question] Zoom Control"
Hi,

there is no built-in zoom control buttons, for example, ZoomControl component? Do I need to create these buttons from scratch?

Thanks

[2017-11-16 19:05] nitaliano commented on #771
Yup, you can pitch and double tap to zoom in and out by default. If you need to move or zoom to a certain location you need to add a custom button on top of the map and call the camera methods on the MapView. If you want a prebuilt button I would recommend https://react-native-training.github.io/react-native-elements/API/buttons/ or https://github.com/oblador/react-native-vector-icons#iconbutton-c

[2017-11-16 19:05] #771 closed, assigned to nobody

[2017-11-16 19:36] smoll commented on #766
@nitaliano I haven't been able to spin up Android due to an unrelated issue blocking me from concurrent development.

I did want to share one piece of info though:

I discovered that when I unsubscribe inside my reducer, once the download is fully complete, the crashes stopped. To be more explicit, I did this:

[code]

so it could be my original error was just that I was never correctly unsubscrib

[2017-11-17 01:28] esamelson opened #772 "Adding *Translate properties not working"
I'm wondering about the correct syntax for adding *Translate properties to style layers (e.g. circleTranslate). As far as I can tell, the documentation on this repo says two different things: they say type is `array` (which matches the StyleJSON spec), but then also that "Values are `{ x: number, y: number }`". I've tried both and they both produce an NSObject doesNotRecognizeSelector error. Pleas

[2017-11-17 03:34] butchmarshall opened #773 "[v6] Trying to remove a view index above child count 4 view tag"
I'm running v6 master branch right now.

1) I long-press a line, which causes the MapboxGL_TrailInformation to properly render a line
2) I then clear the line, which causes MapboxGL_TrailInformation to render null.

This is when I get the crash at the bottom.

Main render block:
[code]

MapboxGL_TrailInformation render block:

[code]

![image](https://user-images.githubusercontent.com/339763/32927

[2017-11-17 03:41] butchmarshall opened #774 "[v6] Error while updating property 'shape' of a view managed by RCTMGLShapeSource - Failed to allocate"
This is on v6 master branch - randomly happens.

![image](https://user-images.githubusercontent.com/339763/32928294-3b432aec-cb1f-11e7-87bb-6e44b9a68573.png)

[2017-11-17 03:44] butchmarshall commented on #773
This is a workaround for anyone else encountering this - don't remove the ShapeSource, only the line.

[code]

[2017-11-17 04:00] nitaliano commented on #774
How large is the dataset that you're passing over the bridge? I've never tried this yet, but when the dataset becomes too large we can't pass it over the bridge so you can store the data in a json file and use RN fetch blob to pass a URL to the file over the bridge and let the native code handle it from their. ShapeSource has a url property on it.

[2017-11-17 04:04] butchmarshall commented on #774
The data set is very large.

I'll try the blob+url - thanks!

[2017-11-17 04:08] nitaliano commented on #774
Yea, let me know how it goes. If it doesn't work I'll make sure we add support to work with RN fetch blob

[2017-11-17 04:58] butchmarshall commented on #774
Disregard my previous message -  It works perfectly!

file:///data/user/0/com.snow_trails/files/polylines_1.json

I shouldn't submit bug reports at midnight.

[2017-11-17 06:45] henrikra opened #775 "Android crash: java.lang.NoClassDefFoundError timber.log.Timber"
Some of our users are having this kind of crash and it points to Mapbox SDK. Do you have any idea why this would happen @nitaliano ?

Crash happened with: Samsung SM-T315 (Android 4.4.2)

[code]

[2017-11-17 06:50] RNMBuser commented on #743
It'll be of great help if you could let it into 6.0.1, even if it's not done and not documented yet, since I need it urgently for an iOS app.

[2017-11-17 06:51] RNMBuser commented on #742
It will be of great help if you could add it to iOS, even if it's not done and not documented, since I need it urgently for an iOS app.

[2017-11-17 07:45] vieraleonel opened #776 "Question: Lower Android API levels support (v6) ?"
Hi,

Are you planning on lowering the Android API Support? Currently API 25 (7.1) and up, only owns 3.3% of the total android users. [Android Report - Dashboard](https://developer.android.com/about/dashboards/index.html)

Or maybe I'm getting version support wrong?

Thanks

[2017-11-17 08:21] henrikra commented on #763
@nitaliano So `centerCoordinate ` should be deprecated?

[2017-11-17 09:21] RNMBuser commented on #742
I'll elaborate as to why I think this is urgent.
Suppose you have an app that has a button that allows user to center map on current position. There cannot be indication when the user moves the map, since the animated property on regionDidChange is true if the user pushes the map and does not hold it after the move.

This is critical when using properties on React Native (there's no way to force a

[2017-11-17 09:27] hannta commented on #776
`minSdkVersion` is 16, which excludes only ~3,2% of the devices.

[2017-11-17 13:37] henrikra opened #777 "[iOS] The map is shifted half a screen"
Possible race condition with map initialisation or something. I have come across this weird bug which I can reproduce about 50% of every app start. This is very critical bug ❗️

Here I have simple app that just shows map component on startup and the map will position itself to certain coordinates with `centerCoordinate`.

[code]

Most of the time the map will show correctly "Kamppi" in the center

[2017-11-17 13:42] Jose4gg opened #778 "[QUESTION] Is It possible get this component (Arrow user location) for user location?"
![image](https://user-images.githubusercontent.com/17036072/32950120-96c26246-cb7b-11e7-9ced-168582cf455f.png)

I want the icon of the arrow with the heading instead of the normal point, Is there a way to do this?

[2017-11-17 14:43] henrikra commented on #777
Happy news!!! 🎉  I managed to do repo that reproduces this bug! It is here: https://github.com/henrikra/mapbox-shifted-map-bug

So it has to do something with `react-native-navigation` + `react-native-mapbox-gl` v6.
@nitaliano to reproduce this you need iPhone (I used iPhone 6s). Just build the project to your phone and when to app starts it shows "Kamppi" most of the time as it should. But now st

[2017-11-17 15:13] henrikra commented on #777
I also made video on how to reproduce the bug with the repo: https://drive.google.com/file/d/1uAPjtq_hzRWUWL60oRoYxhywLlxULKlQ/view?usp=sharing
As you can see from the video it can take bunch of times to get the bug view since the cause must be race condition. Skip to last 20 seconds of the video if you wan't to see successful bug state.

[2017-11-17 15:53] kaynz opened #779 "[QUESTION] Callout without PointAnnotation"
Hey guys,

thanks for this great library. I just switched over from react-native-maps.

I would like to have Callouts (e.g. labels) on my map without PointAnnotations. Is this possible?

I already tried to make the PointAnnotation invisible with opacity and visibility stuff but it didn't work.
Thanks!

[2017-11-17 16:15] nitaliano commented on #776
Yup, minSdkVersion is 16

[2017-11-17 16:15] #776 closed, assigned to nobody

[2017-11-17 16:20] nitaliano commented on #778
Set your `userTrackingMode={MapboxGL.UserTrackingModes.FollowWithHeading}` and that should update to that icon

[2017-11-17 16:20] #778 closed, assigned to nobody

[2017-11-17 16:22] nitaliano commented on #766
I'm going to close this out, I plan on making some redux and mobx examples so this will be good to put into the examples

[2017-11-17 16:22] #766 closed, assigned to nobody

[2017-11-17 16:24] nitaliano commented on #777
@henrikra I'll check this out. My first guess without debugging this is since both the `View` and the `MapView` have `flex=1` on them the parent of the view could be larger than the screen? Could be interesting to hard code the width and height using https://facebook.github.io/react-native/docs/dimensions.html for now and seeing if you still see the problem

[2017-11-17 16:26] nitaliano commented on #775
@tobrun have you ever seen the above error before?

[2017-11-17 16:29] nitaliano commented on #779
Depending on what you need it to look like you can achieve something like this with a SymbolLayer. Would you be able to post a screen of what it would look like?

[2017-11-17 16:31] nitaliano commented on #772
The docs are autogenerated from the style spec, so there's still some cleanup to do. The correct way is `{ x: number, y:number }` and it's most likely a type mismatch where I'm passing in a `NSArray` when it's expecting a `CGVector`

[2017-11-17 16:31] henrikra commented on #775
I don't think I have seen it before. Now we got this error on Samsung GT-S7580 (Android 4.2.2) too

[2017-11-17 16:34] #752 closed, assigned to nobody

[2017-11-17 16:36] nitaliano commented on #621
I believe that just made it's way into gl-native, so once it hit's the native SDKs we'll work on getting that into this repo, all we have for now is a `RasterSource` and `RasterLayer`.

[2017-11-17 16:36] #621 closed, assigned to nobody

[2017-11-17 16:52] Jose4gg commented on #778
Thanks man, @nitaliano I tested that and didn't work for me, but now I know the reason, if I pass a number 3 to the property it shows me the heading but if I use the constant it does not, the reason is the constant is returning a number 2 not a number 3, I don't know which is wrong the constant or the MapView component but definitely there is a bug there.

[2017-11-17 16:56] Jose4gg commented on #778
One more thing, If I move the map to that mode the annotation gets reset and I lose the annotation, Is there a way to lock the mode even if the user moves the screen?

[2017-11-17 17:09] kaynz commented on #779
@nitaliano
![adb_2017-11-17_18-07-50](https://user-images.githubusercontent.com/12952835/32959636-86ff40a8-cbc2-11e7-8833-d62b5c0cdb51.png)

[2017-11-17 17:15] esamelson commented on #772
Okay, thanks. I've tried that and it's definitely not working.

Since work needs to be done on it anyway, is there any chance it could be changed to accept an array instead, matching the StyleJSON spec? In my project, I'm managing my entire styleJSON as a JS object (which works out of the box with mapbox-gl-js and react-mapbox-gl), and the fewer things I have to customize for my RN component, the

[2017-11-17 18:12] Jose4gg opened #780 "[BUG] userTrackingWithHeading disappear after user scroll"
If I have the user track mode set with heading and I try to zoom, scroll or rotate the map the annotation is reset to the normal blue point.

[2017-11-17 18:23] vieraleonel commented on #776
Excelente thanks

[2017-11-17 18:24] nitaliano commented on #778
ah right it's `FollowWithCourse`....`FollowWithHeading` is the blue dot with the arrow not the nav icon

[2017-11-17 18:25] nitaliano commented on #780
I'm seeing this on iOS, Android seems okay

[2017-11-17 18:54] nitaliano commented on #780
@Jose4gg it seems to be the expected behavior https://www.mapbox.com/ios-sdk/api/3.6.4/Enums/MGLUserTrackingMode.html#/c:@E@MGLUserTrackingMode@MGLUserTrackingModeFollow since that is really expected to be used by the nav sdk there's not much we can do about that here.

What I would recommend doing and I will eventually have a UI pack done for common layers is to create a `ShapeSource` and have a

[2017-11-17 18:54] #780 closed, assigned to nobody

[2017-11-17 19:08] nitaliano commented on #768
@hannta PR is out https://github.com/mapbox/react-native-mapbox-gl/pull/781

[2017-11-17 19:33] nitaliano commented on #773
are you still seeing this on `master`?

[2017-11-17 19:51] nitaliano commented on #768
Closing this out as it's in master now and `6.0.1` will be published today

[2017-11-17 19:51] #768 closed, assigned to nobody

[2017-11-17 20:10] kaynz opened #782 "[QUESTION] Capture all touch events"
Hi, another question:

Your MapView captures onPress and onLongPress. Is it possible to capture onPressIn events, too?

This does not work:
`<TouchableWithoutFeedback onPressIn={foo}>
<MapboxGL.MapView/>
</TouchableWithoutFeedback>`

Docs: https://facebook.github.io/react-native/docs/touchablewithoutfeedback.html

[2017-11-17 20:52] kaynz commented on #779
I checked out your examples but couldn't figure out how to achieve this. It doesn't seem to be possible to set a text per feature in SymbolLayer, right?

[2017-11-17 21:00] nitaliano commented on #777
@henrikra I only have an iPad on hand to test with(trying to get my hands on an iPhone) and I can't reproduce it on the iPad or iPhone sim.

Update:
Found an iPhone 6s.  I've tried about 100 times each on a debug and release build and it did not happen once.

One idea could be putting an `onLayout` callback on the View without the MapView and once it's called add the MapView as a child. It could a

[2017-11-17 21:35] henrikra commented on #777
Did you try to lock the iphone screen between app reboots?

[2017-11-17 21:36] henrikra commented on #777
Do you have an idea what those race conditions could be?

[2017-11-17 21:42] nitaliano commented on #777
My guess is we didn't see this in v5 because the native components were not extending the MapView, so it was always rendered last which essentially stoped React lifecycle methods from working. Now we are extending the MapView so it's rendered right away, so I think it's frame related, which is why I would be curious to see if mounting the child after the onLayout will work

[2017-11-17 21:52] henrikra commented on #777
I can try these hacks on monday. But I think there should be some consistent way to make this eork with react-native-navigation 🤔

[2017-11-17 23:21] nitaliano commented on #777
I can cut you a build with some extra logging and when you reproduce you could send me those logs. That might be able to help narrow down the problem

[2017-11-17 23:46] nitaliano commented on #782
Those are not supported on in the native SDK, it's possible to add support for we would have to add the native event listeners ourself.

As for the `TouchableWithoutFeedback` I would try

[code]

[2017-11-17 23:46] #782 closed, assigned to nobody

[2017-11-17 23:52] nitaliano commented on #779
You can your styles have access to your feature properties

Let's say you have this feature collection, you can see each feature has a property `name`
[code]

and for the style you can access that property by using a token string
[code]

[2017-11-18 00:04] nitaliano commented on #774
@butchmarshall great! glad it's working I'm going to close this out

[2017-11-18 00:04] #774 closed, assigned to nobody

[2017-11-18 00:08] nitaliano commented on #772
I personally prefer using translate `{ x: number, y: number }` as that's what I'm used to doing with translate values in css.

I have however noticed this come up a few times requesting it be changed to an `array`, which makes me think that I should switch it to an array, especially if it creates the ability to share styles across web and mobile I'm all for that.

[2017-11-18 00:37] esamelson commented on #772
I'm of the opinion that since this is now an officially supported Mapbox JS library ( 🎉🎉🎉 ) it would make sense to mirror other Mapbox JS APIs and specifications, e.g. the StyleJSON spec, as much as possible. As a developer working with mostly cross-platform code (the main reason I use this library), the more similar the APIs are, the easier my life is too! :)

[2017-11-18 04:11] butchmarshall commented on #773
Just pulled latest master - fixed!

[2017-11-18 04:16] butchmarshall opened #784 "[v6 master] Crash nativeGetLayer in NativeMapView.java - MapboxGL.SymbolLayer / MapboxGL.CircleLayer"
Good:

[code]

Crash:
[code]

[code]
[code]

![image](https://user-images.githubusercontent.com/339763/32976799-0e5043d4-cbed-11e7-81a2-f877224f148e.png)

[2017-11-18 04:25] butchmarshall commented on #784
If I add an `id={"something"}` to the `MapboxGL.SymbolLayer` it no longer crashes.

[2017-11-18 07:03] henrikra commented on #777
We can try that 👍

[2017-11-18 07:31] kaynz commented on #782
Thanks. Unfortunately  your suggestion does not work. Are you going to add the native event listeners? If you're looking for a use-case: I want to switch to `UserTrackingModes.None` whenever the map is dragged.